* {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.main{
  display: flex;
  flex-direction: column;
  /* justify-content:space-evenly */
  width: calc(100vw - 300px);
}

.asset-category {
  margin: 0 30px;
  border-radius: 10px;
  border: 1px black lightgray;
  /* margin-top: 10px; */
  background-color: white;
  /* max-height: 70vh; */
  /* width: 80%; */
  /* margin: 20px auto; */
  padding: 20px;
  border: 1px solid lightgray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 2px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 40px;
  max-width: 275px;
  background-color: #fff;
  /* background-color: lightgray; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.search-bar:focus-within {
  border-color: #007bff; /* Blue border for focus */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Subtle blue glow */
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

/* Search Input Field */
#category-input {
  flex: 1;
  padding: 0 33px 0 33px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
}

.searchIcon{
  position: absolute;
  left: 10px;
  padding: 10px 0 10px 4px;
  pointer-events: none;
}

/* input{
border: 1px solid gray;
outline: none;
transition:  border-color 0.2s;
}
input:focus{
border: 2.5px solid #1a65ab;
-webkit-transition: border-width 0.2s, border-color 0.2s;
transition:  border-color 0.2s; 
} */

/* #category-input:focus {
  border: 2.5px solid #1a65ab;
  -webkit-transition: border-width 0.2s, border-color 0.2s;
  transition:  border-color 0.2s;
} */

.bi-trash3{
  color: red;
  margin: 0 5px;
  cursor: pointer;
  font-size: large;
}
.bi-pencil{
  color: #828385ad;
  margin: 0 5px;
  cursor: pointer;
  font-size: large;
}
thead th {
  position: sticky;
  top: 0;
  /* background-color: #343a40; */
  color: white;
  z-index: 2;
}

table{
  width: 100%;
  margin: 20px auto;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.table thead {
  font-size: 15.5px;
}

.table tbody {
  font-size: 16px;
  vertical-align: middle;
   border: 1px solid lightgray;
}

.table tr:hover{
  background-color: #f5f5f5;
}

.table tr:hover td{
  background-color: inherit;
}

.table-dark {
  --bs-table-bg: #12232E;
  --bs-table-color: white;
}

.no-data {
  text-align: center;
  font-style: italic;
  color: #888;
  margin-top: 15px;
  font-size: 16px;
}

.form-control{
  border-radius: 5px;
  border: 1px solid #c0c0c0;
  font-size: 16px;
  padding-left: 11px;
  margin-top: 5px;
  width: 100%;
  height: 35px;
}

.form-control:focus {
  border-color: #007bff; /* Change border color */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a glowing effect */
  outline: none; /* Remove default outline */
}

/* .form-control {
  width: 100%;
  box-sizing: border-box;
} */