
<div class="main">

  <div class="asset-category">

<!-- <div class="card mt-2">

  <div class="card-body"> -->

    <div *ngIf="showAlert" class="alert" [ngClass]="'alert-' + alertType" role="alert">
      {{ alertMessage }}
      <!-- Optionally, add a close button -->
      <button type="button" class="btn-close" (click)="showAlert = false" aria-label="Close"
        style="float: right;"></button>
    </div>

<!-- <<<<<<< HEAD -->
  
    <div class="d-flex justify-content-between;" style="justify-content: space-between;">
      <div class="search-bar">
        <input type="text" placeholder="Search" id="category-input"
          style="margin: 0; border-radius: 5px; height: 30px; " (keyup)="find($event)" #data>
        <i class="bi bi-search searchIcon"></i>
      </div>
      <div>
        <button class="btn btn-primary" style="height: 40px;" data-toggle="modal" data-target="#addField">+
          Category</button>
<!-- =======
    <div style="width: 100%;" class="d-flex justify-content-center">
      <div style="display: flex; justify-content: space-between; width: 100%;">
        <div>
          <input type="text" placeholder="Search By Name" id="category-input"
            style="margin: 10px 5px; border-radius: 5px; height: 30px; " (keyup)="find($event)" #data>
          <i class="bi bi-search searchIcon"></i>
        </div>
        <button class="btn btn-primary" style="margin: 10px 5px; float: right;" data-toggle="modal"
          data-target="#addField">+ Category</button> -->

      </div>
    </div>


<!-- <<<<<<< HEAD -->
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col" style="width: 25%;">ID</th>
          <th scope="col" style="width: 25%;">Name</th>
          <th scope="col" style="width: 25%;">Status</th>
          <th style="width: 25%;"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="searchedResult?.length > 0; else noAssetCategory">
          <tr *ngFor="let item of searchedResult">
            <td>{{searchedResult.indexOf(item)+1}}</td>
            <td>{{item.name}}</td>
            <!-- <td>{{item.status|titlecase}} </td> -->
            <!-- <td>
            <mat-slide-toggle  color="primary" [ngModel]="item.status=='active'" (change)="updateField(ch,item.name,item.id,item.companyId)"  #ch></mat-slide-toggle>
          </td> -->
            <td *ngIf="item.status=='active'">
              <!-- <mat-slide-toggle  color="primary" [ngModel]="item.status=='active'" (change)="updateField(ch,item.name,item.id,item.companyId)"  #ch></mat-slide-toggle></td> -->
              Active
            </td>
            <td *ngIf="item.status=='inactive'">
              <!-- <mat-slide-toggle  color="primary" [ngModel]="item.status=='active'" (change)="updateField(ch,item.name,item.id,item.companyId)"  #ch></mat-slide-toggle></td> -->
              In Active
            </td>

            <td>
              <div style="display: flex; align-items: center; gap: 15px;">
                <i class="bi bi-pencil" (click)="updateEditId(item.id)" (click)="updateEditName(item.name)" data-toggle="modal" data-target="#update-popup"></i>
                <i class="bi bi-trash3" (click)="updateDeleteId(item.id)" (click)="updateDeletionName(item.name)" data-toggle="modal" data-target="#popup"></i>
              </div>
            </td>

          </tr>

        </ng-container>
      </tbody>
    </table>
    <ng-template #noAssetCategory>
      <tr>
        <td colspan="4" class="text-center">
          <p *ngIf="searchedResult.length === 0" class="no-data">No categories available</p>
        </td>
      </tr>
    </ng-template>

  </div>

</div>

<!-- Deleting a Category -->

<div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header" style="padding: 13px 15px;">
        <h2 class="modal-title" id="exampleModalLongTitle">Alert. All asset data associated with this column will be deleted!!</h2>
        <button type="button" class="btn btn-light btn-sm ms-auto" data-dismiss="modal" aria-label="Close" style="border-radius: 10px;" #closeBox>
          <i class="bi bi-x-lg"></i>

        </button>
      </div>
      <div class="d-flex justify-content-center">

        <button class="btn btn-primary close" data-dismiss="modal" aria-label="Close" (click)="removeField()" (click)="closeBox.click()" style="margin-right: 20px; margin: 10px;">Sure</button>
        <button class="btn btn-danger close" data-dismiss="modal" aria-label="Close" (click)="closeBox.click()" style="margin: 10px;">Go Back</button>

      </div>
    </div>
  </div>
</div>

<!-- Creating a new Category -->

<div class="modal fade" id="addField" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="padding: 13px 15px;">
        <h2 class="modal-title" style="display: flex; justify-content: center; margin: 0;">Create Category</h2>
        <button type="button" class="btn btn-light btn-sm ms-auto" data-dismiss="modal" aria-label="Close" style="border-radius: 10px;" #closeBox2>
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
        <label>Name<span class="text-danger"> *</span></label>
        <input type="text" class="form-control" (keyup)="addField(mySelect.value)" #mySelect>
      </div>

        <div class="d-flex justify-content-center" style="margin-top: 15px;">
          <button class="btn btn-light" data-dismiss="modal" aria-label="Close" (click)="closeBox2.click()" style="margin: 10px; width: 100px; margin-right: 30px; border: 1px solid #c0c0c0">Cancel</button>
          <button class="btn btn-primary" (click)="onAddField()" (click)="closeBox2.click()" (click)="mySelect.value=''" style="margin: 10px; width: 100px;">Save</button>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Editing an existing Category -->

<div class="modal fade" id="update-popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="padding: 13px 15px;">
        <h2 class="modal-title" style="display: flex; justify-content: center; margin: 0;" id="exampleModalLongTitle">Edit Category</h2>
        <button type="button" class="btn btn-light btn-sm ms-auto" data-dismiss="modal" aria-label="Close" style="border-radius: 10px;" #closeBox>
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
      <div class="modal-body">

          <label>Name<span class="text-danger"> *</span></label>
          <input type="text" class="form-control" [(ngModel)]="this.editCurrCategory.name">
          <br>

          <div>
          <label>Status<span class="text-danger"> *</span></label>
          <select class="form-select form-control" id="status" [(ngModel)]="this.editCurrCategory.status">
            
            <option value="active" selected>Active</option>
            <option value="inactive">Inactive</option>

          </select>
        </div>

        <div style="display:flex; justify-content:center;margin-top: 15px;">

          <button class="btn btn-light" data-dismiss="modal" aria-label="Close" (click)="closeBox.click()" style="margin: 10px; width: 100px; margin-right: 30px; border: 1px solid #c0c0c0">Cancel</button>
          <button class="btn btn-primary close" data-dismiss="modal" aria-label="Close" (click)="updateCategory()" (click)="closeBox.click()" style="margin: 10px; width: 100px;">Save</button>

        </div>
      </div>
    </div>
  </div>
</div>