.main{
  display: flex;
  flex-direction: column;
  /* justify-content:space-evenly */
  /* width: calc(100vw - 400px); */
  width: calc(100vw - 250px);
  /* height: calc(100vh - 300px); */
}

.asset-category {
  margin: 0 50px;
  border-radius: 10px;
  border: 1px black lightgray;
  /* margin-top: 10px; */
  background-color: white;
  height: 65vh;
  /* width: 80%; */
  /* margin: 20px auto; */
  padding: 20px;
  border: 1px solid lightgray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar {
  display: flex;
  align-items: center;
  border: 2px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 40px;
  max-width: 275px;
  background-color: #fff;
  /* background-color: lightgray; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.search-bar:focus-within {
  border-color: #007bff; /* Blue border for focus */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Subtle blue glow */
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

/* Search Input Field */
#category-input {
  flex: 1;
  padding: 0 33px 0 33px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
}

.searchIcon{
  position: absolute;
  left: 10px;
  padding: 10px 0 10px 4px;
  pointer-events: none;
}

input{
border: 1px solid gray;
outline: none;
transition:  border-color 0.2s; /* Apply transition to border properties */
}
input:focus{
border: 2.5px solid #1a65ab; /* Change in border width */
-webkit-transition: border-width 0.2s, border-color 0.2s; /* Webkit for older browsers */
transition:  border-color 0.2s; 
}

/* #category-input:focus {
  border: 2.5px solid #1a65ab;
  -webkit-transition: border-width 0.2s, border-color 0.2s;
  transition:  border-color 0.2s;
} */

.bi-trash3{
  color: red;
  margin: 0px 5px;
}
.bi-pencil{
  color: #828385ad;
  margin: 0px 5px;
}

table{
  width: 100%;
  margin: 20px auto;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.table tbody {
  font-size: 16px;
  vertical-align: middle;
}

.table tr:hover{
  background-color: #f5f5f5;
}

.table tr:hover td{
  background-color: inherit;
}

.table-dark {
  --bs-table-bg: #12232E;
  --bs-table-color: white;
}

.no-data {
  text-align: center;
  font-style: italic;
  color: #888;
  margin-top: 15px;
  font-size: 16px;
}

.form-control:focus {
  border-color: #007bff; /* Change border color */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a glowing effect */
  outline: none; /* Remove default outline */
}

.form-control {
  width: 100%;
  box-sizing: border-box;
}
