<div *ngIf="showAlert" class="alert" [ngClass]="'alert-' + alertType" role="alert" style="margin: 5px; position: fixed; width: 95%; z-index: 100;">
  {{ alertMessage }}
  <!-- Optionally, add a close button -->
  <button type="button" class="btn-close" (click)="showAlert = false" aria-label="Close" style="float: right;"></button>
</div>

<div *ngIf="!detailedWorkOrder" [ngClass]="{'loading':loadingScreen}">
  <div class="d-flex justify-content-around">
  <div class="col flex justify-content-between searchBar" style="float: left;" >
    
    <input type="text" (keyup)="onSearch(search.value)" placeholder="Search"  #search>
    <button class="btn btn-primary ms-2" (click)="searchClick()" [disabled]="(!searchData)||(!searchDataBy)">Search By Fields</button>
  
     <i class="bi bi-search"></i>
     <a class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-funnel-fill" viewBox="0 0 16 16">
        <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
      </svg>
      
    </a>
    
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="z-index: 10; cursor: pointer;">
      <a class="dropdown-item" (click)="searchBy('description')">Search By Description</a>
      <a class="dropdown-item" (click)="searchBy('customer')">Search By Customer</a>
      <a class="dropdown-item" (click)="searchBy('status')">Search By Status</a>
      <a class="dropdown-item" (click)="searchBy('priority')">Search By Priority</a>
      <a class="dropdown-item" (click)="searchBy('dueDate')">Search By Due Date</a>
      <a class="dropdown-item" (click)="searchBy('assignedTechnician')">Search By Assigned Technician</a>
      <a class="dropdown-item" (click)="searchBy('assetDetails')">Search By Asset Details</a>
      <a class="dropdown-item" (click)="searchBy('lastUpdate')">Search By Last Update</a>
      <!-- <a *ngFor="let item of selectedExtraColums"  class="dropdown-item" (click)="onSort(item)">Sort By {{item}}</a> -->
    </div>
    
 </div>
  <div style="margin: 10px;">
    <a class="btn btn-secondary dropdown-toggle" type="button" id="sortButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sort <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-funnel-fill" viewBox="0 0 16 16">
        <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
      </svg>
      
    </a>
    <div class="dropdown-menu" aria-labelledby="sortButton" style="z-index: 10; cursor: pointer;">
      <a class="dropdown-item" (click)="sortBy('description')">Sort By Description</a>
      <a class="dropdown-item" (click)="sortBy('customer')">Sort By Customer</a>
      <a class="dropdown-item" (click)="sortBy('status')">Sort By Status</a>
      <a class="dropdown-item" (click)="sortBy('priority')">Sort By Priority</a>
      <a class="dropdown-item" (click)="sortBy('dueDate')">Sort By Due Date</a>
      <a class="dropdown-item" (click)="sortBy('assignedTechnician')">Sort By Assigned Technician</a>
      <a class="dropdown-item" (click)="sortBy('assetDetails')">Sort By Asset Details</a>
      <a class="dropdown-item" (click)="sortBy('lastUpdate')">Sort By Last Update</a>
      <a *ngFor="let item of selectedExtraColums"  class="dropdown-item" >Sort By {{item}}</a>
    </div>
    
  </div>
  <div>
    <ng-multiselect-dropdown
          [placeholder]="'Columns...'"
          [settings]="dropdownSettings"
          [data]="extraFieldNameList"
          [(ngModel)]="selectedExtraColums"
        
          id="custom-columns">
        </ng-multiselect-dropdown>
  </div>
    
    <button class="btn btn-primary mt-2 me-5" data-toggle="modal" data-target="#add-order" >+ Work Order</button>
    
  
</div>
<div class="row" style="height: calc(100vh - 140px); overflow: scroll; width: 100%;">
    <div class="col">
      <button *ngIf="searchDataBy" class="sort btn btn-secondary" (click)="removeSearchDataBy()">Search By: {{searchDataBy|titlecase}} &times;</button>
      <button *ngIf="sortedBy" class="sort btn btn-secondary" (click)="removeSort()">Sorted By: {{sortedBy|titlecase}} &times;</button>
      
      
      <table class="table" id="asset-table">
          <thead class="table-dark">
              <tr>
                  <!-- <th scope="col">#</th> -->
                  <th scope="col">Description</th>
                  <th scope="col">Customer</th>                 
                  <th scope="col">Status</th>
                  <th scope="col">Priority</th>
                  <th scope="col">Due Date</th>
                  <th scope="col">Assigned Technician</th>
                  <th scope="col">Asset Details</th>
                  <th scope="col">Last Update</th>
                  <th scope="col" *ngFor="let col of selectedExtraColums">{{col|titlecase}}</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of searchedWorkorder" (mouseenter)="editButtonVisibile(workorderlist.indexOf(item)+1)" (mouseleave)="editButtonNotVisible()">
                  <!-- <th scope="row">{{workorderlist.indexOf(item)+1}}</th> -->
                  
            
                  <td style="color: black;"><b>{{item.description|titlecase}}</b></td>
                  <td>{{item.customer|titlecase}}</td>
                  <td><div class="onhold" *ngIf='(item.status=="onHold")'></div><div class="open" *ngIf='(item.status=="open")'></div><div class="progress" *ngIf='(item.status=="inProgress")'></div><div class="closed" *ngIf='(item.status=="closed")'></div>{{item.status|titlecase}}</td>
                  <td ><div style="border-radius: 4px;" [ngClass]="{'low':(item.priority  =='Low'),'medium':(item.priority=='Medium'),'high':(item.priority=='High'),'none':(item.priority=='None')}">{{item.priority}}</div></td>
                  <td [ngClass]="{'due-passed':checkDueDate(item.dueDate)}">{{item.dueDate|date:"shortDate"}} <i class="bi bi-exclamation-triangle" *ngIf="checkDueDate(item.dueDate)"></i></td>
                  <td>{{item.assignedTechnician|titlecase}}</td>
                  <td>{{item.assetDetails|titlecase}}</td>
                  <td>{{item.lastUpdate|titlecase}}</td>
                  
                  <td *ngFor="let col of selectedExtraColums"> {{ item[col] }}</td>
                  <!-- <td>{{item.extraFields.}}</td> -->
                
                  <td>
                    
                  <i class="bi bi-pencil" [ngClass]="{'editoption':!(editVisibility&&(editButtonId==workorderlist.indexOf(item)+1))}"  style="float: inline-start; margin: 15px 5px;" (click)="workOrderDetail(item.id)" [routerLink]="['/workorder',item.id]" ></i>
                  <i class="bi bi-trash"  [ngClass]="{'editoption':!(editVisibility&&(editButtonId==workorderlist.indexOf(item)+1))}" style="color: red; float: inline-start; margin: 15px 5px;" (click)="deleteWorkorder(item.id)" ></i>
                </td>
                  
                </tr>
               
          </tbody>
        </table>
    </div>
  </div>

  <div class="modal fade" id="add-order" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog  modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLongTitle">Add Work Order</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeBox>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="workorderform" (ngSubmit)="addWorkOrder()">
            <div >
              <label for="description">Description</label>
              <input type="text" class="form-control" id="description"  formControlName="description"  placeholder="Description">
             
            </div>
            <div class="form-group">
              <label for="customer">Customer</label>
              <input type="text" class="form-control" id="customer" formControlName="customer"  placeholder="Customer">
            </div>
            
              <div class="form-group">
                <label for="due-date">Due Date</label>
                <input type="date" class="form-control" id="due-date" formControlName="dueDate"  placeholder="Due Date">
              </div>
            
            
              <div class="form-group">
                <label for="technician">Technician</label>
                <!-- <input type="text" class="form-control" id="technician" formControlName="assignedTechnician"  placeholder="Technician"> -->
                <select class="form-select" class="form-control" id="technician" formControlName="assignedTechnician" #technician>
                  
                  <option value="{{technician.firstName}}  {{technician.lastName}}" *ngFor="let technician of technicalUserList">{{technician.firstName}} {{technician.lastName}}</option>
                  
                </select>
              </div>
           
              <div class="form-group">
                <label for="priority">Priority</label>
                <select class="form-select" class="form-control" id="priority" formControlName="priority" >
                 
                  <option value="None" selected>None</option>
                  <option value="Low">Low</option>
                  <option value="Medium">Medium</option>
                  <option value="High">High</option>
                </select>
              </div>
              <div class="form-group">
                <label for="asset-details">Asset Details</label>
               
                <select class="form-select" class="form-control" id="asset-details" formControlName="assetDetails" #asset>
                  
                  <option value={{[asset.name,asset.id]}} *ngFor="let asset of assetList">{{asset.name}}</option>
                  
                </select>
              </div>
              <div class="form-group" *ngFor="let item of showFieldsList" >
                <div *ngIf="item.show">
                <label for={{item.name}}>{{item.name|titlecase}}<span *ngIf="mandatoryFieldsMap.get(item.name)" class="text-danger">*</span></label>
                <input type={{item.type}} class="form-control" id="{{item.name}}" formControlName={{item.name}}  placeholder={{item.name|titlecase}}>
                </div>
                <br>
              </div>
            
            <!-- <button type="submit" class="btn btn-primary mt-3" (click)="closeBox.click()" [disabled]="workorderform.invalid">Submit</button> -->
            <button type="submit" class="btn btn-primary mt-3" (click)="closeBox.click()" >Submit</button>
          </form>
         
        </div>
      </div>
    </div>
  </div>
</div>
<app-workorder-details [id]="selectedWorkOrder" (backStatus)=onBackClicked($event) *ngIf="detailedWorkOrder"></app-workorder-details>