* {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.main{
  display: flex;
  flex-direction: column;
  /* justify-content:space-evenly */
  width: calc(100vw - 270px);
  /* height: calc(100vh - 300px); */
}

.customer-category {
  margin: 0 30px;
  margin-bottom: 50px;
  border-radius: 10px;
  border: 1px black lightgray;
  /* margin-top: 10px; */
  background-color: white;
  /* max-height: 70vh; */
  /* width: 80%; */
  /* margin: 20px auto; */
  padding: 20px;
  border: 1px solid lightgray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.searchIcon{
  position: absolute;
  left: 10px;
  padding: 10px 0 10px 4px;
  pointer-events: none;
}
  /* #category-input {
    padding-left: 24px;
    border: 1px solid gray;
    outline: none;
    transition:  border-color 0.2s; /* Apply transition to border properties
} */

/* .bi-search{
  position: absolute;
  left: 20.5rem;
  pointer-events: none;
  top: 15.2rem;
} */

.bi-trash3{
  color: red;
  margin: 3px 5px;
  cursor: pointer;
}
.bi-pencil{
  color: #828385ad;
  margin: 3px 5px;
  cursor: pointer;
}
table{
  width: 100%;
    margin: 20px auto;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.table thead {
  font-size: 15.5px;
}

.table tbody {
  font-size: 16px;
  vertical-align: middle;
}

.table tr:hover{
  background-color: #f5f5f5;
}

.table tr:hover td{
  background-color: inherit;
}


.table-dark {
  --bs-table-bg: #12232E;
  --bs-table-color: white;
}

.form-control {
  border-radius: 5px;
  border: 1px solid #c0c0c0;
  font-size: 16px;
  padding-left: 11px;
  margin-top: 5px;
  width: 100%;
  height: 35px;
}

.form-control:focus {
  border-color: #007bff; /* Change border color */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a glowing effect */
  outline: none;
  /* transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out; */
}

.no-data {
  text-align: center;
  font-style: italic;
  color: #888;
  margin-top: 15px;
  font-size: 16px;
  /* padding: 10px; */
}

/* Search Bar Container */
.search-bar {
  display: flex;
  align-items: center;
  border: 2px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 40px;

  max-width: 275px;
  background-color: #fff;
  /* background-color: lightgray; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;

}

/* Search Input Field */
#category-input {
  flex: 1;
  padding: 0 33px 0 33px;
  /* padding: 0px 20px; */
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  /* padding-right: 10px;
  padding-left: 25px; */
}

.search-bar:focus-within {
  border-color: #007bff; /* Blue border for focus */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Subtle blue glow */
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

/* Icon in Search Button */
.search-button i {
  font-size: 18px;
}

.edit-icon {
  position: relative;
}

.edit-icon::after {
  content: '';
  width: 1px;
  height: 20px; /* Adjust height to match icon size */
  background-color: #ccc; /* Divider color */
  position: absolute;
  top: 50%;
  right: -13px; /*Adjust spacing between icon and divider*/
  transform: translateY(-50%);
}

thead th {
  position: sticky;
  top: 0;
  /* background-color: #343a40; */
  color: white;
  z-index: 2;
}