.main{
    display: flex;
    flex-direction: column;
    /* justify-content:space-evenly */
    /* width: calc(100vw - 400px); */
    width: calc(100vw - 280px);
}

img{
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    height: 300px;
    margin-bottom: 30px;
}

.option{
    width: calc(100vw - 400px);
    margin-top: 50px;
    
    height: 70px;

    margin-left: 60px;
}

 span{
    /* border: 1px solid #8c8e91; */
    border: 1px solid #c2c7cf;
    width: 50%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    border-radius: 5px;
    font-size: large;
    margin: 0px 1px;
    background-color: #c2c7cf;
    cursor: pointer;
   
} 
span:hover{
    border:2px solid darkgray; 
}
.container{
    display: flex;
    flex-direction: column;
   
} 
.selected-option{
    background-color: #12232E;
    color: white;
    font-weight: bold;
    
}
/* .bi-search{
    position: absolute;
    left: 20.5rem;
    pointer-events: none;
    top: 14.7rem;
} */
/* input{
    padding-left: 25px;
    border-radius: 10px;
    width: 250px;
    height: 35px;
    color: #717275;
    border-radius: 8px;
    border: 2px solid #aab1b8;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline:none;
} */



.locations,.bins{
    margin: 0 50px;
    border-radius: 10px;
    border: 1px black lightgray;
    /* margin-top: 10px; */
    background-color: white;
    height: 65vh;
    /* width: 80%; */
    /* margin: 20px auto; */
    padding: 20px;
    border: 1px solid lightgray;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* input:focus{ */
    /* padding-left: 25px;
    border-radius: 10px;
    width: 250px;
    height: 35px; */
    /* border: 2px solid #1a65ab; */
/* } */

.location_table{
    margin-top: 20px;
    width: 100%;
    height: 80%;
    /* border: 1px solid lightgray; */
    overflow-y: scroll;
    border-radius: 10px;
}

.location_table thead{
    top: 0;
    position: sticky;
    z-index: 100;
}

.location_table tbody{
    border: 1px solid lightgray;
    border-radius: 10px;
    font-size: 16px;
}

.location_table td {
    vertical-align: middle;
}

.location_table tr:hover{
    background-color: #f5f5f5;
}

.location_table tr:hover td{
    background-color: inherit;
}

.editoption{
    opacity: 0;
}

#edit-button{
    font-size: 18px;
     color: #5E6164;
}

#edit-button:hover{
    color: #0D6EFD;
}

.form-group:focus {
    border-color: #007bff; /* Change border color */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a glowing effect */
    outline: none; /* Remove default outline */
}

.form-select:focus {
    border-color: #007bff; /* Change border color */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a glowing effect */
    outline: none; /* Remove default outline */
}

.location_table .table {
    border-collapse: collapse;
    /* border: 1px solid #ddd; Default border for the table */
}

.location_table .table tbody tr {
    border-bottom: 1px solid #ddd;
}

.location_table .table:not(:has(tbody tr)) {
    border: none;
}

.no-data {
    text-align: center;
    font-style: italic;
    color: #888;
    margin-top: 15px;
    font-size: 16px;
    /* padding: 10px; */
}

.search-bar {
    display: flex;
    align-items: center;
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 40px;
    max-width: 250px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  /* Search Input Field */
.location-search {
    flex: 1;
    padding: 0 33px 0 33px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    background-color: transparent;
}

.searchIcon{
  position: absolute;
  left: 10px;
  pointer-events: none;
  /* top: 0.65rem; */
  /* padding: 10px 12px; */
  padding-left: 4px;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.clearIcon {
    position: absolute;
    right: 10px;
    color: #888;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .clearIcon:hover {
    color: #000;
  }
  
  /* Search Button */
  /* .search-button {
    background-color: #4CAF50;
    border: none;
    color: #fff;
    padding: 6px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  
  /* .search-button:hover {
    background-color: #45a049;
  } */
  
  /* Icon in Search Button */
  /* .search-button i {
    font-size: 18px;
  } */

  .edit-icon {
    position: relative;
  }
  
  .edit-icon::after {
    content: '';
    width: 1px;
    height: 20px; /* Adjust height to match icon size */
    background-color: #ccc; /* Divider color */
    position: absolute;
    top: 50%;
    right: -13px; /*Adjust spacing between icon and divider*/
    transform: translateY(-50%);
  }
  
  .delete-icon {
    margin-left: 25px; /* Ensure spacing after the divider */
  }
  
  .search-bar:focus-within {
    border-color: #007bff; /* Blue border for focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Subtle blue glow */
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  