    <div *ngIf="showAlert" class="alert" [ngClass]="'alert-' + alertType" role="alert" style="margin: 5px; position: fixed; width: 95%; z-index: 100;">
    {{ alertMessage }}
   
    <button type="button" class="btn-close" (click)="showAlert = false" aria-label="Close" style="float: right;"></button>
    </div>
    <ul class="nav justify-content-between header">
  
      <div class="header-centre">
        <!-- <img src='../../assets/logo.png'> -->
        <h1>AssetYug</h1>
      </div>
    
    
    
    
      <li class="nav-item"  style="padding-right: 5px; margin-top: 10px;">
      <b>Welcome</b> <span style="margin: 10px;">{{username}}</span>
      <i class="bi bi-bell-fill" matBadge="15" matBadgeColor="warn"></i>
      
      <span class="dropdown">
        <a class="dropdown-toggle" type="button" data-toggle="dropdown" style="text-decoration: none; color: white;"><i class="bi bi-person-circle"></i>
       
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
         
          <li><a href="#" style="text-decoration: none; color: black;">Profile ({{email}})</a></li>
          <hr>
          <li>More Details</li>
       
         
         
    
        </ul>
        <a (click)="logout()" style="margin-left: 5px; cursor: pointer;">Logout</a>
      </span>
      
      </li>
    
    
    
    
    
    
    
      
      
      
    </ul>
    <div class="side-navbar"  (mouseover)="onHover()" (mouseleave)="offHover()" [ngClass]="{'nav-list-open':hoverOverSidebar}" >
      <ul class="nav-list"  >
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16" style="margin-left: 10px;"> 
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
      <hr>
      <li class="nav-list-item" *ngFor="let item of sideBarOption"  [ngClass]="{'selected':(current==item.number)}" (click)="update(item.number)" >
        
        <i class={{item.icon}}></i>
        <span >
          
          {{item.name}}
        </span>
      
      </li>
    
  
      <li  class="nav-list-item" style=" margin-top: 400px; margin-bottom: 0px; position: absolute; bottom: 0;" [routerLink]="['/setting-home']">
        <i class="bi bi-gear-fill"></i>
        <span >Settings</span>
      </li>
    </ul>
  </div>
  <div class="content-area" [ngClass]="{'content-area-onhover':!hoverOverSidebar}"  style="overflow-y:scroll; height: calc(100vh - 100px);">
    <div *ngIf="!loadingScreen">

        <div class="main" >
  
     
  
            <div class="mainform" style="width: calc(100vw - 90px);">
              <div class="d-flex justify-content-around"  style="position: sticky; top: 0px; z-index: 1000; border: 1px solid lightgray;border-radius:10px ; padding: 10px 10px; background-color: white;">
              <div style="display: flex; flex-direction: row; width: 80vw; height: 50px;">
                <div class="back-button" style="    padding: 0px 50px;">
                  <a [routerLink]="['/dashboard']" style="margin-right: 30px; text-decoration: none; font-weight: bold ;"  >&larr; Back to Customer</a>
                </div>
                <div class="v1"></div>
                <div style="margin: 0px 10px; font-size: larger; color: black;"><b>{{companyCustomer.name|titlecase}}</b></div>
                
              </div>
              <div class="d-flex justify-content-around">
                
                <div class="button-container" >
                  <button type="submit" class="centered-button btn btn-primary submit" style="padding:7px 28px ;" [routerLink]="['/customer/',companyCustomerId]"  *ngIf="!(userRoleDetails?.customers!='full'&&userRoleDetails?.customers!='edit' &&userRole!='ADMIN')">Edit</button>
                </div>
                
              </div>
            </div> 
                <!-- <hr> -->
                <h2 style="display: flex; justify-content: center;color: black; font-size: x-large;">Customer Details</h2>
                
                
                
                <div class="mainFields" style="font-size: 16px;" >
                  
                  <div>
                      <div style="display: flex; flex-direction: row;" class="d-flex justify-content-center">
                          <div style="margin: 0px 2vw;">
                              <label for="name" style="color: black; font-weight: bold;">Customer Name<span *ngIf="mandatoryFieldsMap.get('name')" class="text-danger">*</span></label>
                              <!-- <input type="text"  id="name"   [(ngModel)]=" companyCustomer.name" disabled> -->
                              <div style="margin: 10px;">
                              <p *ngIf="companyCustomer.name">{{companyCustomer.name}}</p>
                              <p *ngIf="!companyCustomer.name">&nbsp; </p>
                              <hr style="width: 20vw;">
                            </div>
                          </div>
                          <div style="margin: 0px 2vw;">
                              <label for="customer"  style="color: black; font-weight: bold;">Category<span *ngIf="mandatoryFieldsMap.get('category')" class="text-danger">*</span></label>
                              <!-- <input type="text"  id="category" [(ngModel)]="companyCustomer.category" disabled> -->
                              <div style="margin: 10px;">
                                <p *ngIf="companyCustomer.category">{{companyCustomer.category}}</p>
                                <p *ngIf="!companyCustomer.category">&nbsp; </p>
                                <hr style="width: 20vw;">
                              </div>
                              
                          </div>
                          
                          <div style="margin: 0px 2vw;">
                              <label for="status"  style="color: black; font-weight: bold;">Status<span *ngIf="mandatoryFieldsMap.get('status')" class="text-danger">*</span></label>
                              
                              <!-- <input id="status" type="text" [(ngModel)]=" companyCustomer.status"  disabled> -->
                              <div style="margin: 10px;">
                                <!-- <p *ngIf="companyCustomer.status">{{companyCustomer.status}}</p> -->
                                <td *ngIf="companyCustomer.status=='active'">Active</td>
                                <td *ngIf="companyCustomer.status=='inActive'">In Active</td>
                                <p *ngIf="!companyCustomer.status">&nbsp; </p>
                                <hr style="width: 20vw;">
                              </div>
                          </div>
                      </div>
                      <div style="display: flex; flex-direction: row;"  class="d-flex justify-content-around"> 
                          <div style="margin-right: 40px;">
                              <label for="phone"  style="color: black; font-weight: bold;">Phone<span *ngIf="mandatoryFieldsMap.get('phone')" class="text-danger">*</span></label>
                              
                              <!-- <input id="phone" type="text" [(ngModel)]=" companyCustomer.phone" disabled > -->
                              <div style="margin: 10px;">
                                <p *ngIf="companyCustomer.phone">{{companyCustomer.phone}}</p>
                                <p *ngIf="!companyCustomer.phone">&nbsp; </p>
                                <hr style="width: 20vw;">
                              </div>
                          </div>
                          <div  style="margin-left: 40px;">
                              <label for="email"  style="color: black; font-weight: bold;">Email<span *ngIf="mandatoryFieldsMap.get('email')" class="text-danger">*</span></label>
                              
                              <!-- <input id="email" type="text" [(ngModel)]=" companyCustomer.email"  disabled> -->
                              <div style="margin: 10px;">
                                <p *ngIf="companyCustomer.email">{{companyCustomer.email}}</p>
                                <p *ngIf="!companyCustomer.email">&nbsp; </p>
                                <hr style="width: 20vw;">
                              </div>
                          </div>
                    </div>
                  </div>
                  <hr>
                  <h2 style="display: flex; justify-content: center; margin: 10px 0px; color: black; font-size: x-large;">Address</h2>
                  
                  <div >
                  
                     <div style="display: flex; flex-direction: row;"  class="d-flex justify-content-center"> 
                          <div style="margin: 0px 2vw;">
                            <label for="address"  style="color: black; font-weight: bold;">Address/Street<span *ngIf="mandatoryFieldsMap.get('address')" class="text-danger">*</span></label>
                            <!-- <input type="text"  id="address"   [(ngModel)]=" companyCustomer.address" disabled> -->
                            <div style="margin: 10px;">
                              <p *ngIf="companyCustomer.address">{{companyCustomer.address}}</p>
                              <p *ngIf="!companyCustomer.address">&nbsp; </p>
                              <hr style="width: 20vw;">
                            </div>
                          
                          </div>
                          <!-- <div style="margin: 0px 2vw;">
                            <label for="apartment"  style="color: black; font-weight: bold;">Apartment<span *ngIf="mandatoryFieldsMap.get('apartment')" class="text-danger">*</span></label>
                           
                            <div style="margin: 10px;">
                              <p *ngIf="companyCustomer.apartment">{{companyCustomer.apartment}}</p>
                              <p *ngIf="!companyCustomer.apartment">&nbsp;</p>
                              <hr style="width: 20vw;">
                            </div>
                          </div> -->
                        
                          <div style="margin: 0px 2vw;">
                            <label for="city"  style="color: black; font-weight: bold;">City<span *ngIf="mandatoryFieldsMap.get('city')" class="text-danger">*</span></label>
                            
                            <!-- <input id="city" type="text" [(ngModel)]=" companyCustomer.city"  disabled> -->
                            <div style="margin: 10px;">
                              <p *ngIf="companyCustomer.city">{{companyCustomer.city}}</p>
                              <p *ngIf="!companyCustomer.city">&nbsp; </p>
                              <hr style="width: 20vw;">
                            </div>
                          </div>
                      </div>
                      <div style="display: flex; flex-direction: row;"  class="d-flex justify-content-around"> 
                          <div style="margin-right: 40px;" >
                            <label for="state"  style="color: black; font-weight: bold;">State<span *ngIf="mandatoryFieldsMap.get('state')" class="text-danger">*</span></label>
                            
                            <!-- <input id="state" type="text" [(ngModel)]=" companyCustomer.c"  disabled> -->
                            <div style="margin: 10px;">
                              <p *ngIf="companyCustomer.state">{{companyCustomer.state}}</p>
                              <p *ngIf="!companyCustomer.state"> &nbsp;</p>
                              <hr style="width: 20vw;">
                            </div>
                          </div>
                          <div style="margin-left: 40px;" >
                            <label for="zipCode"  style="color: black; font-weight: bold;">Zip Code<span *ngIf="mandatoryFieldsMap.get('zipCode')" class="text-danger">*</span></label>
                            
                            <!-- <input id="zipCode" type="text" [(ngModel)]=" companyCustomer.zipCode"  disabled> -->
                            <div style="margin: 10px;">
                              <p *ngIf="companyCustomer.zipCode">{{companyCustomer.zipCode}}</p>
                              <p *ngIf="!companyCustomer.zipCode">&nbsp; </p>
                              <hr style="width: 20vw;">
                            </div>
                          </div>
                      
                       </div>
                 
                  
                 
                  </div>
                </div> 
                <hr>
                
                
                  
              </div>
          
          
          
              
             
            </div>
           
          
           
            <div class="option d-flex flex-row mb-4">
              <span [ngClass]="{'selected-option':(currOption==1),'subTab':(currOption!=1)}" (click)="onClick(1)" >Asset</span>
              <span [ngClass]="{'selected-option':(currOption==2),'subTab':(currOption!=2)}" (click)="onClick(2)" class="subTab">Files</span>
              <span [ngClass]="{'selected-option':(currOption==3),'subTab':(currOption!=3)}" (click)="onClick(3)" class="subTab">Work Order</span>
              <span [ngClass]="{'selected-option':(currOption==4),'subTab':(currOption!=4)}" (click)="onClick(4)" class="subTab">Invoices</span>
              <span [ngClass]="{'selected-option':(currOption==5),'subTab':(currOption!=5)}" (click)="onClick(5)" class="subTab">Custom</span>
              
            </div>
            <div class="card mt-2" *ngIf="currOption==1"  >
              <!-- <h1 style="display: flex; justify-content: center; margin-top: 10px;">Assets</h1> -->
              <div class="card-body">
                <table class="table" id="asset-table" *ngIf="customerAssetList?.length">
                  <thead class="table-dark">
                      <tr>
                          <th scope="col">#</th>
                          <th scope="col">Image</th>
                          <th scope="col">Id</th>                 
                          <th scope="col">Name</th>
                          <th scope="col">Serial#</th>
                          <th scope="col">Category</th>
                          <th scope="col">Customer</th>
                          <th scope="col">Location</th>
                          <th scope="col">Status</th>
                         
                         
                          
                        </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of customerAssetList"  target="_blank" style="cursor: pointer;">
                          <th scope="row">{{customerAssetList.indexOf(item)+1}}</th>
                          
                    
                          <td style="color: black;"><img src="../../../assets/asset_image.jpg" class="image" *ngIf="!item.image" ><img src={{item.image}} class="image"  *ngIf="item.image"  ></td>
                          <td>{{item.assetId}}</td>
                          
                          <td>{{item.name|titlecase}}</td>
                          <td>{{item.serialNumber|titlecase}}</td>
                          <td>{{item.category|titlecase}}</td>
                          <td>{{item.customer|titlecase}}</td>
                          <td>{{item.location|titlecase}}</td>
                          <td *ngIf="item.status=='active'">Active</td>
                    <td *ngIf="item.status=='inactive'">In Active</td>
                    <td *ngIf="item.status=='outofservice'">Out Of Service</td>
                         
                         
                          
                          
                        </tr>
                       
                  </tbody>
                </table>
                <mat-paginator [length]="totalLength"
                (page)="handlePageEvent($event)"
                [pageSize]="pageSize"
               
                aria-label="Select page">
                </mat-paginator>
          
          
          
          
              </div>
            </div>
            <div class="card mt-2" *ngIf="currOption==2">
              <!-- <h1 style="display: flex; justify-content: center; margin-top: 10px;">Files</h1> -->
             
              <div class="card-body">
                <!-- <div>
                  <input type="file" style="width: 100%"  (change)="fileUpload($event)"  #imageFile>
                  
                </div> -->
                <!-- <div class="progress my-3" *ngIf="currentFile">
                  <div
                    class="progress-bar progress-bar-info progress-bar-striped"
                    role="progressbar"
                    attr.aria-valuenow="{{ progress }}"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    [ngStyle]="{ width: progress + '%' }"
                  >
                    {{ progress }}%
                  </div>
                  
                </div> -->
                <div *ngFor="let item of fileInfos">
                <div class="d-flex justify-content-between" style="margin: 5px;">
                  
                  <span style="font-size: large; background:none; border: none; justify-content:left;">{{item.fileName|titlecase}}</span>
                  <span style="font-size: large; background:none; border: none; justify-content:left;">{{item.uploadDateTime|date}}</span>
                  <div>
                   
                    <a (click)="download(item.id,item.fileName)"  style="margin: 0px 5px;"><i class="bi bi-file-earmark-arrow-down"></i></a>
                      <a (click)="itemDeleteDetails(item.id)" data-target="#popupDelete" data-toggle="modal" style="margin: 0px 5px;"><i class="bi bi-trash-fill delete"></i></a>
                      
                  </div>
                </div>
                </div>
              </div>
            </div>
            <div class="card mt-2" *ngIf="currOption==3"  style="overflow-y:scroll; height: 200px;">
              <!-- <h1 style="display: flex; justify-content: center; margin-top: 10px;">Work Order</h1> -->
              <div class="card-body">
                <table class="table" id="workorder-table" *ngIf="customerWorkOrderList.length">
                  <thead class="table-dark">
                      <tr>
                          <th scope="col">#</th>
                          <th scope="col">Description</th>
                          <th scope="col">Customer</th>                 
                          <th scope="col">Status</th>
                          <th scope="col">Priority</th>
                          <th scope="col">Due Date</th>
                          <th scope="col">Assigned Technician</th>
                          <th scope="col">Asset Details</th>
                          <th scope="col">Last Update</th>
                         
                         
                          
                        </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of customerWorkOrderList" target="_blank"  style="cursor: pointer;">
                          <th scope="row">{{customerWorkOrderList.indexOf(item)+1}}</th>
                          
                    
                          <!-- <td style="color: black;"><img src="../../../assets/asset_image.jpg" class="image" *ngIf="!item.image" ><img src={{item.image}} class="image"  *ngIf="item.image"  ></td> -->
                          <td>{{item.description}}</td>
                          
                          <td>{{item.customer|titlecase}}</td>
                          <td>{{item.status|titlecase}}</td>
                          <td>{{item.priority|titlecase}}</td>
                          <td>{{item.dueDate|titlecase}}</td>
                          <td>{{item.assignedTechnician|titlecase}}</td>
                          <td>{{item.assetDetails|titlecase}}</td>
                          <td>{{item.lastUpdate|titlecase}}</td>
                         
                         
                          
                          
                        </tr>
                       
                  </tbody>
                </table>
          
          
          
          
          
              </div>
            </div>
            <div class="card mt-2" *ngIf="currOption==5">
              <!-- <h1 style="display: flex; justify-content: center; margin-top: 10px;">Customs</h1> -->
              <div class="card-body">
                <div class="extraFields">
                  <div > 
                   <div *ngFor="let item of extraFieldName" >
                     <div *ngIf="!extraFieldString.includes(item.name) && showFieldsMap?.get(item.name)">
                       <span>{{item.name|titlecase}}<span *ngIf="mandatoryFieldsMap.get(item.name) " class="text-danger">*</span></span>
                       <br><input id="value" type="{{item.type}}" [(ngModel)]="extraFieldValue[extraFieldName.indexOf(item)]" disabled>
                       <p *ngIf="mandatoryFieldsMap.get(item.name) && extraFieldValue[extraFieldName.indexOf(item)]==''" class="text-danger">*Mandatory</p>
                     </div>
                   </div>
                  
                 </div>
                 <div >
                   <div *ngFor="let item of extraFields" >
                       <div *ngIf="showFieldsMap.get(item.name)">
                       <span>{{item.name|titlecase}}<span *ngIf="mandatoryFieldsMap.get(item.name) " class="text-danger">*</span></span>
                       <br><input id="value" type="{{item.type}}" [(ngModel)]="item.value" disabled>
                       <p *ngIf="mandatoryFieldsMap.get(item.name) && item.value==''" class="text-danger">*Mandatory</p>
                       </div>
                   </div>
                  
                  
                 </div>
               </div>
               
                 <div  *ngFor="let entry of companyCustomer?.extraFields | keyvalue">
                   <label for={{entry.key}}>{{entry.key+" "+entry.value.value}}</label>
                   <input type="text"  id="technician"  [ngModel]="entry.value.value"  disabled>
                 </div>
          
          
          
          
          
              </div>
            </div>
               
    </div>
  </div>
  <div class="modal fade" id="popupDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header ">
          Are you sure You Want to delete File
          <button type="button" class="close" data-dismiss="modal"  aria-label="Close" #closeBox4>
            <p aria-hidden="true" style="height: 10px;">&times;</p>
          </button>
        </div>
        <div class="d-flex justify-content-center">
          <div class="modal-body">
            <form>
            <button class="btn btn-primary" (click)="deleteFile()" (click)="closeBox4.click()" style="margin: 0px 10px;">DELETE</button>
            <button class="btn btn-danger close" data-dismiss="modal" aria-label="Close" (click)="closeBox4.click()">CANCEL</button>
            </form>
           
          </div>
         
          
          
         
        </div>
      </div>
    </div>
  </div>
       
  <div class="loading" *ngIf="loadingScreen"></div>
          