<!-- <app-company-customer-details *ngIf="detailModule" ></app-company-customer-details> -->
<div *ngIf="showAlert" class="alert" [ngClass]="'alert-' + alertType" role="alert" style="margin: 5px; position: fixed; width: 95%; z-index: 10000;">
  {{ alertMessage }}
 
  <button type="button" class="btn-close" (click)="showAlert = false" aria-label="Close" style="float: right;"></button>
</div>
<div *ngIf="!loadingScreen" >
  
  <div class="modal fade" id="myExample" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel">Advance Filter</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeBox3>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="filterForm" >

            <div style="width: 95%;">
            <div class="form-group" >
              <label for="companyCustomerId">Id</label>
              <div class="d-flex justify-content-around">
              <input type="text" class="form-control" id="companyCustomerId" formControlName="companyCustomerId"  #name>
              <!-- <i class="bi bi-trash-fill delete" style="display: inline-flex; margin-top: 12px; margin-left: 10px; color: red; margin-right: 5px;" (click)="removeMandatoryFieldFilter('assetId')"></i> -->
              </div>
              <br>
            </div>
            <div class="form-group" >
              <label for="name">Name</label>
              <div class="d-flex justify-content-around">
              <input type="text" class="form-control" id="name" formControlName="name"   #name>
              <!-- <i class="bi bi-trash-fill delete" style="display: inline-flex; margin-top: 12px; margin-left: 10px; color: red; margin-right: 5px;" (click)="removeMandatoryFieldFilter('name')"></i> -->
              </div>
              <br>
            </div>
         
              <div class="form-group">
                <label for="email">Email</label>
                <div class="d-flex justify-content-around">
                <input type="email" class="form-control" id="email" formControlName="email"  >
                <!-- <i class="bi bi-trash-fill delete" style="display: inline-flex; margin-top: 12px; margin-left: 10px; color: red; margin-right: 5px;" (click)="removeMandatoryFieldFilter('serialNumber')"></i> -->
                </div>
                <br>
              </div>
              
            
              <div class="form-group" >
                <label for="phone" >Phone</label>
                <div class="d-flex justify-content-around">
                <input type="text" class="form-control" id="phone" formControlName="phone" >
                <!-- <i class="bi bi-trash-fill delete" style="display: inline-flex; margin-top: 12px; margin-left: 10px; color: red; margin-right: 5px;" (click)="removeMandatoryFieldFilter('category')"></i> -->
                  </div>
                  <br>
              </div>
              
              <div class="form-group" >
                <label for="address">Address</label>
                <div class="d-flex justify-content-around">
                <input type="text" class="form-control" id="address" formControlName="address" >
                <!-- <i class="bi bi-trash-fill delete" style="display: inline-flex; margin-top: 12px; margin-left: 10px; color: red; margin-right: 5px;" (click)="removeMandatoryFieldFilter('customer')"></i> -->
                </div>
                <br>
              </div>
              
              <div class="form-group" >
                <label for="location">apartment</label>
                <div class="d-flex justify-content-around">
                <input type="text" class="form-control" id="apartment" formControlName="apartment"  >
                <!-- <i class="bi bi-trash-fill delete" style="display: inline-flex; margin-top: 12px; margin-left: 10px; color: red; margin-right: 5px;" (click)="removeMandatoryFieldFilter('location')"></i> -->
                </div>
                <br>
              </div>

              <div class="form-group" >
                <label for="city">City</label>
                <div class="d-flex justify-content-around">
                <input type="text" class="form-control" id="city" formControlName="city"  >
                <!-- <i class="bi bi-trash-fill delete" style="display: inline-flex; margin-top: 12px; margin-left: 10px; color: red; margin-right: 5px;" (click)="removeMandatoryFieldFilter('location')"></i> -->
                </div>
                <br>
              </div>

              <div class="form-group" >
                <label for="state">State</label>
                <div class="d-flex justify-content-around">
                <input type="text" class="form-control" id="state" formControlName="state"  >
                <!-- <i class="bi bi-trash-fill delete" style="display: inline-flex; margin-top: 12px; margin-left: 10px; color: red; margin-right: 5px;" (click)="removeMandatoryFieldFilter('location')"></i> -->
                </div>
                <br>
              </div>

              <div class="form-group" >
                <label for="zipCode">ZipCode</label>
                <div class="d-flex justify-content-around">
                <input type="number" class="form-control" id="zipCode" formControlName="zipCode"  >
                <!-- <i class="bi bi-trash-fill delete" style="display: inline-flex; margin-top: 12px; margin-left: 10px; color: red; margin-right: 5px;" (click)="removeMandatoryFieldFilter('location')"></i> -->
                </div>
                <br>
              </div>
              
              <div class="form-group" >
                <label for="status" >Status</label>
                <div class="d-flex justify-content-around">
                <select class="form-select" class="form-control" id="status" formControlName="status" #status>
                  <option value="active">Active</option>
                  <option value="inactive">In Active</option>      
                </select>
                <!-- <i class="bi bi-trash-fill delete" style="display: inline-flex; margin-top: 12px; margin-left: 10px; color: red; margin-right: 5px;" (click)="removeMandatoryFieldFilter('status')"></i> -->
                </div>
              </div>
      
              <h1 *ngIf="this.selectedFilterList?.length>0" style="margin-left: 33%; margin-top: 5px;">Custom Fields</h1>
              <div *ngFor="let input of selectedFilterList; let i = index" style="margin-top: 5px;">
                <label for={{input}}>{{input|titlecase}}</label>
                <input [formControlName]="input" type={{extraFieldFilterList.get(input)}} class="extraFieldInput"> <!-- Since each form group is wrapped in a form array -->
                <!-- <i class="bi bi-trash-fill delete" style="display: inline-flex; margin-top: 25px; margin-left: 10px; color: red; margin-right: 5px;" (click)="removeInputField(input)"></i> -->
              </div>

              
            


        


        </div>
       
      </form>
        </div>
        <div class="modal-footer d-flex justify-content-around">
          <button  class="btn btn-light mt-3"  (click)="closeBox3.click()" (click)="reset()" >Clear Filter</button>
          <button type="submit" class="btn btn-primary mt-3" (click)="closeBox3.click()" (click)="addFilterForm()"   >Filter</button>
          
        </div>
      </div>
    </div>
  </div>
    <div class="d-flex justify-content-around">
    <div class="col flex justify-content-between searchBar" style="float: left;" >
      
      <input type="text" (keydown)="onKeyDown($event)" [(ngModel)]="searchData" placeholder="Search">
      <button class="btn btn-primary ms-2" (click)="searchClick()" >Search</button>
    
       <i class="bi bi-search"></i>
       <a class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="modal" data-target="#myExample">
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-funnel-fill" viewBox="0 0 16 16">
          <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
        </svg>
      </a>
      
      <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="z-index: 10; cursor: pointer;">
        <a class="dropdown-item" (click)="searchBy('description')">Search By Description</a>
        <a class="dropdown-item" (click)="searchBy('customer')">Search By Customer</a>
        <a class="dropdown-item" (click)="searchBy('status')">Search By Status</a>
        <a class="dropdown-item" (click)="searchBy('priority')">Search By Priority</a>
        <a class="dropdown-item" (click)="searchBy('dueDate')">Search By Due Date</a>
        <a class="dropdown-item" (click)="searchBy('assignedTechnician')">Search By Assigned Technician</a>
        <a class="dropdown-item" (click)="searchBy('assetDetails')">Search By Asset Details</a>
        <a class="dropdown-item" (click)="searchBy('lastUpdate')">Search By Last Update</a>
        <a *ngFor="let item of selectedExtraColums"  class="dropdown-item" (click)="searchBy(item)">Sort By {{item}}</a>
      </div> -->
  
  
   </div>
    <div style="margin: 10px;">
      <a class="btn btn-secondary dropdown-toggle" type="button" id="sortButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
        Sort <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-funnel-fill" viewBox="0 0 16 16">
          <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
        </svg>
        
      </a>
     
      <div class="dropdown-menu" aria-labelledby="sortButton" style="z-index: 10; cursor: pointer;">
        <a class="dropdown-item" (click)="sortBy('name')">Sort By Name</a>
        <a class="dropdown-item" (click)="sortBy('category')">Sort By Category</a>
        <a class="dropdown-item" (click)="sortBy('status')">Sort By Status</a>
        <a class="dropdown-item" (click)="sortBy('phone')">Sort By Phone</a>
        <a class="dropdown-item" (click)="sortBy('email')">Sort By Email</a>
        <a class="dropdown-item" (click)="sortBy('address')">Sort By Address</a>
        <a class="dropdown-item" (click)="sortBy('apartment')">Sort By Apartment</a>
        <a class="dropdown-item" (click)="sortBy('city')">Sort By City</a>
        <a class="dropdown-item" (click)="sortBy('state')">Sort By State</a>
        <a class="dropdown-item" (click)="sortBy('zipCode')">Sort By ZipCode</a>
        <a *ngFor="let item of selectedExtraColums"  class="dropdown-item" (click)="sortBy(item)" >Sort By {{item}}</a>
      </div>
      
    </div>
    <!-- <mat-form-field>
      <mat-select placeholder="Custom Columns" [(ngModel)]="selectedExtraColums" multiple>
        <mat-option *ngFor="let item of extraFieldNameList" [value]="item">{{item}}</mat-option>
      </mat-select>
    </mat-form-field> -->
    <div>
      
  
   
      
      <!-- <div  id="custom-columns-companycustomer">
      <ng-multiselect-dropdown
            [placeholder]="'Columns...'"
            [settings]="dropdownSettings"
            [data]="extraFieldNameList"
            [(ngModel)]="selectedExtraColums"
            [disabled]="false"
            id="custom-columns-workorder-inside"
           
           >
          </ng-multiselect-dropdown>
        
        </div> -->
     
    </div>
      
      <button class="btn btn-primary mt-2 me-2" data-toggle="modal" data-target="#add-order" (click)="resetForm()"  *ngIf="!(userRoleDetails?.customers!='full'&&userRole!='ADMIN')" >+ Customer</button>
      <a class="dropdown-toggle" type="button" data-target="#customFieldModule" data-toggle="modal" aria-haspopup="true" aria-expanded="false" style="margin: 10px 10px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-gear-fill mt-1" viewBox="0 0 16 16" style="color: black;">
          <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
        </svg>
      </a>
      
    
  </div>
  <div class="row" style="height: calc(100vh - 220px); overflow: scroll; width: 100%;  position: relative;">
      <div class="col">
        <button *ngIf="searchDataBy" class="sort btn btn-secondary" (click)="removeSearchDataBy()">Search By: {{searchDataBy|titlecase}} &times;</button>
        <button *ngIf="sortedBy" class="sort btn btn-secondary" (click)="removeSort()">Sorted By: {{sortedBy|titlecase}} &times;</button>
        <span *ngIf="appliedFilterListSize >0">
          <button *ngFor="let item of appliedFilterList" class="sort btn btn-primary" style="margin: 0px 5px;" (click)="removeSingleFilter(item)">{{(item=="companyCustomerId")?"Id":item|titlecase}}: {{appliedFilterListMap.get(item)|titlecase}} &times;</button>
          <button class="btn btn-warning" (click)="reset()">Clear All</button>
          </span>
        
        <table class="table"  id="companycustomer-table" style=" border-radius: 10px;   ">
            <thead class="table-dark" style="position: sticky; top: 0; z-index: 1;">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>                 
                    <th scope="col" *ngIf="showMandatoryBasicFields.get('phone')">Phone</th>
                    <th scope="col" *ngIf="showMandatoryBasicFields.get('address')">Address</th>
                    <!-- <th scope="col" *ngIf="showMandatoryBasicFields.get('apartment')">Apartment</th>
                    <th scope="col" *ngIf="showMandatoryBasicFields.get('city')">City</th>
                    <th scope="col" *ngIf="showMandatoryBasicFields.get('state')">State</th>
                    <th scope="col" *ngIf="showMandatoryBasicFields.get('zipCode')">ZipCode</th> -->
                    <th scope="col" *ngIf="showMandatoryBasicFields.get('category')">Category</th>
                    <th scope="col" *ngIf="showMandatoryBasicFields.get('status')">Status</th>
                    
                    <th scope="col" *ngFor="let col of selectedExtraColums">{{col|titlecase}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
              
                  <tr *ngFor="let item of companyCustomerListWithExtraFields" (mouseenter)="editButtonVisibile(companyCustomerListWithExtraFields.indexOf(item)+1)" (mouseleave)="editButtonNotVisible()"  [routerLink]="['/customer/preview',item.id]" >
                    <!-- -->
                    <th scope="row" style="padding: 20px 5px;">{{item.companyCustomerId}}</th>
                    
              
                    <td style="color: black;"><b>{{item.name|titlecase}}</b></td>
                    <td>{{item.email}}</td>
                   <!-- <td [ngClass]="{'due-passed':checkDueDate(item.dueDate)}">{{item.dueDate|date:"shortDate"}} <i class="bi bi-exclamation-triangle" *ngIf="checkDueDate(item.dueDate)"></i></td> -->
                    <td *ngIf="showMandatoryBasicFields.get('phone')">{{item.phone|titlecase}}</td>
                    <td *ngIf="showMandatoryBasicFields.get('address')">
                      {{item.address | titlecase}}
                      <span *ngIf="item.apartment">, {{item.apartment | titlecase}}</span>
                      <span *ngIf="item.city">, {{item.city | titlecase}}</span>
                      <span *ngIf="item.state">, {{item.state | titlecase}}</span>
                      <span *ngIf="item.zipCode">, {{item.zipCode | titlecase}}</span>
                    </td>
                    <!-- <td *ngIf="showMandatoryBasicFields.get('apartment')">{{item.apartment|titlecase}}</td> -->
                    <!-- <td *ngIf="showMandatoryBasicFields.get('city')">{{item.city|titlecase}}</td>
                    <td *ngIf="showMandatoryBasicFields.get('state')">{{item.state|titlecase}}</td>
                    <td *ngIf="showMandatoryBasicFields.get('zipCode')">{{item.zipCode|titlecase}}</td> -->
                    <td *ngIf="showMandatoryBasicFields.get('category')">{{item.category|titlecase}}</td>
                    <td *ngIf="item.status=='active'&&showMandatoryBasicFields.get('status')">Active</td>
                    <td *ngIf="item.status=='inActive'&&showMandatoryBasicFields.get('status')">In Active</td>
                    <td *ngIf="(item.status==''||item.status==null)&&showMandatoryBasicFields.get('status')"></td>
                  
                    
                    <td *ngFor="let col of selectedExtraColums"> {{ item[col] }}</td>
                    <!-- <td>{{item.extraFields.}}</td> -->
                  
                    <td style="padding-left: 10px; padding-right: 10px;">
                      <!-- <i class="bi bi-pencil" [ngClass]="{'editoption':!(editVisibility&&(editButtonId==companyCustomerListWithExtraFields.indexOf(item)+1))}"  style="float: inline-start; margin: 0px 5px;" (click)="companyCustomerDetail(item.id)"  ></i> -->
                    <i class="bi bi-pencil" [ngClass]="{'editoption':!(editVisibility&&(editButtonId==companyCustomerListWithExtraFields.indexOf(item)+1))}"  style="float: inline-start; margin: 0px 5px;" (click)="companyCustomerDetail(item.id)" [routerLink]="['/customer',item.id]" *ngIf="!(userRoleDetails?.companyCustomer!='full'&&userRoleDetails?.companyCustomer!='edit' &&userRole!='ADMIN')"></i>
                    <!-- <i class="bi bi-trash"  [ngClass]="{'editoption':!(editVisibility&&(editButtonId==companyCustomerListWithExtraFields.indexOf(item)+1))}" style="color: red; float: inline-start; margin: 15px 5px;" (click)="deleteCompanyCustomer(item.id)" ></i> -->
                  </td>
                    
                  </tr>
                 
            </tbody>
          </table>
      </div>
    </div>
    <mat-paginator [length]="totalLength"
    (page)="handlePageEvent($event)"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page">
</mat-paginator>
    <div class="modal fade" id="add-order" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog  modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLongTitle">Add Customer</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"  #closeBox>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="companyCustomerForm" (ngSubmit)="addCompanyCustomer()">
              <div >
                <label for="name">Name<span class="text-danger">*</span></label>
               
                <input type="text" class="form-control" id="name"  formControlName="name"  placeholder="Name">
               
              </div>
             

              <div class="form-group">
                <label for="category">Category<span *ngIf="mandatoryFieldsMap.get('category')" class="text-danger">*</span></label>
               
                <!-- <input type="text" class="form-control" id="category" formControlName="category"  placeholder="Category"> -->
                <select class="form-select custom-dropdown" class="form-control" id="category" formControlName="category" #category style="height: fit-content;" >
                  <option value="{{category.name}}" *ngFor="let category of companyCustomerCategoryList">{{category.name|titlecase}}</option>
                  <!-- <option value="{{[customer.name,customer.id]}}" *ngFor="let customer of companyCustomerList">{{customer.name}}</option> -->
                  <!-- <option value="outOfService" selected>Out Of Service</option> -->
                  
                  
                </select>
              </div>
              
                <div class="form-group">
                  <label for="status">Status<span *ngIf="mandatoryFieldsMap.get('status')" class="text-danger">*</span></label>
                  <!-- <input type="text" class="form-control" id="status" formControlName="status"  placeholder="Status"> -->
                  <select class="form-select" class="form-control" id="status" formControlName="status" #status>
                    <option value="active" selected>Active</option>
                    <option value="inActive">In Active</option>
                    <!-- <option value="outOfService" selected>Out Of Service</option> -->
                    
                    
                  </select>
                </div>
              
              
                <div class="form-group">
                  <label for="phone">Phone<span *ngIf="mandatoryFieldsMap.get('phone')" class="text-danger">*</span></label>
                  <!-- <input type="text" class="form-control" id="technician" formControlName="assignedTechnician"  placeholder="Technician"> -->
                  <input type="tel" class="form-control" id="phone" formControlName="phone" placeholder="(123) 456-7890"
                  (input)="formatPhoneNumber($event)" >
                  <span *ngIf="this.companyCustomerForm?.get('phone').invalid" class="text-danger">Invalid</span>
                  <span *ngIf="(!this.companyCustomerForm?.get('phone').invalid)&&(this.companyCustomerForm?.get('phone').value?.length>0)" class="text-success">Valid</span>
                </div>
             
                <div class="form-group">
                  <label for="email">Email<span *ngIf="mandatoryFieldsMap.get('email')" class="text-danger">*</span></label>
                  <input type="email" class="form-control" id="email" formControlName="email"  placeholder="Email">
                </div>

                <div class="form-group">
                  <label for="address">Street<span *ngIf="mandatoryFieldsMap.get('address')" class="text-danger">*</span></label>
                 
                  <input type="text" class="form-control" id="address" formControlName="address"  placeholder="Address">
                </div>

                <div class="form-group">
                  <label for="city">City<span *ngIf="mandatoryFieldsMap.get('city')" class="text-danger">*</span></label>
                 
                  <input type="text" class="form-control" id="city" formControlName="city"  placeholder="City">
                </div>

                <div class="form-group ">
                  <label for="state">State<span *ngIf="mandatoryFieldsMap.get('state')" class="text-danger">*</span></label>
                 
                  <!-- <input type="text" class="form-control" id="state" formControlName="state"  placeholder="State"> -->
                  <select class="form-select custom-dropdown" class="form-control" id="state" formControlName="state" #status style="height: fit-content;" >
                    <option value="{{state}}" *ngFor="let state of stateList">{{state}}</option>
                    <!-- <option value="{{[customer.name,customer.id]}}" *ngFor="let customer of companyCustomerList">{{customer.name}}</option> -->
                    <!-- <option value="outOfService" selected>Out Of Service</option> -->
                    
                    
                  </select>
                </div>
                <div class="form-group">
                  <label for="zipCode">ZipCode<span *ngIf="mandatoryFieldsMap.get('zipCode')" class="text-danger">*</span></label>
                 
                  <input type="number" class="form-control" id="zipCode" formControlName="zipCode"  placeholder="ZipCode">
                </div>
                <div class="form-group" *ngFor="let item of showFieldsList" >
                  <div *ngIf="item.show">
                  <label for={{item.name}}>{{item.name|titlecase}}<span *ngIf="mandatoryFieldsMap.get(item.name)" class="text-danger">*</span></label>
                  <input type={{item.type}} class="form-control" id="{{item.name}}" formControlName={{item.name}}  placeholder={{item.name|titlecase}}>
                  </div>
                  <br>
                </div>
              
              <!-- <button type="submit" class="btn btn-primary mt-3" (click)="closeBox.click()" [disabled]="workorderform.invalid">Submit</button> -->
              <button type="submit" class="btn btn-primary mt-3"  [disabled]="companyCustomerForm.invalid">Submit</button>
            </form>
           
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="loading" *ngIf="loadingScreen"></div>
  <div class="modal fade" id="customFieldModule" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLongTitle">All Fields</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeBox4>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
            <h3>Select Checkbox</h3>

              <div style="width: 95%;">
              <div>  <mat-checkbox  [color]="checkBoxColor"  [checked]="showMandatoryBasicFields.get('name')==true?true:false"  (change)="mandatoryFieldCheckBox($event.checked,'name')" disabled="true">Name</mat-checkbox></div>
              <div>  <mat-checkbox  [color]="checkBoxColor"  [checked]="showMandatoryBasicFields.get('email')==true?true:false"  (change)="mandatoryFieldCheckBox($event.checked,'email')"  disabled="true">Email</mat-checkbox></div>
              <div>  <mat-checkbox  [color]="checkBoxColor"  [checked]="showMandatoryBasicFields.get('phone')==true?true:false"  (change)="mandatoryFieldCheckBox($event.checked,'phone')">Phone</mat-checkbox></div>
              
              
              

              <div>  <mat-checkbox  [color]="checkBoxColor"  [checked]="showMandatoryBasicFields.get('address')==true?true:false"  (change)="mandatoryFieldCheckBox($event.checked,'address')">Address</mat-checkbox></div>
              <div>  <mat-checkbox  [color]="checkBoxColor"  [checked]="showMandatoryBasicFields.get('status')==true?true:false"  (change)="mandatoryFieldCheckBox($event.checked,'status')" >Status</mat-checkbox></div>
              <div>  <mat-checkbox  [color]="checkBoxColor"  [checked]="showMandatoryBasicFields.get('category')==true?true:false"  (change)="mandatoryFieldCheckBox($event.checked,'category')"  >Category</mat-checkbox></div>
              

              <div  *ngFor="let item of extraFieldNameList">
                <!-- <label for="assetId">{{item}}</label>
                <div class="d-flex justify-content-around">
                <input type="checkbox"  id="customFields" >
                
                </div>
                <br>
              </div> -->
              <mat-checkbox  [color]="checkBoxColor" [checked]="selectedExtraColumsMap.get(item)"  (change)="customCheckBox($event.checked,item)">{{item|titlecase}}</mat-checkbox>
             

                
              


          


          </div>
         
       
        <div class="modal-footer d-flex justify-content-around">
          <button  class="btn btn-light mt-3"  (click)="closeBox4.click()"  >Close</button>
          <!-- <button type="submit" class="btn btn-primary mt-3" (click)="closeBox3.click()" (click)="addFilterForm()"   >Filter</button> -->
          
        </div>
        </div>
      </div>
    </div>
  </div>

 <!-- Button trigger modal -->


<!-- Modal -->
