* {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

#logo{
    text-decoration: none;
    color: black;
    font-size: xx-large;
    font-weight: 600;
}
.navoption{
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: 600;
    
}
li{
    padding-right: 50px;
    /* padding-top: 10px; */
    padding-left: 5px;
    
}
/* button{
    margin-top: 10px;
} */

/* .nav-item i{
    padding-left: 20px;
} */

.nav-item {
    font-size: 18px;
}

.selected{
    background-color: rgba(255, 255, 255, 0.3);
    /* background-color: #f5f5f5; */
    border-radius: 10px;
    padding: 10px 10px;
}

.selected span{
    color: #403634;
}
.selected i{
    color: #403634;
}

.header{
    background-color: #12232E;
    color: white;
    text-align: center;
}
img{
    height: 48px;
}
.header-centre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* padding: 1.25em; */
    padding: 12.5px;
}

.header-centre h1{
    display: block;
    /* font-size: 2em; */
    font-size: 28px;
    font-weight: bold;
    padding-left: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
}

.side-navbar{
    position: absolute;
    left: 0rem;
    width: 270px;
    /* height: calc(100vh - 76px); */
    height: calc(100vh - 53px);
    /* background-color: #FAFAFA; */
    background-color: #FFFFFF;
    box-shadow:rgba(255, 255, 255, 0.5);
    color: #403634;
    transition: width 150ms linear;
    overflow-x: hidden;
    border: 1px solid lightgray;
    font-size: 16px;
}

.nav-list{
    list-style: none;
    /* height: 100%; */
    padding: 0%;
    margin-bottom: 0%;
    font-size: 16px;
}

.nav-list-item i{
    font-size: 20px;
    height: 25px;
    width: 25px;
    margin-right: 14px;
    margin-left: 5px;
    text-align: center;
    line-height: 25px;
   
    
}
.nav-list-item span{
    width: 170px;
    cursor: pointer;
}

.nav-list-item:hover {
    cursor: pointer;
    /* background-color: #252a33; */
    background-color: #F1F1F1;
    border-radius: 5px;
    color: black;
}

.nav-list-item{
    padding-right: 0px;
    margin: 11px;
    padding: 10px;
    width: 245px;
}

/* .nav-list-item:hover{
    background-color:#f5f5f5;
    cursor: pointer;
} */

a{
    text-decoration: none;
    color: white;
}

.selected{
    background-color:#f1f1f1;
    border-radius: 5px;
    padding: 10px 10px;
}

.content-area{
    /* width: calc(100vw - 120px); */
    padding-left: 270px;    
    /* height: calc(100vh - 80px); */
    height: calc(100vh - 53px);
}

/* form{
    width: 500px;
    margin-top: 50px;
    border: 1px solid gainsboro;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

.modal{
    margin-top: 200px;
}

img{
    border-radius: 5px;
    width: 50px;
    margin: 5px;
}

body{
    background-color: lightgray;
}

.back-button{
    cursor: default;
    text-decoration: none;
    /* color: #8c8e91;*/
    /* margin: 10px 0px; */
    font-size: large;
    /* float: inline-start; */
    height: 20px;
    margin: 20px 20px;
}

.backarrow{
    color: #8c8e91;
}

.backarrow:hover{
    /* color: #1a65ab; */
    color:#1a65ab
    
}

.form-control:focus {
    border-color: #007bff; /* Change border color */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a glowing effect */
    outline: none; /* Remove default outline */
}

.nav-item a:hover,
.nav-item i:hover,
.nav-item dropdown:hover {
  color: #007bff; /* Change icon color when hovered */
}

.dropdown-menu {
  position: absolute;
  width: auto;
  height: auto;
  /* max-height: 200px; */
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  z-index: 1000;
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  /* padding: 8px 100px 8px 12px; */
  padding: 10px 90px 10px 7px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.dropdown-toggle::after {
    display: none;
}

.role-main{
    width: calc(100vw - 300px);
    margin-top: 20px;
  }
  
  .background-tab{
    border-radius: 10px;
    border: 1px solid lightgray;
    /* margin-top: 10px; */
    background-color: white;
    /* height: 80vh; */
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-control{
    border-radius: 5px;
    border: 0.5px solid #c0c0c0;
    font-size: 16px;
    padding-left: 11px;
    margin-top: 5px;
    width: 100%;
    height: 35px;
}