<body>
  <div class="header">
      <div class="header-centre">
        <!-- <img src='../../assets/logo.png'> -->
        <h1>AssetYug</h1>
      </div>
    </div>
    <div *ngIf="showAlert" class="alert" [ngClass]="'alert-' + alertType" role="alert">
      {{ alertMessage }}
      <!-- Optionally, add a close button -->
      <button type="button" class="btn-close" (click)="showAlert = false" aria-label="Close" style="float: right;"></button>
    </div>
    <div class="reset container" *ngIf="!loader">
        <form class="form-border">
            
            <div *ngIf="state==1" class="otp-div">
              <h1 id="log-in">Reset Password</h1>
            
              <div class="form-group" style="margin-top: 35px;"> 
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="email" id="email" name="email"[(ngModel)]="email" >
              </mat-form-field>
            </div>
  
            <!-- <div class="form-group">
              <mat-form-field>
              <mat-label>Password</mat-label>
              <input matInput type="password" id="password" name="password"[(ngModel)]="password" >
            </mat-form-field>
            </div> -->
           
            <!-- margin: 30px auto -->
            <button class="btn btn-primary" (click)="sendOTP()" style=" width: 100%;
            margin-top: 30px;
            background-color: #013365 ;
            height: 40px;
            color: white;
            display: flex;
            justify-content: center;">Send OTP</button>
  
  
            <div class="login">
            <a  [routerLink]="['/login']" style="text-decoration: none; margin-top: 10px;">Back to Login</a>
            </div>
  
            <!-- <hr> -->
  
            <div class="hr-with-text">
              <hr>
              <span class="hr-text">OR</span>
            </div>
            
                
    
            <div class="d-flex-row">
              <h3 class="inline-text">Don't have an Account?</h3>
              <button id="signup" [routerLink]="['/register']" >SIGN UP</button>
              <!-- <button data-toggle="modal" data-target="#removeLoggedIn">Sample</button> -->
              <!-- <button class="btn btn-primary" (click)="demo()"></button> -->
            </div>
          
              
          </div>
          <div *ngIf="state==2" class="reset-password">
              <div class="form-group">
                  <h1 id="log-in">OTP Verification</h1>
                  <!-- <mat-form-field>
                    <mat-label>OTP</mat-label>
                    <input matInput  type="text" name="otp" [(ngModel)]="otp" >
                    
                  </mat-form-field> -->
                  <div class="otp-container">
                      <div class="otp-container">
                          <input type="text" maxlength="1" class="otp-box" (input)="onOtpInput($event, 0)" (keydown)="onOtpKeyDown($event, 0)" #otp1>
                          <input type="text" maxlength="1" class="otp-box" (input)="onOtpInput($event, 1)" (keydown)="onOtpKeyDown($event, 1)" #otp2>
                          <input type="text" maxlength="1" class="otp-box" (input)="onOtpInput($event, 2)" (keydown)="onOtpKeyDown($event, 2)" #otp3>
                          <input type="text" maxlength="1" class="otp-box" (input)="onOtpInput($event, 3)" (keydown)="onOtpKeyDown($event, 3)" #otp4>
                          <input type="text" maxlength="1" class="otp-box" (input)="onOtpInput($event, 4)" (keydown)="onOtpKeyDown($event, 4)" #otp5>
                          <input type="text" maxlength="1" class="otp-box" (input)="onOtpInput($event, 5)" (keydown)="onOtpKeyDown($event, 5)" #otp6>
                        </div>
                        
                    </div>
                  <mat-form-field>
                      <mat-label>New Password</mat-label>
                      <input matInput  type="password" name="password" [(ngModel)]="password" >
                      
                    </mat-form-field>
                </div>
                <button class="btn btn-primary" (click)="changePassword()" style=" width: 100%;
                
                background-color: #013365 ;
                height: 40px;
                color: white;
                margin-top: 140px;">Submit</button>
          </div>
                
    
           
    
            
          </form>
          
          
    </div>
    <div class="dot-spinner d-flex justify-content-center" *ngIf="loader" >
      <div class="dot-spinner__dot"></div>
      <div class="dot-spinner__dot"></div>
      <div class="dot-spinner__dot"></div>
      <div class="dot-spinner__dot"></div>
      <div class="dot-spinner__dot"></div>
      <div class="dot-spinner__dot"></div>
      <div class="dot-spinner__dot"></div>
      <div class="dot-spinner__dot"></div>
    </div>
    
    
  
    
    <footer class="custom-footer">
      <div class="footer-content">
        <p>
          <a href="#">Terms of Use</a> | 
          <a href="#">Privacy Policy</a>
        </p>
        <p class="copyright">&copy; {{currentyear}} AssetYug</p>
      </div>
    </footer>
  </body>