

  <div class="reset-password-container" *ngIf="!this.loading">
    <div *ngIf="showAlert" class="alert" [ngClass]="'alert-' + alertType" role="alert">
      {{ alertMessage }}
      <!-- Optionally, add a close button -->
      <button type="button" class="btn-close" (click)="showAlert = false" aria-label="Close" style="float: right;"></button>
    </div>
      <div class="reset-password-box">
        <h2>Reset Password</h2>
        
        <!-- Email input and OTP generation -->
        <div *ngIf="!otpSent">
          <label for="email">Enter your email:</label>
          <input id="email" type="email" [(ngModel)]="email" placeholder="email@domain.com" required  />
          <button (click)="sendOtp()" class="submit-button">Send OTP</button>
        </div>
    
        <!-- OTP input for validation -->
        <div *ngIf="otpSent && !otpValidated">
          <label for="otp">Enter the OTP:</label>
          <input id="otp" type="text" [(ngModel)]="otp" placeholder="Enter OTP" required />
          <button (click)="validateOtp()" class="submit-button">Validate OTP</button>
        </div>
    
        <!-- Password Reset form -->
        <div *ngIf="otpValidated">
          <label for="newPassword">New Password:</label>
          <input id="newPassword" type="password" [(ngModel)]="newPassword" placeholder="New Password" required />
          <input id="newCpassword" type="password" [(ngModel)]="newCpassword" placeholder="Confirm New Password" required />
          <button (click)="resetPassword()" class="submit-button">Reset Password</button>
        </div>
    
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      </div>
    </div>
  <div *ngIf="this.loading" class="loader-container">
    <div class="loader" ></div>
  </div>

  
  