<!-- <p>role-and-permission works!</p> -->
<div *ngIf="showAlert" class="alert" [ngClass]="'alert-' + alertType" role="alert"
    style="margin: 10px 2%; height: 60px; position: fixed; width: calc(95vw - 250px); z-index: 100; left: 250px; ">
    {{ alertMessage }}

    <button type="button" class="btn-close" (click)="showAlert = false" aria-label="Close"
        style="float: right;"></button>
</div>

<div class="audit-log-header mt-4">
    <div class="header-title">
      <!-- <i class="bi bi-clock-history"></i> -->
      <h2>Inspection Templates</h2>
    </div>
    <p class="header-subtitle">Track and manage all inspection templates</p>
  </div>

<div id="inspection-main" class="d-flex justify-content-center">

    <div class="background-tab">
        <div style="width: 100%;" class="d-flex justify-content-center">
            <div class="d-flex justify-content-between" style="width: 100%;">
                <div class="search-bar">
                    <input type="text" id="import-history-input" placeholder="Search"
                        style="margin: 10px 10px; border-radius: 5px; height: 30px;" (keyup)="find($event)" #data>
                    <i class="bi bi-search searchIcon"></i>
                </div>
                <button class="btn btn-primary" style="max-width: 120px; width: 100%;" data-toggle="modal"
                    data-target="#add-inspection" (click)="resetFormForNewInspection()">+ Inspection</button>
            </div>
        </div>

        <!-- <div style="width: 100%; overflow-y: scroll; max-height: 80%;" class="d-flex justify-content-center" > -->
        <div style="max-height: 90%; display: flex; justify-content: center;" class="inspection_table">

            <table class="table inspectionTable">
                <thead class="table-dark">
                    <!-- <tr style="top: 0; position: sticky; z-index: 100;"> -->
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Asset Category</th>
                        <th scope="col">Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="searchedInspection && searchedInspection.length > 0; else noInspection">
                        <tr *ngFor="let item of searchedInspection" (mouseenter)="editButtonVisibile(searchedInspection.indexOf(item)+1)" (mouseleave)="editButtonNotVisible()">
                            <!-- <th scope="row">{{searchedRole.indexOf(item)+1}}</th> -->
                            <td scope="row">{{item.assetCategoryInspectionId}}</td>
                            <td>{{item.name}}</td>
                            <td>{{getCategoryNames(item.categoryName)}}</td>
                            <td>{{item.status|titlecase}}</td>
                            <td>

                                <!-- <img src="../../../assets/edit.svg" id="edit-button" [ngClass]="{'editoption':!(editVisibility&&(editButtonId==assetListWithExtraFields.indexOf(item)+1))}" style="float: inline-start; height: 25px; width: 25px;" (click)="changeAssetDetails(item)" *ngIf="!(userRoleDetails?.assets!='full'&&userRoleDetails?.assets!='edit' &&userRole!='ADMIN')"> -->
                                <!-- <i class="bi bi-pencil"   [ngClass]="{'editoption':!(editVisibility&&(editButtonId==assetListWithExtraFields.indexOf(item)+1))}" style="float: inline-start; height: 40px; width: 40px;" (click)="changeAssetDetails(item)" *ngIf="!(userRoleDetails?.assets!='full'&&userRoleDetails?.assets!='edit' &&userRole!='ADMIN')"></i> -->

                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                                    class="bi bi-pencil" viewBox="0 0 16 16"
                                    style="margin-top: 4px; margin-bottom: 4px; color:gray "
                                    [ngClass]="{'editoption':!(editVisibility&&(editButtonId==searchedInspection.indexOf(item)+1))}"
                                    (click)="changeAssetDetails(item)"
                                    >
                                    <path
                                        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                                </svg>
<!-- 
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                                    class="bi bi-trash3" viewBox="0 0 16 16"
                                    style="margin-top: 4px; margin-bottom: 4px; color:gray "
                                    [ngClass]="{'editoption':!(editVisibility&&(editButtonId==searchedInspection.indexOf(item)+1))}"
                                    (click)="changeAssetDetails(item)"
                                    >
                                    <path
                                        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                                </svg> -->
                                <i class="bi bi-trash3" [ngClass]="{'editoption':!(editVisibility&&(editButtonId==searchedInspection.indexOf(item)+1))}"
                                (click)="setDeleteInspectionId(item.id)"  data-target="#delete-inspection" data-toggle="modal" style="margin: 4px 8px; "></i>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <ng-template #noInspection>
                <tr>
                    <td colspan="5" class="text-center">
                        <p *ngIf="searchedInspection || searchedInspection.length === 0" class="no-data">No Inspections
                            available</p>
                    </td>
                </tr>
            </ng-template>
        </div>
    </div>


    <!-- Creating a new Inspection template -->

    <div class="modal fade" id="add-inspection" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true" style="z-index: 1055;">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="padding: 13px 15px">
                    <h2 class="modal-title" id="exampleModalLongTitle"
                        style="margin:0; display: flex; justify-content: center;">Create Inspection</h2>
                    <button type="button" class="close ms-auto" data-dismiss="modal" aria-label="Close" #closeBox>
                        <!-- <span aria-hidden="true">&times;</span> -->
                        <i class="bi bi-x-lg"></i>
                        <!-- <i class="fa-solid fa-xmark"></i> -->
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div >
                            <label for="name">Name<span class="text-danger"> *</span></label>
                            <input type="text" class="highlight-input"
                                style="font-size: 16px; padding-left: 11px; width: 100%; margin-top: 10px; border-radius: 5px; height: 35px; border: 1px solid #c0c0c0; transition: border-color 0.3s, box-shadow 0.3s;"
                                name="name" id="name" placeholder="Name" [(ngModel)]="inspectionForm.name">

                        </div>
                        <div style="margin-top: 15px;">
                            <mat-form-field appearance="outline" class="w-100">
                              <mat-label>Asset Category</mat-label>
                              <mat-select [formControl]="selectedCategory" multiple [compareWith]="compareCategoryObjects">
                                <mat-option *ngFor="let category of assetCategoryList" [value]="{'id':category.assetCategoryId,'categoryName':category.name}">{{category.name}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                           
                          </div>
                          
                        <div class="d-flex justify-content-between">
                        <h2 class="mt-2">Instructions</h2>
                        <span style="padding-top: 15px; color: rgb(41, 181, 228);cursor: pointer; font-size: large;" (click)="addInspectionStep()">Instructions+</span>
                        </div>
                        <table class="addTable table " style="margin: 10px auto; border-radius: 10px;">
                            <thead class="table-dark">
                                <tr>
                                    <th style="width: 50%; padding-left: 20%;">Name</th>
                                    <th style="width: 50%; padding-left: 20%;">Input</th>
                                    <th style="width: 50%; padding-left: 20%;"></th>
                                </tr>
                            </thead>
                
                            <!-- <tr  *ngFor="let step of inspectionSteps; let i = index">


                                <td>
                                   
                                     <input [(ngModel)]="inspectionSteps[i].name" type="text" name="name"  id="name">
                                </td>

                                <td>
                                    <div class="permissionlevel">
                                        <select class="form-select" id="inspectionType" name="inspectionType"
                                        [(ngModel)]="inspectionSteps[i].inspectionStepType"  #inspectionType>
                                        
                                            <option value="checkbox" selected>CHECKBOX</option>
                                            <option value="number">NUMBER</option>
                                            <option value="text">TEXT</option>
                                           

                                        </select>
                                    </div>
                                </td>


                            </tr> -->
                       
                            
                            <tr *ngFor="let step of inspectionSteps; let i = index">
                              <td>
                                <input [(ngModel)]="step.name" type="text" name="name{{i}}" id="name{{i}}" class="inspection-step-input">
                              </td>
                            
                              <td>
                                <div class="permissionlevel">
                                  <select class="form-select" id="inspectionType{{i}}" name="inspectionType{{i}}"
                                    [(ngModel)]="step.type" #type>
                                    
                                    <option value="CHECKBOX">CHECKBOX</option>
                                    <option value="NUMBER">NUMBER</option>
                                    <option value="TEXT">TEXT</option>
                            
                                  </select>
                                </div>
                              </td>
                              <td>
                                <i  class="bi bi-trash3" (click)="removeStep(i)"></i>
                              </td>
                            </tr>
                            

                        </table>
                        <!-- <button class="btn btn-primary" (click)="addInspectionStep()">Add Field</button> -->

                        <div style="display: flex; justify-content: center; margin-top: 15px;">

                            <button class="btn btn-light" data-dismiss="modal" aria-label="Close"
                                (click)="closeBox.click()" 
                                style="margin: 10px; width: 100px; margin-right: 30px; border: 1px solid #c0c0c0">Cancel</button>
                            <button type="submit" class="btn btn-primary mt-2" (click)="closeBox.click()"
                         
                                style="margin: 10px; width: 100px;" (click)="addInspection()">Save</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <!-- Editing an existing Inspection template -->

    <div class="modal fade" id="edit-inspection" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true" style="z-index: 1055;">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="padding: 13px 15px">
                    <h2 class="modal-title" id="exampleModalLongTitle"
                        style="margin:0; display: flex; justify-content: center;">Edit Inspection</h2>
                     <button type="button" class="btn btn-light btn-sm ms-auto" (click)="closeEditModal()" aria-label="Close" style="border-radius: 10px;">
                  <i class="bi bi-x-lg"></i>
                </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div >
                            <label for="nameEdit">Name<span class="text-danger"> *</span></label>
                            <input type="text" class="highlight-input"
                                style="font-size: 16px; padding-left: 11px; width: 100%; margin-top: 10px; border-radius: 5px; height: 35px; border: 1px solid #c0c0c0; transition: border-color 0.3s, box-shadow 0.3s;"
                                name="nameEdit" id="nameEdit" placeholder="Name" [(ngModel)]="inspectionForm.name">

                        </div>
                        <div style="margin-top: 15px;">
                            <mat-form-field appearance="outline" class="w-100">
                              <mat-label>Asset Category</mat-label>
                              <mat-select [formControl]="selectedCategory" multiple [compareWith]="compareCategoryObjects">
                                <mat-option *ngFor="let category of assetCategoryList" [value]="{'id':category.assetCategoryId,'categoryName':category.name}">{{category.name}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          
                        <div style="margin-top: 15px;">
                            <mat-form-field appearance="outline" class="w-100">
                              <mat-label>Status</mat-label>
                              <mat-select [(ngModel)]="inspectionForm.status" name="status">
                                <mat-option value="active">Active</mat-option>
                                <mat-option value="inActive">Inactive</mat-option>
                              </mat-select>
                            </mat-form-field>
                        </div>
                          
                        <div class="d-flex justify-content-between">
                        <h2 class="mt-2">Instructions</h2>
                        <span style="padding-top: 15px; color: rgb(41, 181, 228);cursor: pointer; font-size: large;" (click)="addInspectionStep()">Instructions+</span>
                        </div>
                        <table class="addTable table " style="margin: 10px auto; border-radius: 10px;">
                            <thead class="table-dark">
                                <tr>
                                    <th style="width: 50%; padding-left: 20%;">Name</th>
                                    <th style="width: 50%; padding-left: 20%;">Input</th>
                                    <th style="width: 50%; padding-left: 20%;"></th>
                                </tr>
                            </thead>
                       
                            <tr *ngFor="let step of inspectionSteps; let i = index">
                              <td>
                                <input [(ngModel)]="step.name" type="text" name="nameEdit{{i}}" id="nameEdit{{i}}" class="inspection-step-input">
                              </td>
                            
                              <td>
                                <div class="permissionlevel">
                                  <select class="form-select" id="inspectionTypeEdit{{i}}" name="inspectionTypeEdit{{i}}"
                                    [(ngModel)]="step.type" #type>
                                    
                                    <option value="CHECKBOX">CHECKBOX</option>
                                    <option value="NUMBER">NUMBER</option>
                                    <option value="TEXT">TEXT</option>
                            
                                  </select>
                                </div>
                              </td>
                              <td>
                                <i  class="bi bi-trash3" (click)="removeStep(i)"></i>
                              </td>
                            </tr>
                            

                        </table>

                        <div style="display: flex; justify-content: center; margin-top: 15px;">

                            <button class="btn btn-light" type="button" (click)="closeEditModal()"
                                style="margin: 10px; width: 100px; margin-right: 30px; border: 1px solid #c0c0c0">Cancel</button>
                            <button type="submit" class="btn btn-primary mt-2"
                         
                                style="margin: 10px; width: 100px;" (click)="updateInspection()">Update</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete-inspection" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLongTitle"> Are you sure You Want to delete Inspection Template !</h2>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeBox2>
                    <span aria-hidden="true">&times;</span>
                </button> -->
                <button type="button" class="btn btn-light btn-sm ms-auto" data-dismiss="modal" aria-label="Close" style="border-radius: 10px;" #closeBox2>
                  <!-- <span aria-hidden="true" style="height: 20px; width: 10px; background-color: #f0f0f0; border:none; display:block; padding-top: 0px;  ">&times;</span> -->
                  <i class="bi bi-x-lg"></i>
                </button>
            </div>
            <div class="modal-body">
                
              <button class="btn btn-primary" style="margin: 0px 10px;" (click)="closeBox2.click()" (click)="deleteInspection()" data-dismiss="modal" aria-label="Close">DELETE</button>
              <button class="btn btn-danger" style="margin: 0px 10px;" data-dismiss="modal" aria-label="Close" (click)="closeBox2.click()">CANCEL</button>
          
          
     

            </div>
        </div>
    </div>
</div>

</div>