.qr{
    border: 1px grey solid;
    /* width: 300px;
    height: 300px; */
    margin: 30px;
}
.first{
    width: 200px;
    height: 200px;
}
.second{
    width: 300px;
    height: 200px;
}
.main{
    /* margin-left: 250px; */
    left: 250px;
}
label{
    margin: 10px 5px;
}
.selected{
    background-color: red;
}