
.qr-main{
    width: calc(100vw - 300px);
    margin-top: 30px;
}

.main{
    /* margin-left: 250px; */
    /* left: 270px; */
    /* z-index: 999; */
    /* transition: filter 0.3s ease; */
    /* position:static; */
    border-radius: 10px;
  border: 1px solid lightgray;
  background-color: white;
  height: 80vh;
  width: 98%;
  padding: 20px;
  /* margin-top: 30px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.qr{
    border: 1px grey solid;
    border-radius: 10px;
    /* width: 300px;
    height: 300px; */
    margin: 50px;
}
.first{
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
}
.second{
    width: 350px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
}


label{
    margin: 10px 5px;
}
.selected{
    background-color: #12232E;
    /* color: white; */
}
.inside{
    background-color: white;
    height: 200px;
    margin: 25px;
    border-radius: 10px;
}

/* .blur {
    filter: blur(5px);
  } */
  input{
    margin: 10px 0px;
    color: #717275;
    border-radius: 8px;
    padding: 12px 20px;
    width: 20vw;
    /* box-sizing: border-box; */
    border: 3px solid #aab1b8;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline:none
}
input:focus {
    border: 3px solid #1a65ab;
  }

  .qr-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 10px; /* adjust spacing between the two options */
    gap: 10px;
  }
  
  .qr {
    margin: 10px 0; /* reduce space between radio and box */
  }
  