

#asset-table{
    
    /* overflow: hidden; */
    /* margin-top: 10px; */
    border-radius: 10px;
    /* border: 1px solid lightgray; */
}

.row{
    /* margin: 10px 0px; */
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    
}
.filter{
display: flex;
flex-direction: row-reverse;
}
/* button{
    margin: 0px 10px;
} */
/* .filter svg{
    padding-top: 5px;
} */
.sort{
    
    padding: 5px;
    margin-right: 5px;
}
.search{
    background-color: rgb(49, 131, 214);
    border-radius: 5px;
    padding: 4px;
}
.image{
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 5px;
}
.upload button{

height: 40px;
font-size: x-small;

}

.searchBar {
    position: relative;
    width: 200px;
    border: none;
}
/* .searchBar input { */
    /* padding-left: 24px; */
    /* width: 250px; */
    /* 200px - 30px */
    /* border-radius: 5px; */
    /* height: 30px; */
/* } */

/* .searchBar i { */
    /* position: absolute; */
    /* left: 16px; */
     /* padding: 10px 12px; */
    /* pointer-events: none; */
    /* top: 0.3rem; */
/* } */

.searchBar a{

    border: none;
  

    background-color: white;
    color: black;
    padding: 5px 5px;
}

/* .dropdown-menu a{
    cursor: default;
} */

#asset-table tr:hover{
    /* box-shadow: 20px 10px 10px 5px lightgray; */
    background-color: #f5f5f5;
    cursor: pointer;
}

#asset-table tr:hover td{
  /* box-shadow: 20px 10px 10px 5px lightgray; */
  background-color: #f5f5f5;
}

#asset-table tbody {
  font-size: 16px;
}

#asset-table td {
  vertical-align: middle;
}

app-asset-details  {
    width: calc(100vw - 85px);
    transition: width 150ms linear;
    /* overflow-y: scroll; */
    height: calc(100vh - 80px);
}
.app-assets-open{
    width: calc(100vw - 270px);
}
.extra-columns{
    float: right;
}
#custom-columns{
   
    color: white;
    /* border-radius: 10px;
    margin: 10px; */
    width: auto;
}
/* #custom-columns .dropdown-list{
    width: 500px;
} */
#custom-columns .dropdown-btn {
    background-color: #085ED7;
    
}
.multiselect-dropdown .selected-item {
    background-color: white;
}
.multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret:before{
border-style: none;
}
.editoption{
    opacity: 0;
}
#edit-button{
    font-size: 18px;
     color: #5E6164;
}
#edit-button:hover{
    color: #0D6EFD;
}
label{
    margin-bottom: 5px;
}
table{
    color: #5E6164;
    /* font-size: medium;
    padding: 20px 5px; */
   
   
}
th{
    /* padding: 20px 5px; */
    font-size: medium;
    
   
}

/* .loading{

    
    background-image: url('../../../assets/loader.gif');

    height: 100%;
    background-position:top;
  background-repeat: no-repeat;
} */
/* .filter_drawer_asset{
    width: 0px;
    overflow: hidden;
}

.filter_drawer_expanded_asset{
    height: 90%;
    
    background-color: whitesmoke;
    z-index: 20;
    position: absolute;
    top: 75px;
    right: 0px;
  
    overflow: hidden;
    transition: all 0.5s ease;
    width: 25%;
   
}
#filter_table{
    width: 24%;
    margin: 10px;
  
}
#filter_table  td {
   padding: 20px 40px;
  
}

#filter_table  input{
  
    color: #717275;
    border-radius: 8px;
    
    width: 80%;

    border: 2px solid #aab1b8;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline:none
    
 }
select{
    color: #717275;
    border-radius: 8px;
    
    width: 30%;

    border: 2px solid #aab1b8;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline:none
 }
 #filter_table  input:focus{
    border: 2px solid #1a65ab;
 }
#advance_filter{
    overflow-y: scroll;
} */

#filter_table{
    width: 24%;
    margin: 10px;
  
}
#filter_table  td {
   padding: 20px 40px;
  
}

#filter_table  input{
  
    color: #717275;
    border-radius: 8px;
    width: 80%;
   

    border: 2px solid #aab1b8;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline:none
    
 }
select{
    color: #717275;
    border-radius: 8px;
    
    /* width: 100%; */

    border: 2px solid #aab1b8;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline:none
 }
 #filter_table  input:focus{
    border: 2px solid #1a65ab;
 }

 .extraFieldInput{
    color: #717275;
    border-radius: 8px;
    
   

    border: 2px solid #aab1b8;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline:none;
    width: 93%;
    height: 40px;
 }
 .extraFieldInput:focus{
    border: 2px solid #1a65ab;
 }
 /* input{
    width: 150px;
 } */


 /* .loader {
    position: relative;
    width: 54px;
    height: 54px;
    border-radius: 10px;
  }
  
  .loader div {
    width: 8%;
    height: 24%;
    background: rgb(128, 128, 128);
    position: absolute;
    left: 50%;
    top: 30%;
    opacity: 0;
    border-radius: 50px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    animation: fade458 1s linear infinite;
  }
   */
  @keyframes fade458 {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0.25;
    }
  }
  
 /* .bar1 {
    transform: rotate(0deg) translate(0, -130%);
    animation-delay: 0s;
  }
  
  .bar2 {
    transform: rotate(30deg) translate(0, -130%);
    animation-delay: -1.1s;
  }
  
.bar3 {
    transform: rotate(60deg) translate(0, -130%);
    animation-delay: -1s;
  }
  
.bar4 {
    transform: rotate(90deg) translate(0, -130%);
    animation-delay: -0.9s;
  }
  
.bar5 {
    transform: rotate(120deg) translate(0, -130%);
    animation-delay: -0.8s;
  }
 .bar6 {
    transform: rotate(150deg) translate(0, -130%);
    animation-delay: -0.7s;
  }
  
.bar7 {
    transform: rotate(180deg) translate(0, -130%);
    animation-delay: -0.6s;
  }
  
.bar8 {
    transform: rotate(210deg) translate(0, -130%);
    animation-delay: -0.5s;
  }
  
.bar9 {
    transform: rotate(240deg) translate(0, -130%);
    animation-delay: -0.4s;
  }
  
.bar10 {
    transform: rotate(270deg) translate(0, -130%);
    animation-delay: -0.3s;
  }
  
.bar11 {
    transform: rotate(300deg) translate(0, -130%);
    animation-delay: -0.2s;
  }
  
 .bar12 {
    transform: rotate(330deg) translate(0, -130%);
    animation-delay: -0.1s;
  } */


.table-dark {
  --bs-table-bg: #12232E;
  --bs-table-color: white;
}


   #asset-table thead{
    position: sticky;
    top: 0;
    z-index: 1;
    border: 1px lightgray;
   }
   mat-form-field {
    z-index: 100000;
  }
  label {
    display: block;
  }
  /* Lower the z-index of the mat paginator dropdown */
.mat-select-panel {
    z-index: 1050 !important; /* Ensure this is lower than the modal's z-index */
  }
  
  /* Or, alternatively, increase the z-index of the modal */
  .modal {
    z-index: 11000 !important;
  }
  .mat-mdc-paginator-container  {
   z-index: 0;
  }
#sort-and-search{
   /* height: 30px; */
 /* background-color: gray; */
  margin-left: 20px;
  margin-top: 10px;
}

.filter-buttons-container {
  display: ruby-text;
  /* flex-wrap: wrap; */
  gap: 8px; /* Adjust gap between buttons if needed */
  align-items: center;
  overflow: auto;
}

.dropdown {
  position: relative;
  width: 100%;
}

.dropdown-menu {
  position: absolute;
  width: auto;
  height: auto;
  /* max-height: 200px; */
  overflow-y: auto;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  background-color: #fff;
  z-index: 1000;
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  padding: 7px 12px;
  cursor: pointer;
  padding-left: 34px;
  padding-right: 34px;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
  border-radius: 5px;
}

.form-control {
  width: 100%;
  box-sizing: border-box;
}
.dropdown-toggle-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  cursor: pointer;
}
.dropdown-toggle::after {
  vertical-align: middle;
  display: none;
}
.fa{
  position: absolute;
  right: 6px;
  top: -1px;
  /* font-weight: lighter; */
  font-size: 10px; /* Reduce the size of the icon */
  width: 12px; /* Small fixed width */
  height: 12px;
  color: #717275;

  display: inline-block;
  text-align: center;
  line-height: 1;
}
.dropdown-toggle-arrow::after{
  content: '';
}
.dropdown-toggle-arrow::before{
  content: '';
}


/* .arrow-down::before {
  content: "▼"; 
}

.arrow-up::before {
  content: "▲"; 
} */

.search-bar {
  display: flex;
  align-items: center;
  border: 2px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 40px;
  max-width: 400px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Search Input Field */
.asset-search {
  flex: 1;
  padding: 0 33px 0 33px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  /* padding-right: 10px;
  padding-left: 25px; */
  background-color: transparent;
}

.asset-search:hover{
  background-color: #fafafa;
}

.asset-search:focus{
  background-color: #fafafa;
}

.searchIcon{
  position: absolute;
  /* left: -220px; */
  left: 10px;
  pointer-events: none;
  /* top: 0.65rem; */
  /* padding: 10px 12px; */
  padding-left: 4px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.clearIcon {
  position: absolute;
  right: 10px;
  color: #888;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.clearIcon:hover {
  color: #000;
}

.form-control:focus {
  border-color: #007bff; /* Change border color */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a glowing effect */
  outline: none; /* Remove default outline */
}

#asset-table .table {
  border-collapse: collapse;
  /* border: 1px solid #ddd; Default border for the table */
}

#asset-table .table tbody tr {
  border-bottom: 1px solid #ddd;
}

#asset-table .table:not(:has(tbody tr)) {
  border: none;
}

#asset-table tbody tr .bi-pencil:hover {
  color: lightgray !important;
  transform: scale(1.2); /* Slightly increase size for better visibility */
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.no-data {
  text-align: center;
  font-style: italic;
  color: #888;
  margin-top: 15px;
  font-size: 16px;
  /* padding: 10px; */
}

.search-bar:focus-within {
  border-color: #007bff; /* Blue border for focus */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Subtle blue glow */
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  /* outline: none; */
}

.close:hover {
  background-color: #E9ECEF;
}

#sortButtonAsset::after{
  display: none;
}

#asset-table tbody tr {
  cursor: pointer; /* Ensures the cursor is always a pointer over the row */
}
.scrollable-dropdown {
  max-height: 200px; /* adjust height as needed for ~5 list items */
  overflow-y: auto;
}

.dropdown-toggle-arrow i {
  font-size: small;
  color: #7b7c7e;
}

/* #asset-table tbody tr td {
  pointer-events: all;
} */

/* .dropdown-item {
  position: relative;
  padding-left: 25px;
}

.selected-indicator {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #007bff;
  background-color: transparent;
}

.dropdown-item.selected .selected-indicator {
  background-color: #007bff;
} */

/* a[aria-expanded="true"] {
  background-color: #e0e0e0;
} */
.spinner {
  font-size: 28px;
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.spinner.center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.spinner .spinner-blade {
  position: absolute;
  left: 0.4629em;
  bottom: 0;
  width: 0.074em;
  height: 0.2777em;
  border-radius: 0.0555em;
  background-color: transparent;
  -webkit-transform-origin: center -0.2222em;
  -ms-transform-origin: center -0.2222em;
  transform-origin: center -0.2222em;
  animation: spinner-fade9234 1s infinite linear;
}

.spinner .spinner-blade:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.spinner .spinner-blade:nth-child(2) {
  -webkit-animation-delay: 0.083s;
  animation-delay: 0.083s;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.spinner .spinner-blade:nth-child(3) {
  -webkit-animation-delay: 0.166s;
  animation-delay: 0.166s;
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.spinner .spinner-blade:nth-child(4) {
  -webkit-animation-delay: 0.249s;
  animation-delay: 0.249s;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.spinner .spinner-blade:nth-child(5) {
  -webkit-animation-delay: 0.332s;
  animation-delay: 0.332s;
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.spinner .spinner-blade:nth-child(6) {
  -webkit-animation-delay: 0.415s;
  animation-delay: 0.415s;
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.spinner .spinner-blade:nth-child(7) {
  -webkit-animation-delay: 0.498s;
  animation-delay: 0.498s;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.spinner .spinner-blade:nth-child(8) {
  -webkit-animation-delay: 0.581s;
  animation-delay: 0.581s;
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.spinner .spinner-blade:nth-child(9) {
  -webkit-animation-delay: 0.664s;
  animation-delay: 0.664s;
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.spinner .spinner-blade:nth-child(10) {
  -webkit-animation-delay: 0.747s;
  animation-delay: 0.747s;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.spinner .spinner-blade:nth-child(11) {
  -webkit-animation-delay: 0.83s;
  animation-delay: 0.83s;
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.spinner .spinner-blade:nth-child(12) {
  -webkit-animation-delay: 0.913s;
  animation-delay: 0.913s;
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

@keyframes spinner-fade9234 {
  0% {
    background-color: #69717d;
  }

  100% {
    background-color: transparent;
  }
}
