<div class="header">
  <div class="header-centre">
    <!-- <img src='../../assets/logo.png'> -->
    <h1>AssetYug</h1>
  </div>
</div>
<div *ngIf="showAlert" class="alert" [ngClass]="'alert-' + alertType" role="alert">
  {{ alertMessage }}
  <!-- Optionally, add a close button -->
  <button type="button" class="btn-close" (click)="showAlert = false" aria-label="Close" style="float: right;"></button>
</div>
<div class="login container" *ngIf="!loader">
    <form>
        <h1 id="log-in">Log in</h1>
        <div class="form-group">
         
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="email" id="email" name="email"[(ngModel)]="email" required>
            
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" id="password" name="password"[(ngModel)]="password" required>
        </mat-form-field>
        </div>
       
        <button class="btn btn-primary" (click)="login()" style=" width: 100%;
        margin-top: 10px;
        background-color: #013365 ;
        height: 40px;
        color: white;
        margin-top: 30px;">LOGIN</button>
          
            
            <div class="forget" >
                <a href="" style="text-decoration: none;">Forget Password? </a>
            </div>

            <hr>
            
           
            <div class="d-flex justify-content-center">
            <button id="signup" [routerLink]="['/register']" >SIGNUP</button>
            <!-- <button data-toggle="modal" data-target="#removeLoggedIn">Sample</button> -->
             <!-- <button class="btn btn-primary" (click)="demo()"></button> -->
          </div>
            

       

        
      </form>
</div>
<div class="dot-spinner d-flex justify-content-center" *ngIf="loader" >
  <div class="dot-spinner__dot"></div>
  <div class="dot-spinner__dot"></div>
  <div class="dot-spinner__dot"></div>
  <div class="dot-spinner__dot"></div>
  <div class="dot-spinner__dot"></div>
  <div class="dot-spinner__dot"></div>
  <div class="dot-spinner__dot"></div>
  <div class="dot-spinner__dot"></div>
</div>


<div class="modal fade" id="removeLoggedIn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false"  style="z-index :10000;">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLongTitle">Already Logged In From Other Device!</h2>
        <button type="button" class="close  ms-auto" data-dismiss="modal" aria-label="Close" #closeBox (click)="routeToLogin()" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
        <p>Logout from all devices</p>


       
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="logoutFromAllDevice()">Yes</button>
        <button class="btn btn-danger" (click)="closeBox.click()" (click)="routeToLogin()">No</button>
      </div>
    </div>
  </div>
</div>




