.card {
  width: 300px;
  height: 500px;
  border: 1px solid white;
  border-radius: 10px;
  margin: 30px auto;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  */
}

.card:hover {
  border: 1px solid lightgray;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Horizontal, Vertical, Blur, Color */
}

.main-subscription {
  width: 80%;
  /* overflow: auto; */
}

.logo {
  height: 140px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.price {
  position: relative;
  font-size: 32px;
  color: #2B2B2F;
  /* font-weight: 900; */
  font-weight: 400;

  margin: 0px auto;
}

.person {
  font-weight: 700;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: #2B2B2F;
  margin-bottom: 15px;
  margin-top: 5px;
  bottom: 0px;
}

.price sup {
  font-size: 13px;
}

.price sub {
  width: fit-content;
  position: absolute;
  font-size: 11px;
  color: #5F5D6B;
  bottom: 5px;
  display: inline-block;
}

.title {
  font-weight: 700;
  font-size: 19px;
  line-height: 21px;
  text-align: center;
  color: #2B2B2F;
  margin-bottom: 15px;
  margin-top: 20px;
}

.tab-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  padding: 2px;
  background-color: #ebebec;
  border-radius: 9px;
  margin: 10px 20px 0px 20px;
}

.indicator {
  content: "";
  width: 50%;
  height: 28px;
  background: #FFFFFF;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 9;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
  border-radius: 7px;
  transition: all 0.2s ease-out;
}

.tab {
  width: 50%;
  height: 28px;
  position: relative;
  z-index: 99;
  background-color: transparent;
  border: 0;
  outline: none;
  flex: none;
  align-self: stretch;
  flex-grow: 1;
  cursor: pointer;
  font-weight: 500;
}

.tab--1:hover~.indicator {
  left: 2px;
}

.tab--2:hover~.indicator {
  left: calc(50% - 2px);
}

.selected-tab {
  left: calc(50% - 2px);
}


.lists {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  grid-row-gap: 0.75rem;
  row-gap: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(19, 2, 2);
}

.list {
  display: flex;
  align-items: center;
}

.list svg {
  height: 1rem;
  width: 1rem;
}

.list span {
  margin-left: 1rem;
}

.plus-minus-btn {
  border: 1px solid darkgray;
  height: 25px;


}

.plus-minus {
  display: ruby-text;
  margin-top: 2px;
}

#addPerson {
  left: 100px;
}

.address {
  border: 1px white solid;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  width: 70vw;
  margin-bottom: 20px;
}

.mode {
  width: 100%;
  height: 70px;
  border: 1px rgb(241, 238, 238) solid;
  margin: 5px 0px;
  padding: 10px;
  border-radius: 10px;
}

#subscription-back:hover {
  color: #1a65ab;






}

#subscription-back {
  cursor: default;
  text-decoration: none;
  color: #8c8e91;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  /* margin-top: 10px; */
  font-size: larger;
  float: inline-start;
  height: 2px;
  width: 100%;
  padding: 10px;
  /* margin: 10px; */

  /* border-radius: 10px; */

  position: sticky;
  top: 0;
  z-index: 1000;
}

.curr-plan-card {
  width: 100%;
  background-color: #bac9bbeb;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px
}

.curr-plan {
  font-weight: 500;
  font-size: 19px;
  line-height: 21px;
  text-align: center;
  color: #2B2B2F;
  margin: 5px auto
}

.curr-plan-title {
  font-weight: 100;
  font-size: 23px;
  line-height: 21px;
  text-align: center;
  color: #2B2B2F;
  margin: 5px auto
}

.curr-plan-person {
  font-weight: 100;
  font-size: 15px;
  line-height: 21px;

  color: #2B2B2F;
  margin-left: 10px;
}

.plan-details-card {
  width: 100%;
  min-width: 720px;
  background-color: rgb(239, 237, 237);
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px
}

.curr-plan-expiry {
  font-weight: 100;
  font-size: 15px;
  line-height: 21px;

  color: #2B2B2F;
  margin-left: 10px;
}

h1 {
  text-align: center;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: rgb(66, 134, 244);
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  color: rgb(66, 134, 244);
  background-color: rgb(66, 134, 244);
}

/* .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color:rgb(255, 37, 37,.26);
} */

.loader {
  border: 4px solid rgba(0, 0, 0, .1);
  border-left-color: transparent;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin: 30vh auto;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}





.payment-success-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #f5f5f5;
  overflow: hidden;
  position: relative;
}

.payment-success-card {
  text-align: center;
  background: white;
  padding: 20px 30px;
  border-radius: 8px;
  max-width: 400px;
  position: relative;
  z-index: 10;
}

.icon-container {
  display: flex;
  justify-content: center;
}

.success-icon {
  font-size: 50px;
  color: #4caf50;
}

.confetti-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}



.confetti {
  width: 10px;
  height: 10px;
  background: red;
  position: absolute;
  opacity: 0.7;
  border-radius: 2px;
  animation: fall 5s infinite ease-in;
}

@keyframes fall {
  0% {
    transform: translateY(-100px) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

/* Adding multiple confetti elements */
.confetti:nth-child(1) {
  left: 20%;
  background-color: #FF5722;
  animation-duration: 4s;
  width: 8px;
  height: 8px;
}

.confetti:nth-child(2) {
  left: 40%;
  background-color: #4CAF50;
  animation-duration: 6s;
  width: 12px;
  height: 12px;
}

.confetti:nth-child(3) {
  left: 60%;
  background-color: #03A9F4;
  animation-duration: 5s;
  width: 10px;
  height: 10px;
}

.confetti:nth-child(4) {
  left: 80%;
  background-color: #FFEB3B;
  animation-duration: 4.5s;
  width: 14px;
  height: 14px;
}

.confetti:nth-child(5) {
  left: 30%;
  background-color: #9C27B0;
  animation-duration: 5.5s;
  width: 10px;
  height: 10px;
}

.success-icon {
  height: 50px;
  width: 50px;
}


/* span{

border: 1px solid #c2c7cf;
width: 100%;
display: flex;
justify-content: center;
padding-top: 20px;
border-radius: 5px;
font-size: large;
margin: 0px 1px;
background-color: #c2c7cf;
cursor: pointer;

}  */
/* span:hover{
border:2px solid darkgray; 
} */
.option span {
  /* Common styling for all spans inside the option div */
  border: 1px solid #c2c7cf;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  border-radius: 5px;
  font-size: large;
  margin: 0px 1px;
  background-color: #c2c7cf;
  cursor: pointer;
}

.option span:hover {
  /* Styling for hover effect */
  border: #989292 1px solid;
  border-radius: 5px;
}

.option span.selected-option {
  /* Styling for the selected option */
  font-weight: bold;
  color: white;
  background-color: #12232E;
  border-radius: 5px;
}

.option {
  width: calc(100vw - 400px);
  margin-top: 50px;

  height: 70px;

  margin-left: 60px;





}

.selected-option {
  background-color: #12232E;
  color: white;

}

::ng-deep .mat-mdc-card-header-text {
  width: 100%;
}

.addCardsDetails {
  width: 100%;

}

.savedCard {
  /* background-color: white; */
  height: auto;
  margin: 10px 0px;
  padding: 5px;
  width: 100%;

}

#card-span {
  background-color: white;
  max-width: 600px;
  /* min-width: 200px; */
  width: 40vw;
  height: 70px;
  margin: 10px 0px;
  padding: 10px 10px;
  border-radius: 10px;
  border: 0.5px solid lightgray;
  font-size: larger;
  font-weight: 500;
}

#edit-card-span {
  background-color: white;
  max-width: 600px;
  /* min-width: 200px; */
  width: 40vw;
  height: 120px;
  margin: 10px 0px;
  padding: 10px 10px;
  border-radius: 10px;
  border: 0.5px solid lightgray;
  font-size: larger;
  font-weight: 500;
}

#card-span:hover {
  border: 1px solid darkgray;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#card-add-btn {
  display: flex;
  place-self: end;
  margin: 10px;

}

#add-card-div {
  background-color: white;
  width: 40%;
  min-width: 300px;
  height: auto;
  margin: 10px auto;
  border-radius: 10px;
  border: 1px solid lightgray;
  padding: 20px;
}

#add-card-div input {
  /* margin: 5px; */
  /* width: 90%; */
  margin: 5px 0px;
}

#add-card-div label {
  font-weight: 500;
  margin: 2px 0px;
}

.billing-details {
  background-color: white;
  border-radius: 10px;
  border: 0.5px solid lightgray;
}

.card-logo {
  width: 40px;
  height: auto;
  margin-right: 8px;
  vertical-align: middle;
}

.invoice-details {
  width: 100%;
  min-height: 100px;
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  padding-bottom: 20px;
}

#invoice-table thead {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;

  /* margin-left: 10%; */
}

#invoice-table {
  color: #5E6164;
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
  border-radius: 10px;
  height: 100px;




}
.invoice-table-wrapper {
  max-height: 300px;
  overflow-y: auto;
  margin-left: 5%;
  margin-top: 20px;
  width: 90%;
  border-radius: 10px;
}

/* Sticky header */
#invoice-table thead {
  position: sticky;
  top: 0;
  z-index: 2;
}

#asset-table tr:hover {
  box-shadow: 20px 10px 10px 5px black;

}

#asset-table {

  /* overflow: hidden; */
  /* margin-top: 10px; */
  border-radius: 10px;
}

.editoption {
  opacity: 0;
}

/* .dots-container {
display: flex;
align-items: center;
justify-content: center;
height: 100%;
width: 100%;
}

.dot {
height: 20px;
width: 20px;
margin-right: 10px;
border-radius: 10px;
background-color: #b3d4fc;
animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
margin-right: 0;
}

.dot:nth-child(1) {
animation-delay: -0.3s;
}

.dot:nth-child(2) {
animation-delay: -0.1s;
}

.dot:nth-child(3) {
animation-delay: 0.1s;
}

@keyframes pulse {
0% {
  transform: scale(0.8);
  background-color: #b3d4fc;
  box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
}

50% {
  transform: scale(1.2);
  background-color: #6793fb;
  box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
}

100% {
  transform: scale(0.8);
  background-color: #b3d4fc;
  box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
}
} */
.paid-status {
  background-color: #d4edda;
  /* light green */
  color: #155724;
  /* dark green */
}

.pending-status {
  background-color: #fff3cd;
  /* light yellow */
  color: #856404;
  /* dark yellow */
}

.failed-status {
  background-color: #f8d7da;
  /* light red */
  color: #721c24;
  /* dark red */
}

.cancelled-status {
  background-color: #e2e3e5;
  /* light gray */
  color: #6c757d;
  /* dark gray */
}

.paid-status,
.pending-status,
.failed-status,
.cancelled-status {
  display: inline-block;
  padding: 6px 12px;
  min-width: 80px;
  height: 32px;
  text-align: center;
  vertical-align: middle;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid transparent;
  /* margin-top: 15px; */
  margin-left: 10px;
}

td {
  vertical-align: middle;
  padding: 10px;
  /* consistent spacing */
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table td,
.table th {
  border: 1px solid #dee2e6;
}