table{
    
    color: #5E6164;
    /* margin-top: 10px; */
    /* margin-left: 10px; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* padding-right: 10px; */

}
.form-group{
   margin-bottom: 15px;
}
.image{
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 5px;
}
.editoption{
    opacity: 0;
}
#inventory-custom-columns{
   
    background-color: #085ED7;
    margin: 10px 10px;
    color: white;
    border-radius: 5px;
    width: auto;
 
}


#inventory-custom-columns .dropdown-btn {
    background-color: #085ED7;
    
}
.row{
    margin: 20px 0 0 0;
}

.filter{
    display: flex;
    flex-direction: row-reverse;
}

td{
    color: #5E6164;
    font-size: medium;
    padding: 20px 5px;
   
   
}

.multiselect-dropdown .dropdown-list{
    width: 500px;
}

.loading{

    
    background-image: url('../../../assets/loader.gif');
    /* background-size: 100%; */
    height: 100%;
    background-position:top;
  background-repeat: no-repeat;
}

.searchBar {
    position: relative;
    width: 200px;
    border: none;
}

.searchBar a{
    border: none;
    background-color: white;
    color: black;
    padding: 5px 5px;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 40px;
    max-width: 400px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  /* Search Input Field */
  .inventory-search {
    flex: 1;
    padding: 0 33px 0 33px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    /* padding-right: 10px;
    padding-left: 25px; */
    background-color: transparent;
  }
  
  .asset-search:hover{
    background-color: #fafafa;
  }
  
  .asset-search:focus{
    background-color: #fafafa;
  }
  
  .searchIcon{
    position: absolute;
    /* left: -220px; */
    left: 10px;
    pointer-events: none;
    /* top: 0.65rem; */
    /* padding: 10px 12px; */
    padding-left: 4px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

.table-dark {
    --bs-table-bg: #12232E;
    --bs-table-color: white;
}

.dropdown-toggle::after {
    display: none;
}

#inventory-table{
    border-radius: 10px;
}

#inventory-table tr:hover{
    /* box-shadow: 20px 10px 10px 5px lightgray; */
    background-color: #f5f5f5;
    cursor: pointer;
}

#inventory-table tr:hover td{
  /* box-shadow: 20px 10px 10px 5px lightgray; */
  background-color: #f5f5f5;
}

#inventory-table tbody {
  font-size: 16px;
}

#inventory-table td {
  vertical-align: middle;
}

.dropdown-menu {
    position: absolute;
    width: auto;
    height: auto;
    /* max-height: 200px; */
    overflow-y: auto;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    background-color: #fff;
    z-index: 1000;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-menu.show {
    display: block;
  }
  
  .dropdown-item {
    padding: 7px 12px;
    cursor: pointer;
    padding-left: 34px;
    padding-right: 34px;
  }
  
  .dropdown-item:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
  }

  .form-control{
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    font-size: 16px;
    padding-left: 11px;
    margin-top: 5px;
    width: 100%;
    height: 35px;
  }
  
  .form-control:focus {
    border-color: #007bff; /* Change border color */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a glowing effect */
    outline: none; /* Remove default outline */
  }