<div *ngIf="showAlert" class="alert" [ngClass]="'alert-' + alertType" role="alert" style="margin: 5px; position: fixed; width: 95%; z-index: 100;">
  {{ alertMessage }}
  <!-- Optionally, add a close button -->
  <button type="button" class="btn-close" (click)="showAlert = false" aria-label="Close" style="float: right;"></button>
</div>

<div style="border: 1px solid lightgray; border: 1px black lightgray; background-color: white; border-radius: 10px; padding: 0px; margin: 30px 30px 30px 30px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); height: auto; padding-bottom: 8px;">
<div class="main-inventory">
<div class="row" *ngIf="!loadingScreen">
  <!-- <div class="d-flex justify-content-between"> -->
  <div class="d-flex justify-content-between searchBar" style="float: left; width: 450px; align-items: center;">
    <div class="search-bar" style="margin: 0 5px;">
      <input type="text" style="margin: 0px 0px; border-radius: 5px; height: 40px;" class="inventory-search" (keyup)="onSearch($event)" placeholder="Search" >
      <i class="bi bi-search searchIcon"></i>
    </div>

    <button class="btn btn-primary" style="margin: 0px 5px; ">Search</button>

    <a class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="modal" data-target="#advanceFilterModule">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-funnel-fill" viewBox="0 0 16 16">
        <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
      </svg>
    </a>
  </div>

  <div class="col filter" style="height: 40px;">

    <a class="btn btn-light dropdown-toggle" type="button" data-target="#customFieldModule" data-toggle="modal" aria-haspopup="true" aria-expanded="false" style="margin: 0 5px; border: 1px solid #c0c0c0;--bs-btn-bg: white" title="Column Options">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16" style="color: black;">
        <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
      </svg>
    </a>

    <button class="btn btn-primary" style=" margin: 0px 5px; width: 100%; max-width: 110px;" data-toggle="modal" data-target="#addInventory"  *ngIf="!(userRoleDetails?.inventory!='full' &&userRole!='ADMIN')">+ Inventory</button>
    
    <button class="btn btn-dark" style="margin: 0px 5px;">Export</button>

    <a class="btn btn-light dropdown-toggle" type="button" id="sortButtonAsset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin: 0px 5px; border: 1px solid #c0c0c0;--bs-btn-bg: white" title="Sort">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5"/>
      </svg>  
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="z-index: 10;">
      <a class="dropdown-item" (click)="onSort('partId')">Sort By Part Id</a>
      <a class="dropdown-item" (click)="onSort('partName')">Sort By Part Name</a>
      <a class="dropdown-item" (click)="onSort('price')">Sort By Price</a>
      <a class="dropdown-item" (click)="onSort('cost')">Sort By Cost</a>
      <a class="dropdown-item" (click)="onSort('category')">Sort By Category</a>
      <a class="dropdown-item" (click)="onSort('quantity')">Sort By Quantity</a>
   
      <a *ngFor="let item of selectedExtraColums"  class="dropdown-item" (click)="onSort(item)">Sort By {{item}}</a>
    </div>

  </div>

  <!-- <div class="d-flex justify-content-center">
    <div  id="inventory-custom-columns">
      <ng-multiselect-dropdown
            [placeholder]="'Columns...'"
            [settings]="dropdownSettings"
            [data]="extraFieldNameList"
            [(ngModel)]="selectedExtraColums"
            [disabled]="false">
          </ng-multiselect-dropdown>
    </div>
  </div> -->

</div>

<div class="row" style="height: calc(100vh - 260px); overflow: auto; width: 100%;">
    <div class="col">
      <!-- <button *ngIf="sortoption" class="sort btn btn-secondary" (click)="removeFilter()">Sorted By: {{sortoption|titlecase}} &times;</button>
      <span *ngIf="searchText" class="search">Searched Text: {{searchText|titlecase}}</span> -->
      
      
      <table class="table" id="inventory-table">
          <thead class="table-dark">
              <tr style="cursor: default;">
                  <th scope="col">ID</th>
                  <th scope="col">Part Image</th>
                  <th scope="col">Part ID</th>                 
                  <th scope="col"> Part Name</th>
                  <th scope="col">Price</th>
                  <th scope="col">Cost</th>
                  <th scope="col">Category</th>
                  <!-- <th scope="col">Quantity</th> -->
                  <!-- <th scope="col"> Running Low</th> -->
                  <!-- <th scope="col">Stock</th> -->
                  <th scope="col" *ngFor="let col of selectedExtraColums">{{col|titlecase}}</th>
                  <th></th>
                </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of InventoryListWithExtraFields" (mouseenter)="editButtonVisibile(inventoryList.indexOf(item)+1)" (mouseleave)="editButtonNotVisible()">
                  <!-- <th scope="row">{{inventoryList.indexOf(item)+1}}</th> -->
                  
                  <td>{{item.inventoryId}}</td>
                  <td style="color: black;"  data-toggle="modal" data-target="#imagePopUp" (click)="updatePopUpImage(item.partImage)"><img src="../../../assets/asset_image.jpg" class="image" *ngIf="!item.partImage" ><img src={{item.partImage}} class="image"  *ngIf="item.partImage"  ></td>
                  <td>{{item.partId|titlecase}}</td>
                  <td>{{item.partName}}</td>
                  <td >{{item.price}}</td>
                  <td >{{item.cost}}</td>
                  <td>{{item.category|titlecase}}</td>
                  <!-- <td>{{item.quantity}}</td> -->
                  <!-- <td *ngFor="let col of selectedExtraColums"> {{ item[col] }}</td> -->
                  <!-- <td></td> -->
                  <!-- <td style="font: message-box;" [ngStyle]="{'color':item.quantity<=0?'red':'green'}" ><p *ngIf="item.quantity<=0" >Out of Stock</p><p *ngIf="item.quantity>0">In Stock</p></td> -->
                  <td *ngFor="let col of selectedExtraColums">{{item[col]}}</td>
                  <td>
                    <i class="bi bi-pencil" [ngClass]="{'editoption':!(editVisibility&&(editButtonId==inventoryList.indexOf(item)+1))}"  style="float: inline-start; margin: 15px 5px;"  [routerLink]="['/edit-inventory',item.id]" ></i>
                    <i class="bi bi-trash"  [ngClass]="{'editoption':!(editVisibility&&(editButtonId==inventoryList.indexOf(item)+1))}" style="color: red; float: inline-start; margin: 15px 5px;" (click)="deleteInventory(item.id)"></i>
                  </td>
                  
                </tr>
              
               
          </tbody>
        </table>
    </div>
  </div>
</div>
</div>

<!-- Creating a new Item record -->

  <div class="modal fade" id="addInventory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header" style="padding: 13px 15px;">
          <h2 class="modal-title" style="margin: 0; display: flex; justify-content: center;" id="exampleModalLongTitle">Add Inventory</h2>
          <button type="button" class="btn btn-light btn-sm ms-auto" data-dismiss="modal" aria-label="Close" style="border-radius: 10px;" #closeBox>
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
        <div class="modal-body" >
            <form [formGroup]="inventoryForm" (ngSubmit)="addInventory()">
                <div  class="form-group">
           
                  <label for="PartImage">Part Image<span *ngIf="mandatoryFieldsMap.get('partImage')" class="text-danger">*</span></label>
                  <input type="file" class="form-control" id="PartImage" (change)="imageChange($event)" #partImage>
                 
                </div>
                <div class="form-group">
                  <label for="PartId">Part Id<span *ngIf="mandatoryFieldsMap.get('partId')" class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="PartId" formControlName="partId"  placeholder="Part Id" required="true" #partId>
                </div>
                
                  <div class="form-group">
                    <label for="PartName">Part Name<span *ngIf="mandatoryFieldsMap.get('partName')" class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="PartName" formControlName="partName"  placeholder="Part Name" required>
                  </div>
                
                
                  <div class="form-group">
                    <label for="Price">Price<span *ngIf="mandatoryFieldsMap.get('price')" class="text-danger">*</span></label>
                    <input type="number" class="form-control" id="Price" formControlName="price"  placeholder="Price">
                  </div>
               
                  <div class="form-group">
                    <label for="Price">Cost<span *ngIf="mandatoryFieldsMap.get('cost')" class="text-danger">*</span></label>
                    <input type="number" class="form-control" id="Cost" formControlName="cost"  placeholder="Cost">
                  </div>
                  <div class="form-group">
                    <label for="Price">Category<span *ngIf="mandatoryFieldsMap.get('category')" class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="Category" formControlName="category"  placeholder="Category">
                  </div>
                  <div class="form-group">
                    
                    <label for="Price">Quantity<span *ngIf="mandatoryFieldsMap.get('quantity')" class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="Quantity" formControlName="quantity"  placeholder="Quantity">
                  </div>
                  <div class="form-group" *ngFor="let item of showFieldsList" >
                    <div *ngIf="item.show">
                    <label for={{item.name}}>{{item.name|titlecase}}<span *ngIf="mandatoryFieldsMap.get(item.name)" class="text-danger">*</span></label>
                    <input type={{item.type}} class="form-control" id="{{item.name}}" formControlName={{item.name}}  placeholder={{item.name|titlecase}}>
                    </div>
                    <br>
                  </div>

                  <div style="display: flex; justify-content: center; margin-top: 15px;">
                    <button class="btn btn-light" (click)="closeBox.click()" style="margin: 10px; margin-right: 30px; width: 100px; border: 1px solid #c0c0c0">Cancel</button>
                    <button type="submit" class="btn btn-primary" (click)="closeBox.click()" (click)="partImage.value=''" style="margin: 10px; width: 100px;">Save</button>
                  </div>
                
              </form>
         
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" id="imagePopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" >
    <div class="modal-dialog modal-l" role="document">
      <div class="modal-content">
       
        <div class="modal-body d-flex justify-content-center" >
          <img src="../../../assets/asset_image.jpg" class="image" *ngIf="!popUpImage" ><img src={{popUpImage}} class="image"  *ngIf="popUpImage"  style="height: 500px; width: 500px">
         
        </div>
      </div>
    </div>
  </div>

<!-- Advance Filter -->

  <div class="modal fade" id="advanceFilterModule" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="padding: 13px 15px;">
          <h2 class="modal-title" style="margin: 0; display: flex; justify-content: center;" id="exampleModalLongTitle">Advance Filter</h2>
          <button type="button" class="btn btn-light btn-sm ms-auto" data-dismiss="modal" aria-label="Close" style="border-radius: 10px;" #closeBox3>
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
        <div class="modal-body">
          
            <form [formGroup]="filterForm" >
  
              <div style="width: 100%;">
              <div class="form-group">
                <label for="partId">Part Id</label>
                <input type="text" class="form-control" id="partId" formControlName="partId"  >
                
              </div>
              <br>
              <div class="form-group">
                <label for="partName">Part Name</label>
                <input type="text" class="form-control" id="partName" formControlName="partName"  >
                
              </div>
              <br>
                <div class="form-group">
                  <label for="price">Price</label>
                  <input type="date" class="form-control" id="price" formControlName="price"  >
                </div>
                <br>
              
           
                <div class="form-group">
                  <label for="cost">Cost</label>
                  <input type="number" class="form-control" id="cost" formControlName="cost"  >
                </div>
                <br>
                <div class="form-group">
                  <label for="category">Category</label>
                 
                  <input type="text" class="form-control" id="category" formControlName="category"  >
                </div>
                <br>
                <div class="form-group">
                  <label for="quantity">Quantity</label>
                 
                  <input type="number" class="form-control" id="quantity" formControlName="quantity"  >
                </div>
                <br>
  
                <div *ngFor="let input of selectedFilterList; let i = index" style="margin-top: 5px;">
                  <label for={{input}}>{{input|titlecase}}</label>
                  <input [formControlName]="input" type={{extraFieldFilterList.get(input)}} class="extraFieldInput"> <!-- Since each form group is wrapped in a form array -->
                  <i class="bi bi-trash-fill delete" style="display: inline-flex; margin-top: 25px; margin-left: 10px; color: red; margin-right: 5px;" (click)="removeInputField(input)"></i>
                </div>
                <br>
                
                  <h3 style="margin-left: 38%; margin-top: 5px;">Add Extra Fields</h3>
                  <div class="d-flex justify-content-between" style="margin: 5px 0px;">                  
                    <select #selectField (change)="updateSelectedField(selectField.value)" style="width: 30%">
                    <option value="" selected>None</option>
                    <option value="{{col}}" *ngFor="let col of filterList">{{col}}</option>
                    </select>
                  <button class="btn btn-primary" (click)="addFilter()" style="margin-left: 10px;">Add Field</button>
                </div>
  
  
          
  
  
          </div>
         
        </form>
        <div style="display: flex; justify-content: center; margin-top: 15px;">
          <button class="btn btn-light" (click)="closeBox3.click()" (click)="reset()" style="margin: 10px; margin-right: 30px; width: 100px; border: 1px solid #c0c0c0">Clear</button>
          <button type="submit" class="btn btn-primary" (click)="closeBox3.click()" (click)="addFilterForm()" style="margin: 10px; width: 100px;">Filter</button>
          
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="loading" *ngIf="loadingScreen"></div>