.main{
    display: flex;
    flex-direction: column;
    /* justify-content:space-evenly */
    height: calc(100vh - 100px);
    
}

img{
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    height: 300px;
    margin-bottom: 30px;
}
.option{
    
    /* width: 100px; */
    height: 70px;
    margin-right: 10px;
   
   /* background-color: #c2c7cf; */
   
    
    
}
 .option span{
    /* border: 1px solid #8c8e91; */
    width: 50%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    border-radius: 5px;
    font-size: large;

   
} 
.container{
    display: flex;
    flex-direction: column;
   
} 
.selected-option{
    background-color: #12232E;
    color: white;
    font-weight: bold;
    margin: 0 1px;
}
input{
    margin: 10px 2px;
}

table i{
    color: red;
    margin-bottom: 2px;
    font-size: larger;
    margin-left: 20px;

}
table{
    width:100%;
}
.nav-button{


    position: fixed;
    bottom: 0px;
    width:  100vw;
    display: flex;
    justify-content:center;
    background-color: #F8F9F9;
    padding-right: 8%;
    padding-top: 10px;
    border:1px solid darkgray;

}
.nav-button button{
    margin: 10px;

}


#dropdownMenuButton{
    margin: 10px 10px;
}
label{
    margin-bottom: 2px;
}
.extra-field-input span{
   padding-top: 10px;
}
.extra-field-input i{
    padding-top: 10px;
    color: red;
    display: inline-flex;
    margin-top: 25px;

}
.extra-field-input button{
    margin-top: 25px;
}
input{
    width: 100%;
  border-radius: 8px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #aab1b8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
.extra-field-input{
    color: #5E6164;
}
.card-body input{
    color: #717275;
    background-color: #F8F9F9;
    margin-bottom: 30px;
}
.card{
    width: 80vw;
    /* margin-right: 10px; */
    margin-bottom: 100px;
}
input:focus {
    border: 3px solid #1a65ab;
  }

  #textArea:focus{
    border: 3px solid #1a65ab;
  }
  .back-button{
    cursor: default;
    text-decoration: none;
    color: #8c8e91;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* margin-top: 10px; */
    font-size: larger;
    float: inline-start;
    height: 100px;
    width: 100%;
    padding: 10px;
    /* margin: 10px; */
    border: 0.5px white solid;
    /* border-radius: 10px; */
    background-color: white;
    border-bottom-color: lightgray;
    position: sticky;
    top: 0;
    z-index: 1000;
    overflow: visible;    
}

#asset-back:hover{
    color: #1a65ab;
    
}
body{
    float: left;
}
i{
    display: inline-flex;
}

tr {
    border: 1px solid lightgray;
}

/* tr:hover{
    background-color: #f5f5f5;
} */

/* tr:hover td{
    background-color: inherit;
} */

/* tr:hover{
    box-shadow: 5px 5px 20px grey;
} */

.checkedIn-status{
    background-color: green;
    padding: 5px 5px;
    color: white;
    border-radius: 5px;
    float: inline-end;
}
.checkedOut-status{
    background-color: #DE3163;
    padding: 5px 5px;
    color: white;
    border-radius: 5px;
    float: inline-end;
}
.danger-button{
    background-color: #DA3445;
    padding: 5px 5px;
    border-radius: 5px;
    border-color: #DA3445;
    color: white;
}
/* .{
    background-color: #1a65ab;
    padding: 5px 5px;
    border-radius: 5px;
    border-color: #1a65ab;
    color: white;
} */
.onhold{
    height: 13px;
    width: 13px;
    border-radius: 13px;
    background-color: #E7B948;
    display: inline-flex;
    margin: 0px 5px;
}
.closed{
    height: 13px;
    width: 13px;
    border-radius: 13px;
    background-color: rgb(64, 136, 238);
    display: inline-flex;
    margin: 0px 5px;
}
.inprogress{
    height: 13px;
    width: 13px;
    border-radius: 13px;
    background-color: #26C464;
    display: inline-flex;
    margin: 0px 5px;
}
.open{
    height: 13px;
    width: 13px;
    border-radius: 13px;
    background-color: lightgray;
    border: 1px gray solid;
    display: inline-flex;
    margin: 0px 5px;
}
i{
    font-size: large;
    color: #5E6164;
}
i:hover{
    color: #0D6EFD;
}
.delete:hover{
    color: #DA3445;
}
.first{
    width: 250px;
    height: 250px;
}
.second{
    width: 350px;
    height: 250px;
}
#customer,#technician,#status,#location{
    width: 80%;
    height: 48px;
    border-radius: 8px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #aab1b8;
    transition: 0.5s;
    outline: none;
    color: gray;
}
#category,#asset-name,#serialNumber{
    width: 100%;
    height: 48px;
    border-radius: 8px;
    padding: 12px 20px;
    margin: 8px 0;
    color: gray;
    box-sizing: border-box;
    border: 3px solid #aab1b8;
    transition: 0.5s;
    outline: none;
}
.loading{

    
    background-image: url('../../../assets/loader.gif');
    /* background-size: 100%; */
    height: 100%;
    background-position:top;
  background-repeat: no-repeat;
}
.v1{
    border-left: 2px solid lightgray;
    height: 25px;
}
/* .mat-mdc-button>.mat-icon {
    margin-top: 20px;
} */

#matbutton {
    top: 10px;
}

.subTab{
    /* border: 1px solid #8c8e91; */
    border: 1px solid #c2c7cf;
    width: 50%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    border-radius: 5px;
    font-size: large;
    margin: 0px 1px;
    background-color: #c2c7cf;
    cursor: pointer;
   
} 
.subTab:hover{
    border:2px solid darkgray; 
}
#inspection{
    width: 100%;
    height: 40px;
}
.dropdown-toggle-arrow {
    position: absolute;
    top: 40%;
    right: 55px;
    transform: translateY(-50%);
   
    cursor: pointer;
  }
  .dropdown-toggle-arrow i {
    font-size: small;
    color: #7b7c7e;
  }
.pending {
  background-color: #E7B948;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  font-size: 0.85rem;
}

.completed {
  background-color: #01fc16;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  font-size: 0.85rem;
}
  /* tr:hover td:not(.pending):not(.completed) {
  background-color: inherit;
} */
.export-btn {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: transform 0.2s;
}

.export-btn:hover {
  transform: translateY(-2px);
}
.download-icon {
  font-size: 16px;
}
.file-list-container {
    width: 100%;
  }

  .file-row {
    display: flex;
    padding: 12px;
    border-bottom: 1px solid #e0e0e0;
    font-size: large;
    align-items: center;
  }

  .file-header {
    background-color: #f8f9fa;
    font-weight: bold;
    position: sticky;
    top: 0;
  }

  .col {
    flex: 1;
    word-break: break-word;
  }

  .col-1 {
    flex: 2;
  }

  .col-2 {
    flex: 1;
    text-align: center;
  }

  .col-3 {
    flex: 1;
    text-align: center;
  }

  .col-4 {
    flex: 0.5;
    text-align: center;
  }