
<div class="card mt-2">
    
    <div class="card-body">
      <div *ngIf="showAlert" class="alert" [ngClass]="'alert-' + alertType" role="alert">
        {{ alertMessage }}
        <!-- Optionally, add a close button -->
        <button type="button" class="btn-close" (click)="showAlert = false" aria-label="Close" style="float: right;"></button>
      </div>
      <!-- <div class="extra-field-input">
        <div style="margin-top: 50px;" *ngIf="extraFieldOption=='number'" class="d-flex justify-content-between">
          <span style="margin-bottom: 10px;"><button class="btn btn-warning" >{{extraFieldOption|titlecase}}</button></span>
          <label for="name">Field Name <input id="name" type="text" [(ngModel)]="addFieldName" #name></label>
         
          <i class="bi bi-trash3" (click)="removeFieldOption()">Remove</i>
          
        </div>
        <div style="margin-top: 50px;" *ngIf="extraFieldOption=='text'" class="d-flex justify-content-between">
          <span style="margin-bottom: 10px;"><button class="btn btn-warning">{{extraFieldOption|titlecase}}</button></span>
          <label for="name">Field Name <input id="name" type="text" [(ngModel)]="addFieldName" #name></label>
         
          <i class="bi bi-trash3" (click)="removeFieldOption()">Remove</i>
        </div>
       
        <div style="margin: 50px;" *ngIf="extraFieldOption=='date'" class="d-flex justify-content-between">
          <span style="margin-bottom: 10px;"><button class="btn btn-warning">{{extraFieldOption|titlecase}}</button></span>
          <label for="name">Field Name <input id="name" type="text" [(ngModel)]="addFieldName" #name></label>
 
          <i class="bi bi-trash3" (click)="removeFieldOption()">Remove</i>
        </div>
      </div> -->
        
        
        <button class="btn btn-primary" data-toggle="modal" data-target="#addField">+ Field</button>
     
        <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="z-index: 10;">
          
          <a class="dropdown-item" (click)="addFieldOption('number')">Number <i class="bi bi-123" style="color: black;"></i></a>
          <a class="dropdown-item" (click)="addFieldOption('text')">Text <i class="bi bi-type" style="color: black;"></i></a>
           <a class="dropdown-item" (click)="addFieldOption('checkbox')">CheckBox</a> 
          <a class="dropdown-item" (click)="addFieldOption('date')">Date <i class="bi bi-calendar2" style="color: black;"></i></a>
          
        </div> -->
      </div>
      <table class="table" *ngIf="extraFieldName">
        <thead class="table-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Show</th>
            <th scope="col">Mandatory</th>
           <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mandatoryFields">
            <td>{{ item.name === 'zipCode' ? 'Zip Code' : (item.name | titlecase) }}</td>
            <td>{{item.type|titlecase}} </td>
            <td><mat-slide-toggle  color="primary" [ngModel]=true  disabled=""></mat-slide-toggle></td>
            <td *ngIf="item.name=='name'"><mat-slide-toggle  color="primary" [ngModel]="true" disabled=""></mat-slide-toggle></td>
            <td  *ngIf="item.name!='name'"><mat-slide-toggle  color="primary" [ngModel]="getValueOfMandatoryMap(item.name)" (change)="mandatoryField(ch,item.name,item.type)"  #ch></mat-slide-toggle></td>
            <td></td>
          </tr>
          <h2 *ngIf="extraFieldName.length>0" style="margin: 10px;">Custom Fields</h2>
          <tr *ngFor="let item of extraFieldName">
           
            <td>{{item.name|titlecase}}</td>
            <td>{{item.type|titlecase}} </td>
            <td>
              <!-- <input type="checkbox" (change)="showField(sh,item.name,item.type)" [checked]="getValueOfShowMap(item.name)"  [disabled]="editOn" #sh> -->
              <mat-slide-toggle  color="primary" [ngModel]="getValueOfShowMap(item.name)" (change)="showField(sh,item.name,item.type)"  #sh></mat-slide-toggle></td>
            
              <td>
                <mat-slide-toggle  color="primary" [ngModel]="getValueOfMandatoryMap(item.name)" (change)="mandatoryField(ex,item.name,item.type)"  #ex></mat-slide-toggle>
              </td>
           
            <td>
            <i  class="bi bi-trash3" (click)="updateDeleteId(item.id)" (click)="updateDeletionName(item.name)" data-toggle="modal" data-target="#popup"></i>
          </td>
          </tr>
         
        </tbody>
      </table>
      
    <!-- <div class="d-flex justify-content-center ">
      <button class="btn btn-primary mb-2" (click)="onEdit()"><span *ngIf="!editOn">Save</span><span *ngIf="editOn">Edit</span></button>
    </div> -->
  </div>


  <div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLongTitle">Alert. All asset data associated with this column will be deleted!!</h2>
          <button type="button" class="close  ms-auto" data-dismiss="modal" aria-label="Close" #closeBox>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="d-flex justify-content-center">
          
         
          <button class="btn btn-primary close" data-dismiss="modal" aria-label="Close" (click)="removeExtraField()" (click)="closeBox.click()" style="margin-right: 20px; margin: 10px;">Sure</button>
          <button class="btn btn-danger close" data-dismiss="modal" aria-label="Close" (click)="closeBox.click()" style="margin: 10px;" >Go Back</button>
          
         
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="addField" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" style="display: flex; justify-content: center;">Create Field</h1>
          <button type="button" class="close  ms-auto" data-dismiss="modal" aria-label="Close" #closeBox2>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div  class="modal-body">
          <label>Select Type<span class="text-danger">*</span></label>
          <select  style="width: 100%; margin-top: 10px; border-radius: 5px; height: 30px;"  (change)="addFieldType(mySelect.value)"  #mySelect>
       
            <option value="number" >Number <i class="bi bi-123" style="color: black;"></i></option>
            <option value="text">Text<i class="bi bi-type" style="color: black;"></i></option>
            <option value="date">Date <i class="bi bi-calendar2" style="color: black;"></i></option>
            
            
          </select>
          <div class="extra-field-input">
            <div style="margin-top: 30px;" *ngIf="(extraFieldOption=='number')||(extraFieldOption==null)">
              
              <label for="name" style="margin-bottom: 10px;">Field Name<span class="text-danger">*</span></label>
              <input id="name" type="text" [(ngModel)]="addFieldName" #name>
              <!-- <label for="name">Field Value <input id="value" type="number" [(ngModel)]="addFieldValue" #value></label> -->
              <!-- <i class="bi bi-trash3" (click)="removeFieldOption()">Remove</i> -->
             
            </div>
            <div style="margin-top: 30px;" *ngIf="extraFieldOption=='text'" >
              
              <label for="name" style="margin-bottom: 10px;">Field Name </label>
              <input id="name" type="text" [(ngModel)]="addFieldName" #name>
              <!-- <label for="name">Field Value <input id="value" type="text" [(ngModel)]="addFieldValue" #value></label> -->
              <!-- <i class="bi bi-trash3" (click)="removeFieldOption()">Remove</i> -->
             
            </div>
            <!-- <div style="margin-top: 50px;" *ngIf="extraFieldOption=='checkbox'" class="d-flex justify-content-between">
              <span style="margin-bottom: 10px;"><button class="btn btn-warning">{{extraFieldOption|titlecase}}</button></span>
              <label for="name">Field Name <input id="name" type="text" [(ngModel)]="addFieldName" #name></label>
              
              <i class="bi bi-trash3" (click)="removeFieldOption()">Remove</i>
            </div> -->
            <div style="margin-top: 30px;" *ngIf="extraFieldOption=='date'" >
              
              <label for="name" style="margin-bottom: 10px;">Field Name </label>
              <input id="name" type="text" [(ngModel)]="addFieldName" #name>
              <!-- <label for="name">Date<input id="value" type="date" [(ngModel)]="addFieldValue" #value></label> -->
              <!-- <i class="bi bi-trash3" (click)="removeFieldOption()">Remove</i> -->
             
            </div>
          </div>
          <button class="btn btn-primary" (click)="onAddField()" (click)="closeBox2.click()"style="margin-left: 40%;">Add Fields</button>
         
        </div>
      </div>
    </div>
  </div>
 

  