#logo{
    text-decoration: none;
    color: black;
    font-size: xx-large;
    font-weight: 600;
}
.navoption{
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: 600;
    
}
li{
    padding-right: 50px;
    padding-top: 10px;
    padding-left: 5px;
    
}
button{
    margin-top: 10px;
}
.nav-item i{
    padding-left: 20px;
}
.selected{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px 10px;
   
  
   
    
}
.selected span{
    color: white;
}
.selected i{
    color: white;
}

.header{
    background-color: #12232E;
    color: white;
    text-align: center;
}
img{
    height: 48px;
}
.header-centre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1em;
}
.header-centre h1{
    display: block;
    font-size: 2em;
    font-weight: bold;
    padding-left: 15px;
    font-family: "copperplate gothic light";
    -webkit-font-smoothing: antialiased;
}
.side-navbar{
    position: absolute;
    left: 0rem;
    width: 250px;
    height: calc(100vh - 100px);
    background-color: #FAFAFA;
    box-shadow:rgba(255, 255, 255, 0.5);
    color: black;
    transition: width 150ms linear;
    overflow-x: hidden;
    border: 1px solid lightgray;
   
    
}
.nav-list{
    list-style: none;
    /* height: 100%; */
    padding: 0%;
    margin-bottom: 0%;

}
.nav-list-item i{
    font-size: 20px;
    height: 25px;
    width: 25px;
    margin-right: 15px;
    margin-left: 10px;
    text-align: center;
    line-height: 25px;
   
    
}
.nav-list-item span{
    width: 170px;
    cursor: default;
   
    
    
}
.nav-list-item{
    padding-right: 0px;
    margin: 10px;
    padding: 10px;
    width: 250px;
}
.selected{
    background-color:#252a33;
    border-radius: 10px;
    padding: 10px 10px;
    
   
  
   
    
}
.content-area{
    width: max-content;
    margin-left: 250px;
    display: flex;
    justify-content: center;
    height: 500px;

    color: black;
    display: flex;
    transition: margin 150ms linear;
}

