<app-header></app-header>
<div class="side-navbar">
  <h2 style="padding: 10px 15px;">Custom Fields</h2>
  <ul class="nav-list">


    <li class="nav-list-item" *ngFor="let item of sideBarOption" [ngClass]="{'selected':(current==item.number)}"
      (click)="update(item.number)">

      <i class={{item.icon}}></i>
      <span>

        {{item.name}}
      </span>

    </li>




  </ul>
</div>
<div class="content-area">
  <!-- <app-workorder *ngIf="current==1" ></app-workorder> -->
  <!-- <app-asset-module *ngIf="current==3"></app-asset-module> -->
  <!-- <app-users *ngIf="current==6"></app-users> -->
</div>