<div class="main">
    <div class="option d-flex flex-row mb-3">
        <span [ngClass]="{'selected-option':(currOption==1)}" (click)="onClick(1)">Customers</span>
        <span [ngClass]="{'selected-option':(currOption==2)}" (click)="onClick(2)">Inventory</span>
        <span [ngClass]="{'selected-option':(currOption==3)}" (click)="onClick(3)">Assets</span>
        <span [ngClass]="{'selected-option':(currOption==4)}" (click)="onClick(4)">Work Orders</span>
        <span [ngClass]="{'selected-option':(currOption==5)}" (click)="onClick(5)">Employees</span>
    </div>
    <div>
        <app-asset-module *ngIf="currOption==3"></app-asset-module>
        <app-workorder-module *ngIf="currOption==4"></app-workorder-module>
    </div>
</div>