.main{
  width: calc(100vw - 300px);
  /* margin-left: 140px; */
  height: 75vh;
  /* margin-top: 5%; */
}

.container{
  border: 2px solid #f6f6f6dc;
  border-radius: 10px;
  background-color: white;
  border: 1px solid lightgray;
  width: 98%;
  height: 80vh;
  margin-top: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 45px;
  /* overflow: auto; */
}

.assistant{
  border: 1px solid #f6f6f6dc;
  border-radius: 10px;
  background-color: white;
  border: 1px solid lightgray;
  width: 45%;
  height: 500px;
  margin-top: 10px;
  padding: 20px 20px 20px 40px;
  overflow: auto;
}

.alert{
  width: calc(100vw - 300px);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

h1{
    font-family: Sans-serif;
    margin-top: 20px;
    font-weight: bold;
    font-size: xx-large;
}
#dropdown{
    margin-top: 10px;
}
.downloadTemplate{
    text-decoration: underline;
    cursor: pointer;
}
.downloadTemplate:hover{
    color: #0D6EFD;
    
}
.exportList{
    text-decoration: underline;
    cursor: pointer;
}
.exportList:hover{
    color: #0D6EFD;
}
.mapping{
  width: 40%;
  overflow-y: auto;
  margin-top: 5%;
  border: 1px solid #f6f6f6dc;
  border-radius: 10px;
  background-color: white;
  border: 1px solid lightgray;
  width: 49%;
  height: 500px;
  margin-top: 10px;
  padding: 20px;
  /* overflow: hidden; */
  flex-direction: column;
  max-height: 500px;
}
/* .mapping label{
    margin-right: 50%;
} */
.table-container{
  max-height: 500px;
  overflow-y: auto;
  display: block;
}
thead{
    position: sticky;
    top: 0;
    background-color: #12232E;
    color: white;
    z-index: 100; 
  }
  h2{
    display: flex;
    justify-content: center;
  }
  /* table{
    overflow-y: hidden;
  } */
/* thead, tbody {
    display: block;
  } */
  /* th{
    display: flex;
    justify-content: center;
  } */
  button{
    margin-bottom: 10px;
  }




  /* loader css */

  .loader {
    position: relative;
    width: 54px;
    height: 54px;
    border-radius: 10px;
  }
  
  .loader div {
    width: 8%;
    height: 24%;
    background: rgb(128, 128, 128);
    position: absolute;
    left: 50%;
    top: 30%;
    opacity: 0;
    border-radius: 50px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    animation: fade458 1s linear infinite;
  }
  
  @keyframes fade458 {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0.25;
    }
  }
  
  .loader .bar1 {
    transform: rotate(0deg) translate(0, -130%);
    animation-delay: 0s;
  }
  
  .loader .bar2 {
    transform: rotate(30deg) translate(0, -130%);
    animation-delay: -1.1s;
  }
  
  .loader .bar3 {
    transform: rotate(60deg) translate(0, -130%);
    animation-delay: -1s;
  }
  
  .loader .bar4 {
    transform: rotate(90deg) translate(0, -130%);
    animation-delay: -0.9s;
  }
  
  .loader .bar5 {
    transform: rotate(120deg) translate(0, -130%);
    animation-delay: -0.8s;
  }
  
  .loader .bar6 {
    transform: rotate(150deg) translate(0, -130%);
    animation-delay: -0.7s;
  }
  
  .loader .bar7 {
    transform: rotate(180deg) translate(0, -130%);
    animation-delay: -0.6s;
  }
  
  .loader .bar8 {
    transform: rotate(210deg) translate(0, -130%);
    animation-delay: -0.5s;
  }
  
  .loader .bar9 {
    transform: rotate(240deg) translate(0, -130%);
    animation-delay: -0.4s;
  }
  
  .loader .bar10 {
    transform: rotate(270deg) translate(0, -130%);
    animation-delay: -0.3s;
  }
  
  .loader .bar11 {
    transform: rotate(300deg) translate(0, -130%);
    animation-delay: -0.2s;
  }
  
  .loader .bar12 {
    transform: rotate(330deg) translate(0, -130%);
    animation-delay: -0.1s;
  }
  label{
    display: inline;
  }
  
.table-dark {
  --bs-table-bg: #12232E;
  --bs-table-color: white;
}
  