<div class="d-flex justify-content-center" style=" width: 98%;margin-top: 20px;">
  <div class="d-flex justify-content-between" style=" width: 98%;">

    <div style="height: 40px;">
      <label style="font-size: 24px; font-weight: bold; padding: 10px 0;">Import History</label>
    </div>

  </div>
</div>

<!-- <div  id="history-loader" *ngIf="loading"></div> -->
<div id="import-history-container" class="d-flex justify-content-center">
  <div id="history-background">
    <!-- <h2 class="mb-4 text-center">Import History</h2> -->
    <div class="d-flex justify-content-between" style="width: 100%;">
      <div class="search-bar" style="margin: 0">
        <input type="text" id="role-input" placeholder="Search" style="margin: 0px 0px; height: 40px; " (keyup)="find($event)" #data>
        <i class="bi bi-search" id="searchIcon"></i>
      </div>
      <button class="btn btn-primary" (click)="refresh()" style="max-width: 100px; width: 100%;" >Refresh</button>
    </div>
  

    <div class="table-container history-table" style="margin-top: 20px;" >
        <!-- Component HTML -->
<table mat-table [dataSource]="importHistory" matSort class="table table-bordered table-hover">
  <!-- Date Column -->
  <ng-container matColumnDef="fileName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Filename</th>
    <td mat-cell *matCellDef="let record">{{ record.fileName }}</td>
  </ng-container>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
    <td mat-cell *matCellDef="let record">{{ record.date | date: 'short' }}</td>
  </ng-container>

  <!-- Record Type Column -->
  <ng-container matColumnDef="recordType">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Record Type</th>
    <td mat-cell *matCellDef="let record">{{ record.recordType }}</td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
    <td mat-cell *matCellDef="let record" [ngClass]="getStatusClass(record.status)">
      {{ record.status }}
    </td>
  </ng-container>

  <!-- % Complete Column -->
  <ng-container matColumnDef="complete">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>% Complete</th>
    <td mat-cell *matCellDef="let record">{{ record.complete }}%</td>
  </ng-container>

  <!-- Message Column -->
  <ng-container matColumnDef="message">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Message</th>
    <td mat-cell *matCellDef="let record">{{ record.message }}</td>
  </ng-container>

  <!-- Executed By Column -->
  <ng-container matColumnDef="executedBy">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Executed By</th>
    <td mat-cell *matCellDef="let record">{{ record.executedBy }}</td>
  </ng-container>

  <!-- Header and Row Definitions -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- Component CSS -->
<style>
.table-bordered th, .table-bordered td {
  border: 1px solid lightgray;
}
</style>

      </div>

      <mat-paginator [length]="totalLength"
              (page)="handlePageEvent($event)"
              [pageSize]="pageSize"
              [pageIndex]="pageIndex"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page" style="z-index: 0; margin-top: 10px;">
      </mat-paginator>

  </div>
      
  </div>
  