/* import-history.component.css */
#import-history-container {
  /* padding: 40px 80px; */
  font-family: 'Roboto', sans-serif;
  width: calc(100vw - 300px);
  /* width: 90%;
  padding-left: 5%; */ 
}

#history-background{
  border-radius: 10px;
  border: 1px solid lightgray;
  background-color: white;
  height: 80vh;
  width: 98%;
  /* margin: 30px auto; */
  margin-top: 30px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
  table {
    background-color: #ffffff; /* Light background */
  
    /* border-radius: 8px; 
  overflow: hidden;   
  border-collapse: separate;

  border: 1px solid #ddd; */
 
  }

/* Set a fixed height with scrolling enabled for the table container */
.table-container {
  max-height: 60vh; /* Adjust height as needed */
  overflow-y: auto;
  border: 1px solid white;
}

.history-table{
  width: 100%;
  align-items: center;
  /* margin-left: 7.5%; */
  /* margin-bottom: 20px; */
  border-radius: 10px;
  height: 75%;
}

  h2 {
    text-align: center;
  }
  /* .table-bordered th, .table-bordered td {
    border: 1px solid lightgray;
  } */
  
  .table-bordered th {
    background-color: #252A33;
    color: #ffffff;
    /* position: fixed; */
    /* top: 1; */
    /* z-index: 1;
    width: 100%; */
  }
  
  .mat-header-cell {
    font-weight: 500;
  }
  
  .mat-sort-header-arrow {
    opacity: 1 !important; /* Make sorting icons fully visible */
  }
  
  .completed {
    color: #28a745; /* Green for Completed */
  }
  
  .in-progress {
    color: #ffc107; /* Yellow for In Progress */
  }
  
  .failed {
    color: #dc3545; /* Red for Failed */
  }
  
  .details-container {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
  }

 
.mat-sort-header-container {
    align-items: center;
  }

/* #role-input:focus{
  border: 2px solid #1a65ab; 
} */

#history-loader{

    
  background-image: url('../../../assets/loader.gif');
  /* background-size: 100%; */
  height: 100%;
  background-position:top;
background-repeat: no-repeat;
}

#searchIcon{
  position: absolute;
  /* left: -220px; */
  left: 10px;
  pointer-events: none;
  /* top: 0.65rem; */
  padding: 10px 0 10px 4px;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 2px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 40px;
  max-width: 275px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Search Input Field */
#role-input {
  flex: 1;
  padding: 0 33px 0 33px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  background-color: transparent;
}