<div class="analytics-home">
    <mat-tab-group>
        <mat-tab label="Asset Report">
            <div class="component"  style="height: 80vh; max-height: calc(100vh - 190px); ">
                <app-asset-insights></app-asset-insights>
            </div>
        </mat-tab>
        <mat-tab label="Asset Inspection">
            <div class="component"  style="max-height: calc(100vh - 190px); ">
                <app-asset-inspection></app-asset-inspection>
            </div>
        </mat-tab>
        <!-- <mat-tab label="Asset Inspection">
            <div>
                <app-asset-inspection></app-asset-inspection>
            </div>
        </mat-tab> -->
    </mat-tab-group>
</div>