table i{
    color: red;
    margin-bottom: 2px;
    font-size: larger;
    margin-left: 20px;

}
table{
    width:95%;
   margin: 10px auto;
   border: 1px lightgray solid;
   border-radius: 10px;
}

.card{
    width: calc(100vw - 400px);
    margin-right: 10px;
    margin-left: 60px;
    margin-bottom: 100px;
    height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
    
}
i{
    color: red;
    margin-bottom: 2px;
    font-size: larger;
    margin-left: 20px;
    cursor: default;

}
.dropdown-menu i{
    float: right;
}
.dropdown-menu{
    width: 100px;
}

.extra-field-input input{
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 10px;
    height: 30px;
}
button{
    float: inline-end;
}
.card-body{
    flex: none;
}

.table-container {
  max-height: 70vh;   /* scrollable height */
  overflow-y: auto;
  overflow-x: hidden;
  margin: 10px auto;
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 95%;
}

/* Make table header sticky */
.table-container thead th {
  position: sticky;
  top: 0;
  background: #212529; /* Bootstrap table-dark background */
  color: white;
  z-index: 2;          /* keeps header above body rows */
}
.search-bar {
  display: flex;
  align-items: center;
  border: 2px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 40px;
  max-width: 250px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

#user-search {
  flex: 1;
  /* padding: 6px 10px; */
  padding: 0 0 0 25px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  /* padding-right: 10px; */
  /* padding-left: 25px; */
  background-color: transparent;
}
  #searchIcon-user{
     font-size: medium;
      position: absolute;
      /* left: -220px; */
      left: -15px;
      pointer-events: none;
      color: #333;
      /* top: 0.65rem; */
      /* padding: 10px 12px; */
      padding-left: 4px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }