

<div *ngIf="showAlert" class="alert" [ngClass]="'alert-' + alertType" role="alert" style="margin: 10px 2%; height: 60px; position: fixed; width: calc(95vw - 250px); z-index: 100; left: 250px; ">
  {{ alertMessage }}

  <button type="button" class="btn-close" (click)="showAlert = false" aria-label="Close" style="float: right;"></button>
</div>
<div id="user-main" class="d-flex justify-content-center">


<div *ngIf="!isLoading" id="main" >







  <div class="d-flex justify-content-center" style=" width: 100%;">
    <div class="d-flex justify-content-between" style=" width: 100%;">
      <div class="search-bar">
        <input type="text" id="user-search" style="margin: 10px 10px; border-radius: 5px; height: 30px; " placeholder="Search" (keyup)="find($event)" #data>
        <i class="bi bi-search" id="searchIcon-user"></i>
      </div>


      <div>
      <button class="btn btn-primary" data-toggle="modal" data-target="#invitepopup">+ User</button>
      <a class="dropdown-toggle" type="button" data-target="#customFieldModule" data-toggle="modal" aria-haspopup="true" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-gear-fill mt-1" viewBox="0 0 16 16" style="color: black;">
          <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
        </svg>
      </a>
    </div>

    </div>
  </div>



<div *ngIf="userList.length>0" style="max-height: 90%; position: relative; display: flex; justify-content: center;" class="user_table">
  
  <table class="table" id="usertable" >
    <!-- <thead style="background-color: black; color: white;" id="usertablehead"> -->
    <thead class="table-dark" id="usertablehead">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Job Title</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of searchedUser">
        <!-- <th scope="row">{{userList.indexOf(item)+1}}</th> -->
        <td scope="row">{{userList.indexOf(item)+1}}</td>
        <td>{{item.firstName}} {{item.lastName}}</td>
        <td>{{item.title}}</td>
        <td>{{item.email}}</td>
        <td>{{item.role?.name}}</td>
        <td *ngIf="lockedInfo.get(item.email)==true; else invitedBlock">Locked <i class="bi bi-lock"></i></td>
        <ng-template #invitedBlock>
        <td *ngIf="registredUsersMap.get(item.email)==true&&item.status=='active'">Active</td>
        <td *ngIf="registredUsersMap.get(item.email)==true&&item.status=='inActive'">In Active</td>
        <td *ngIf="registredUsersMap.get(item.email)==undefined">Invited</td >  
        </ng-template>
        <td>
          <button mat-button id="matbutton" [matMenuTriggerFor]="menu">
          <!-- <button mat-icon-button [matMenuTriggerFor]="menu" style="margin: 0;"> -->
            <mat-icon>more_vert</mat-icon>
          </button>
          
          <mat-menu #menu="matMenu">
            <button mat-menu-item [disabled]="registredUsersMap.get(item.email)==true" (click)="resendMail(item.email)">Resend Invite</button>
            <button mat-menu-item [disabled]="lockedInfo.get(item.email)!=true" (click)="unlockAccount(item.email)">Unlock User</button>
            <!-- <button mat-menu-item [disabled]="registredUsersMap.get(item.email)==undefined" (click)="makeInActive(item)"><span class="text-danger" >In Active</span></button> -->
            <button mat-menu-item *ngIf="registredUsersMap.get(item.email)==true&&item.status=='active'" (click)="makeInActive(item)"><span class="text-danger" >In Active</span></button>
            <button mat-menu-item *ngIf="registredUsersMap.get(item.email)==true&&item.status=='inActive'" (click)="makeActive(item)"><span class="text-success" >Active</span></button>
            <button mat-menu-item [disabled]="this?.role != 'ADMIN' && !(this?.detailedRole === 'edit' || this?.detailedRole === 'full')" (click)="selectEditUserFunc(item.email)">
              <span data-toggle="modal" data-target="#editpopup">Edit</span>
            </button>
            
            <button mat-menu-item [disabled]="registredUsersMap.get(item.email)==true" (click)="selectDeleteUserFunc(item.email)" ><span class="text-danger" data-toggle="modal" data-target="#deletepopup">Delete</span></button>
          </mat-menu>
        </td>
        
      </tr>
     
      
     
    </tbody>
  </table>
</div>






  
<div class="modal fade" id="editpopup" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Edit User</h2>
         
          <button type="button" class="btn btn-light btn-sm ms-auto" data-dismiss="modal" aria-label="Close" style="border-radius: 10px; border: 1px solid #c0c0c0;--bs-btn-bg: white" #closeBox>
            <!-- <span aria-hidden="true">&times;</span> -->
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
        <div class="modal-body">
          
          <form [formGroup]="editUserForm" (ngSubmit)="updateUser()" id="userform">
            <div class="d-flex justify-content-between">
              <div >
                <label>First Name<span  class="text-danger">*</span></label>
                <input type="text" style="width: 93%" class="form-control"  formControlName="firstName" [ngModel]="selectEditUser?.firstName">
              </div>
              <div style="padding-left: 20px;">
                <label>Last Name<span  class="text-danger">*</span></label>
                <input type="text"  style="width: 93%" class="form-control"  formControlName="lastName" [ngModel]="selectEditUser?.lastName">
              </div>
            </div>
            <!-- <div >
              <label>Email<span  class="text-danger">*</span></label><br>
                <input type="email" style="width: 97%" class="form-control"  formControlName="email" [ngModel]="selectEditUser?.email"  disabled [disabled]="true">
            </div> -->
            <div >
              <label>Phone</label><br>
                <input type="number" style="width: 97%" class="form-control"  formControlName="phoneNumber" [ngModel]="selectEditUser?.mobileNumber">
            </div>
            <div >
              <label>Job Title</label><br>
                <input type="text" style="width: 97%" class="form-control"  formControlName="jobTitle" [ngModel]="selectEditUser?.title">
            </div>
            <div >
              <label style="margin: 10px 0px;">Status<span  class="text-danger">*</span></label><br>
               
                <select class="form-select" class="form-control"  formControlName="status" style="width: 97%" [ngModel]="selectEditUser?.status" #role>
                 
                 
                  
                  <option value="active">Active</option>
                  <option value="inActive">In Active</option>
                 
                  
                 
                </select>
            </div>
            
            <!-- <div >
              <label style="margin: 10px 0px;">Role<span  class="text-danger">*</span></label><br>
               
                <select class="form-select" class="form-control"  formControlName="role" style="width: 97%" [ngModel]="selectEditUser?.role" #role>
                 
                 
                  
                  <option value="{{role?.id}}" *ngFor="let role of roleAndPermissionList">{{role?.name}}</option>
                 
                  
                 
                </select>
            </div> -->
            <div>
              <label style="margin: 10px 0px;">Role<span class="text-danger">*</span></label><br>
            
              <select class="form-select" formControlName="role" style="width: 97%" 
                      [ngModel]="selectEditUser?.role?.oid" (change)="updateRoleChange($event.target.value)" #role >
                <option *ngFor="let role of roleAndPermissionList" [value]="role.id">
                  {{ role.name }}
                </option>
              </select>
            </div>
            <!-- <div>
              <label style="margin: 10px 0px;">Role <span class="text-danger">*</span></label><br>
            
              <select class="form-select" formControlName="role" style="width: 97%">
                <option *ngFor="let role of roleAndPermissionList" [value]="role.id">
                  {{ role.name }}
                </option>
              </select>
            </div> -->
            
            
            
           <div style="display: flex; justify-content: center; margin: 10px 0px;">
            <button type="submit" class="btn btn-primary" [disabled]="editUserForm.invalid"  (click)="closeBox.click()">Update</button>
          </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>

  <!-- <div class="modal fade" id="invitepopup" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Create Employee</h2>
          <button type="button" class="close  ms-auto" data-dismiss="modal" aria-label="Close" #closeBox>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          <form [formGroup]="userForm" (ngSubmit)="addUser()" id="userform">
            <div class="d-flex justify-content-between">
              <div >
                <label>First Name<span  class="text-danger">*</span></label>
                <input type="text" style="width: 93%" class="form-control"  formControlName="firstName">
              </div>
              <div style="padding-left: 20px;">
                <label>Last Name<span  class="text-danger">*</span></label>
                <input type="text"  style="width: 93%" class="form-control"  formControlName="lastName">
              </div>
            </div>
            <div >
              <label>Email<span  class="text-danger">*</span></label><br>
                <input type="email" style="width: 97%" class="form-control"  formControlName="email">
            </div>
            <div >
              <label>Phone</label><br>
                <input type="number" style="width: 97%" class="form-control"  formControlName="phoneNumber">
            </div>
            <div >
              <label>Job Title</label><br>
                <input type="text" style="width: 97%" class="form-control"  formControlName="jobTitle">
            </div>
            
            <div >
              <label style="margin: 10px 0px;">Role<span  class="text-danger">*</span></label><br>
               
                <select class="form-select" class="form-control"  formControlName="role" style="width: 97%" #role>
                 
              
                  
                  <option value="{{role.name}}" *ngFor="let role of roleAndPermissionList">{{role.name}}</option>
                 
                  
                 
                </select>
            </div>
           <div style="display: flex; justify-content: center; margin: 10px 0px;">
            <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid"  (click)="closeBox.click()">Invite</button>
          </div>
          </form>
        </div>
        
      </div>
    </div>
  </div> -->

  <div class="modal fade" id="invitepopup" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="padding: 13px 15px">
          <h2 class="modal-title" style="margin:0; display: flex; justify-content: center;">Create User</h2>
          
          <button type="button" class="btn btn-light btn-sm ms-auto" data-dismiss="modal" aria-label="Close" style="border-radius: 10px; border: 1px solid #c0c0c0;--bs-btn-bg: white" #closeBoxInvitePop>
            <!-- <span aria-hidden="true">&times;</span> -->
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
        <div class="modal-body">
          
          <form [formGroup]="userForm" (ngSubmit)="addUser()" id="userform">
            <div class="d-flex justify-content-between">
              <div >
                <label>First Name<span  class="text-danger"> *</span></label>
                <input type="text" class="highlight-input" style="font-size: 16px; padding-left: 11px; width: 100%; margin-top: 10px; border-radius: 5px; height: 35px; border: 1px solid #c0c0c0; transition: border-color 0.3s, box-shadow 0.3s;" formControlName="firstName">
              </div>
              <div style="padding-left: 20px;">
                <label>Last Name<span  class="text-danger"> *</span></label>
                <input type="text" class="highlight-input" style="font-size: 16px; padding-left: 11px; width: 100%; margin-top: 10px; border-radius: 5px; height: 35px; border: 1px solid #c0c0c0; transition: border-color 0.3s, box-shadow 0.3s;" formControlName="lastName">
              </div>
            </div>
            <div >
              <label>Email<span  class="text-danger"> *</span></label><br>
                <input type="email" class="highlight-input" style="font-size: 16px; padding-left: 11px; width: 100%; margin-top: 10px; border-radius: 5px; height: 35px; border: 1px solid #c0c0c0;" formControlName="email">
            </div>
            <div >
              <label>Phone</label><br>
                <input type="number" class="highlight-input" style="font-size: 16px; padding-left: 11px; width: 100%; margin-top: 10px; border-radius: 5px; height: 35px; border: 1px solid #c0c0c0; transition: border-color 0.3s, box-shadow 0.3s;" formControlName="phoneNumber">
            </div>
            <div >
              <label>Job Title</label><br>
                <input type="text" class="highlight-input" style="font-size: 16px; padding-left: 11px; width: 100%; margin-top: 10px; border-radius: 5px; height: 35px; border: 1px solid #c0c0c0; transition: border-color 0.3s, box-shadow 0.3s;" formControlName="jobTitle">
            </div>
            
            <div >
              <label>Role<span  class="text-danger"> *</span></label><br>
               
                <select class="form-select form-control"  formControlName="role" style="width: 100%; margin-top: 10px; border-radius: 5px; height: 35px; border: 1px solid #c0c0c0" #role>
                 
                  <!-- <option value="ADMIN" selected>Administrator</option> -->
                  
                  <option value="{{role.id}}" *ngFor="let role of roleAndPermissionList">{{role.name}}</option>
                 
                </select>
            </div>
           <div style="display: flex; justify-content: center; margin-top: 15px;">
            
            <button class="btn btn-light" data-dismiss="modal" aria-label="Close"  style="margin: 10px; width: 100px; margin-right: 30px; border: 1px solid #c0c0c0" >Cancel</button>
            <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid" (click)="closeBoxInvitePop.click()" style="margin: 10px; width: 100px">Invite</button>
          </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>



  <div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-center">
          Successfully Invited!!
          
        </div>
        <div class="d-flex justify-content-center">
        <app-tick-animation></app-tick-animation>
         
          
          
         
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="deletepopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLongTitle">Do you want to delete this user !!</h2>
       
        <button type="button" class="btn btn-light btn-sm ms-auto" data-dismiss="modal" aria-label="Close" style="border-radius: 10px; border: 1px solid #c0c0c0;--bs-btn-bg: white" #closeBox2>
          <!-- <span aria-hidden="true">&times;</span> -->
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
      <div class="d-flex justify-content-center">
        
       
        <button class="btn btn-primary close" data-dismiss="modal" aria-label="Close" (click)="deleteUser()" (click)="closeBox2.click()"  style="margin-right: 20px; margin: 10px;">Yes</button>
        <button class="btn btn-danger close" data-dismiss="modal" aria-label="Close" (click)="closeBox2.click()" style="margin: 10px;" >No</button>
        
       
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="customFieldModule" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLongTitle">All Fields</h2>
        
        <button type="button" class="btn btn-light btn-sm ms-auto" data-dismiss="modal" aria-label="Close" style="border-radius: 10px; border: 1px solid #c0c0c0;--bs-btn-bg: white" #closeBox4>
          <!-- <span aria-hidden="true">&times;</span> -->
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
      <div class="modal-body">
        
          <h3>Select Checkbox</h3>

            <div style="width: 95%;">
            <div>  <mat-checkbox  [color]="checkBoxColor"  [checked]="showMandatoryBasicFields.get('name')==true?true:false"   disabled="true">Name</mat-checkbox></div>
            <div>  <mat-checkbox  [color]="checkBoxColor"  [checked]="showMandatoryBasicFields.get('title')==true?true:false"  disabled="true" >Title</mat-checkbox></div>
            <div>  <mat-checkbox  [color]="checkBoxColor"  [checked]="showMandatoryBasicFields.get('name')==true?true:false"  (change)="mandatoryFieldCheckBox($event.checked,'name')" disabled="true">Name</mat-checkbox></div>
            <div>  <mat-checkbox  [color]="checkBoxColor"  [checked]="showMandatoryBasicFields.get('serialNumber')==true?true:false"  (change)="mandatoryFieldCheckBox($event.checked,'serialNumber')">Serial Number</mat-checkbox></div>
            <div>  <mat-checkbox  [color]="checkBoxColor"  [checked]="showMandatoryBasicFields.get('category')==true?true:false"  (change)="mandatoryFieldCheckBox($event.checked,'category')">Category</mat-checkbox></div>
            <div>  <mat-checkbox  [color]="checkBoxColor"  [checked]="showMandatoryBasicFields.get('customer')==true?true:false"  (change)="mandatoryFieldCheckBox($event.checked,'customer')">Customer</mat-checkbox></div>
            <div>  <mat-checkbox  [color]="checkBoxColor"  [checked]="showMandatoryBasicFields.get('location')==true?true:false"  (change)="mandatoryFieldCheckBox($event.checked,'location')">Location</mat-checkbox></div>
            <div>  <mat-checkbox  [color]="checkBoxColor"  [checked]="showMandatoryBasicFields.get('status')==true?true:false"  (change)="mandatoryFieldCheckBox($event.checked,'status')">Status</mat-checkbox></div>

            <div  *ngFor="let item of extraFieldNameList">
              
            <mat-checkbox  [color]="checkBoxColor" [checked]="selectedExtraColumsMap.get(item)"  (change)="customCheckBox($event.checked,item)">{{item}}</mat-checkbox>
           

              
            


        


        </div>
       
     
      <div class="modal-footer d-flex justify-content-around">
        <button  class="btn btn-light mt-3"  (click)="closeBox4.click()"  >Close</button>
        
      </div>
      </div>
    </div>
  </div>
</div>
</div>

  <div *ngIf="isLoading" style="margin-top: 100px;">
    <!-- Add your loading spinner or message here -->
    <!-- Example with Angular Material progress spinner -->
    <mat-spinner diameter="50" strokeWidth="8"></mat-spinner>
  </div>

</div>