form div{
    border:0.5px solid lightgray;
    height: 80px;
    border-radius: 5px;
    margin: 5px;
}
svg{
    margin: 20px 5px;
}
label{
    width: 80%;
}
form h2{
    margin-bottom: 3px;
}
input{
    margin-right: 5px;
}
.form-control{
    margin-top: 20px;
}
