
<div style="width: 100vw; display: flex; justify-content: center;"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
    Add User
  </button></div>

  
  <div class="row" style="height: calc(100vh - 140px); overflow: scroll; width: 100%;">
    <div class="col">
      <!-- <button *ngIf="searchDataBy" class="sort btn btn-secondary" (click)="removeSearchDataBy()">Search By: {{searchDataBy|titlecase}} &times;</button>
      <button *ngIf="sortedBy" class="sort btn btn-secondary" (click)="removeSort()">Sorted By: {{sortedBy|titlecase}} &times;</button> -->
      
      
      <table class="table" id="asset-table">
          <thead class="table-dark">
              <tr>
                  <!-- <th scope="col">#</th> -->
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>                 
                  <th scope="col">Role</th>
                  
                  
                  
              </tr>
          </thead>
          <tbody>
              <!-- <tr *ngFor="let item of searchedWorkorder" (mouseenter)="editButtonVisibile(workorderlist.indexOf(item)+1)" (mouseleave)="editButtonNotVisible()"> -->
                  <!-- <th scope="row">{{workorderlist.indexOf(item)+1}}</th> -->
                <tr *ngFor="let item of userList">  
            
                  <!-- <td style="color: black;"><b>{{item.description|titlecase}}</b></td> -->
                  <td>{{item.firstName|titlecase}} {{item.lastName|titlecase}}</td>
                 <td>{{item.email}}</td>
                 <td>{{item.role}}</td>
                  
                  
                  <!-- <td>{{item.extraFields.}}</td> -->
                
                  <td>
                    
                  <!-- <i class="bi bi-pencil" [ngClass]="{'editoption':!(editVisibility&&(editButtonId==workorderlist.indexOf(item)+1))}"  style="float: inline-start; margin: 15px 5px;" (click)="workOrderDetail(item.id)" [routerLink]="['/workorder',item.id]"></i>
                  <i class="bi bi-trash"  [ngClass]="{'editoption':!(editVisibility&&(editButtonId==workorderlist.indexOf(item)+1))}" style="color: red; float: inline-start; margin: 15px 5px;" (click)="deleteWorkorder(item.id)"></i> -->
                </td>
                  
                </tr>
               
          </tbody>
        </table>
    </div>
  </div>
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLongTitle">Create Employee</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeBox>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          <form [formGroup]="userForm" (ngSubmit)="addUser()" >
            <div class="d-flex justify-content-between">
              <div >
                <label>First Name</label>
                <input type="text" class="form-control"  formControlName="firstName">
              </div>
              <div style="padding-left: 20px;">
                <label>Last Name</label>
                <input type="text" class="form-control"  formControlName="lastName">
              </div>
            </div>
            <div >
              <label>Email</label><br>
                <input type="email" style="width: 97%" class="form-control"  formControlName="email">
            </div>
            <div >
              <label>Phone</label><br>
                <input type="number" style="width: 97%" class="form-control"  formControlName="phoneNumber">
            </div>
            <div >
              <label>Job Title</label><br>
                <input type="text" style="width: 97%" class="form-control"  formControlName="jobTitle">
            </div>
            <div>
              <mat-slide-toggle  color="primary"   (change)="changeAccess(toggle)" #toggle></mat-slide-toggle> Give Access
            </div>
            <div *ngIf="access">
              <label style="margin: 10px 0px;">Role</label><br>
               
                <select class="form-select" class="form-control"  formControlName="role" style="width: 97%">
                 
                  <option value="ADMIN" selected>Administration</option>
                  <option value="TECHNICAL">Technical</option>
                  <option value="limitedTechnical">Limited Technical</option>
                  <!-- <option value="viewonly">View Only</option> -->
                </select>
            </div>
            <!-- <div class="d-flex justify-content-between form-group">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-person-fill" viewBox="0 0 16 16">
                <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-1 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm-3 4c2.623 0 4.146.826 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-1.245C3.854 11.825 5.377 11 8 11z"/>
              </svg>
              <label for="admin"><h2>Admin <embed src="../../../assets/star.svg" style="height: 10px;"/></h2><p>Admins have full access!! You can invite them </p></label>
              <input type="radio" formControlName="usertype" value="admin" id="admin" >
            </div>
            <div class="d-flex justify-content-between form-group">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-person-fill" viewBox="0 0 16 16">
                <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-1 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm-3 4c2.623 0 4.146.826 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-1.245C3.854 11.825 5.377 11 8 11z"/>
              </svg>
              <label for="technical"><h2>Technical <embed src="../../../assets/star.svg" style="height: 10px;"/></h2><p>Technical have full access!! You can invite them </p></label>
              <input type="radio"  formControlName="usertype" value="technical" id="technical" >
            </div>
            <div class="d-flex justify-content-between form-group">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-person-fill" viewBox="0 0 16 16">
                <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-1 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm-3 4c2.623 0 4.146.826 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-1.245C3.854 11.825 5.377 11 8 11z"/>
              </svg><label for="limitedtechnical"><h2>Limited Technical <embed src="../../../assets/star.svg" style="height: 10px;"/></h2><p>Limited Technical have full access!! You can invite them </p></label>
              <input type="radio"  formControlName="usertype" value="limitedtechnical" id="limitedtechnical" >
            </div>
            <div class="d-flex justify-content-between form-group">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-person-fill" viewBox="0 0 16 16">
                <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-1 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm-3 4c2.623 0 4.146.826 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-1.245C3.854 11.825 5.377 11 8 11z"/>
              </svg><label for="viewonly"><h2>View Only</h2><p>Only can view!! Dont have full access. You can invite them </p></label>
              <input type="radio" formControlName="usertype" value="viewonly" id="viewonly">
            </div>
            <hr>
            <div class="d-flex justify-content-between form-group">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
              </svg><label for="email" style="padding-top: 18px; width: 20%;"><h2>Email</h2></label>
              <input type="email" formControlName="email" class="form-control" id="email" style="height: 30px; width: 90%">
            </div> -->
            <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid" data-toggle="modal" data-target="#popup"  (click)="closeBox.click()">Invite</button>
          </form>
        </div>
        
      </div>
    </div>
  </div>
  <div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-center">
          Successfully Invited!!
          
        </div>
        <div class="d-flex justify-content-center">
        <app-tick-animation></app-tick-animation>
         
          
          
         
        </div>
      </div>
    </div>
  </div>