#main{
  border-radius: 10px;
  border: 1px solid lightgray;

  background-color: white;
  height: 75vh;
  width: 90%;
  padding: 20px;
  /* margin-top: 30px; */

  
}
#user-main{
  width: calc(100vw - 300px);
  margin-top: 30px;

}
#userform input{
    margin: 10px 0px;
    color: #717275;
    border-radius: 8px;
    padding: 12px 20px;
   
   
    border: 3px solid #aab1b8;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline:none
}
#userform input:focus {
    border: 3px solid #1a65ab;
  }



#usertable{
  width: 90%;
  margin: 10px 20px;
  border: 1px solid lightgray;

}


  #usertablehead th{
    
    background-color: black;
    color: white;
  }
  #user-search{
    border-radius: 10px;
    border: 1px solid gray;
    padding-left: 24px;
    outline: none;
    height: 40px;
  }
  #user-search:focus{
    border: 2px solid #1a65ab;
    
  }

  #searchIcon-user{
  
      position: relative;
      left: -90%;
      pointer-events: none;
      /* top: 0.65rem; */

   
  }
  .dropdown-toggle{
    margin: 10px;
  }
  
