<!-- <p>role-and-permission works!</p> -->
<div *ngIf="showAlert" class="alert" [ngClass]="'alert-' + alertType" role="alert" style="margin: 10px 2%; height: 60px; position: fixed; width: calc(95vw - 250px); z-index: 100; left: 250px; ">
  {{ alertMessage }}

  <button type="button" class="btn-close" (click)="showAlert = false" aria-label="Close" style="float: right;"></button>
</div>
<div class="role-main">
  <!-- <div *ngIf="showAlert" class="alert" [ngClass]="'alert-' + alertType" role="alert" style="margin-top: 10px; position: fixed; width: calc(100vw - 300px); z-index: 100;">
    {{ alertMessage }}
 
    <button type="button" class="btn-close" (click)="showAlert = false" aria-label="Close" style="float: right;"></button>
  </div> -->
  <div class="background-tab">
    <div style="width: 100%;" class="d-flex justify-content-center">
      <div style="display: flex; justify-content: space-between; width: 90%;">
        <div>
          <input type="text" id="import-history-input" placeholder="Search By Name" style="margin: 0px 0px 10px 0px; height: 40px; " (keyup)="find($event)" #data>
          <i class="bi bi-search searchIcon"></i>
        </div>
      <button class="btn btn-primary" style="margin: 0px 0px 10px 0px; float: right;" data-toggle="modal" data-target="#add-role">+ Role</button>
      </div>
    </div>
    <div style="width: 100%; overflow-y: scroll; max-height: 80%;" class="d-flex justify-content-center" >
      
      <table class="table roleTable">
        <thead class="table-dark" >
          <tr style="top: 0; position: sticky; z-index: 100;">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col"># of Users</th>
            <th scope="col">Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of searchedRole" style="height: 10px;">
            <th scope="row">{{searchedRole.indexOf(item)+1}}</th>
            <td>{{item.name}}</td>
            <td>{{item.type|titlecase}}</td>
            <td>{{item.ofUser}}</td>
            <td>{{item.status|titlecase}}</td>
            <td >
              <div >
              <mat-menu #appMenu="matMenu">
                <button mat-menu-item (click)="edit(item)" data-toggle="modal" data-target="#edit-role">Edit</button>
                <button mat-menu-item (click)="deleteRole(item.id)">Delete</button>
              </mat-menu>
              
              <button mat-icon-button [matMenuTriggerFor]="appMenu" [disabled]="item.name=='ADMIN'">
                <mat-icon>more_vert</mat-icon>
              </button>
              </div>
            </td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>





  <div class="modal fade" id="add-role" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog  modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLongTitle">Create Role</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"  #closeBox>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="roleAndPermissionForm" (ngSubmit)="addRoleAndPermission()">
            <div class="form-group">
              <label for="name">Name<span  class="text-danger">*</span></label>
              <input type="text" class="form-control" id="name"  formControlName="name"  placeholder="Name">
             
            </div>

           
            <h2 class="mt-2">Permissions</h2>
            <table class="addTable table " style="margin: 10px auto; border-radius: 10px;">
              <thead class="table-dark">
                <tr>
                  <th style="width: 50%; padding-left: 20%;">Name</th>
                  <th style="width: 50%; padding-left: 20%;">Level</th>
                </tr>
              </thead>
              <tr class="form-group">
          
              
              <td>
              <label for="assets">Asset</label>
              </td>
              
              <td>
              <select class="form-select form-control" id="assets" formControlName="assets" #Asset >
                <option value="none" selected>None</option>
                <option value="view">View</option>
                <option value="create" >Create</option>
                <option value="edit" >Edit</option>
                <option value="full" >Full</option>
                
              </select>
            </td>
          
            
          </tr>
          <!-- <hr> -->
            
              <tr class="form-group">
                <td>
                <label for="customers">Customer</label>
              </td>
              <td>
                <select class="form-select form-control" id="customers" formControlName="customers" #customers>
                  <option value="none" selected>None</option>
                  <option value="view" selected>View</option>
                  <option value="create" selected>Create</option>
                  <option value="edit" selected>Edit</option>
                  <option value="full" selected>Full</option>
                  
                </select>
              </td>
              </tr>
            
              <!-- <hr> -->
              <tr class="form-group">
                <td>
                <label for="workOrders">WorkOrders</label>
              </td>
              <td>
                <select class="form-select form-control" id="workOrders" formControlName="workOrders" #workOrders>
                  <option value="none" selected>None</option>
                  <option value="view" selected>View</option>
                  <option value="create" selected>Create</option>
                  <option value="edit" selected>Edit</option>
                  <option value="full" selected>Full</option>
                  
                </select>
              </td>
              </tr>
              <!-- <hr> -->
              <tr class="form-group">
                <td>
                <label for="users">Users</label>
              </td>
              <td>
                  <select class="form-select form-control" id="users" formControlName="users" #users>
                    <option value="none" selected>None</option>
                  <option value="view" selected>View</option>
                  <option value="create" selected>Create</option>
                  <option value="edit" selected>Edit</option>
                  <option value="full" selected>Full</option>
                  
                </select>
              </td>
              </tr>
              <!-- <hr> -->
              <tr class="form-group">
                <td>
                <label for="roleAndPermissions">Role And Permissions</label>
              </td>
              <td>
                  <select class="form-select form-control" id="roleAndPermissions" formControlName="roleAndPermissions" #roleAndPermissions>
                    <option value="none" selected>None</option>
                  <option value="view" selected>View</option>
                  <option value="create" selected>Create</option>
                  <option value="edit" selected>Edit</option>
                  <option value="full" selected>Full</option>
                  
                </select>
              </td>
              </tr>
              <!-- <hr> -->
              <tr class="form-group">
                <td>
                <label for="imports">Imports</label>
              </td>
                <td>
                <select class="form-select form-control" id="imports" formControlName="imports" #imports>
                  <option value="none" selected>None</option>
                  <option value="view" selected>View</option>
                  <option value="create" selected>Create</option>
                  <option value="edit" selected>Edit</option>
                  <option value="full" selected>Full</option>
                  
                </select>
              </td>
              </tr>
              <!-- <hr> -->
              <tr class="form-group">
              <td>
                <label for="category">Category</label>
              </td>
            <td>
                 <select class="form-select form-control" id="category" formControlName="category" #category>
                  <option value="none" selected>None</option>
                  <option value="view" selected>View</option>
                  <option value="create" selected>Create</option>
                  <option value="edit" selected>Edit</option>
                  <option value="full" selected>Full</option>
                  
                </select>
              </td>
              </tr>
              <!-- <hr> -->
              <tr class="form-group">
              <td>
                <label for="inventory">Inventory</label>
              </td>
            <td>
                     <select class="form-select form-control" id="inventory" formControlName="inventory" #inventory>
                      <option value="none" selected>None</option>
                  <option value="view" selected>View</option>
                  <option value="create" selected>Create</option>
                  <option value="edit" selected>Edit</option>
                  <option value="full" selected>Full</option>
                  
                </select>
              </td>
            </tr>
           
            </table>
            
            <!-- <button type="submit" class="btn btn-primary mt-3" (click)="closeBox.click()" [disabled]="workorderform.invalid">Submit</button> -->
            <button type="submit" class="btn btn-primary mt-3" style="margin-left: 45%;" (click)="closeBox.click()" [disabled]="roleAndPermissionForm.invalid" >Submit</button>
            <button class="btn btn-primary"  (click)="closeBox.click()"style="margin-left: 40%;">Cancel</button>
          </form>
         
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="edit-role" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog  modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLongTitle">Edit Role</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"  #closeBox2>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="roleAndPermissionFormEdit" (ngSubmit)="updateRoleAndPermission()">
            <div class="form-group">
              <label for="name">Name<span  class="text-danger">*</span></label>
              <input type="text" class="form-control" id="name"  formControlName="name"  placeholder="Name" [ngModel]="this.currItem?.name">
             
            </div>

            <div class="form-group">
              <label for="status">Status<span  class="text-danger">*</span></label>
              <select class="form-select form-control" id="status" formControlName="status" #Asset [ngModel]="this.currItem?.status" >
               
                <option value="active">Active</option>
                <option value="inactive" >Inactive</option>
               
                
              </select>
            </div>

           
            <h2 class="mt-2">Permissions</h2>
            <table class="addTable table " style="margin: 10px auto; border-radius: 10px;">
              <thead class="table-dark">
                <tr>
                  <th style="width: 50%; padding-left: 20%;">Name</th>
                  <th style="width: 50%; padding-left: 20%;">Level</th>
                </tr>
              </thead>
              <tr class="form-group">
          
              
              <td>
              <label for="assets">Asset</label>
              </td>
              
              <td>
              <select class="form-select form-control" id="assets" formControlName="assets" #Asset [ngModel]="this.currItem?.assets" >
                <option value="none" selected>None</option>
                <option value="view">View</option>
                <option value="create" >Create</option>
                <option value="edit" >Edit</option>
                <option value="full" >Full</option>
                
              </select>
            </td>
          
            
          </tr>
     
            
              <tr class="form-group">
                <td>
                <label for="customers">Customer</label>
              </td>
              <td>
                <select class="form-select form-control" id="customers" formControlName="customers" #customers [ngModel]="this.currItem?.customers">
                  <option value="none" selected>None</option>
                  <option value="view" selected>View</option>
                  <option value="create" selected>Create</option>
                  <option value="edit" selected>Edit</option>
                  <option value="full" selected>Full</option>
                  
                </select>
              </td>
              </tr>
            
          
              <tr class="form-group">
                <td>
                <label for="workOrders">WorkOrders</label>
              </td>
              <td>
                <select class="form-select form-control" id="workOrders" formControlName="workOrders" #workOrders [ngModel]="this.currItem?.workOrders">
                  <option value="none" selected>None</option>
                  <option value="view" selected>View</option>
                  <option value="create" selected>Create</option>
                  <option value="edit" selected>Edit</option>
                  <option value="full" selected>Full</option>
                  
                </select>
              </td>
              </tr>
       
              <tr class="form-group">
                <td>
                <label for="users">Users</label>
              </td>
              <td>
                  <select class="form-select form-control" id="users" formControlName="users" #users  [ngModel]="this.currItem?.users">
                    <option value="none" selected>None</option>
                  <option value="view" selected>View</option>
                  <option value="create" selected>Create</option>
                  <option value="edit" selected>Edit</option>
                  <option value="full" selected>Full</option>
                  
                </select>
              </td>
              </tr>
    
              <tr class="form-group">
                <td>
                <label for="roleAndPermissions">Role And Permissions</label>
              </td>
              <td>
                  <select class="form-select form-control" id="roleAndPermissions" formControlName="roleAndPermissions" #roleAndPermissions [ngModel]="this.currItem?.roleAndPermissions">
                    <option value="none" selected>None</option>
                  <option value="view" selected>View</option>
                  <option value="create" selected>Create</option>
                  <option value="edit" selected>Edit</option>
                  <option value="full" selected>Full</option>
                  
                </select>
              </td>
              </tr>
  
              <tr class="form-group">
                <td>
                <label for="imports">Imports</label>
              </td>
                <td>
                <select class="form-select form-control" id="imports" formControlName="imports" #imports [ngModel]="this.currItem?.imports">
                  <option value="none" selected>None</option>
                  <option value="view" selected>View</option>
                  <option value="create" selected>Create</option>
                  <option value="edit" selected>Edit</option>
                  <option value="full" selected>Full</option>
                  
                </select>
              </td>
              </tr>
  
              <tr class="form-group">
              <td>
                <label for="category">Category</label>
              </td>
            <td>
                 <select class="form-select form-control" id="category" formControlName="category" #category  [ngModel]="this.currItem?.category">
                  <option value="none" selected>None</option>
                  <option value="view" selected>View</option>
                  <option value="create" selected>Create</option>
                  <option value="edit" selected>Edit</option>
                  <option value="full" selected>Full</option>
                  
                </select>
              </td>
              </tr>
     
              <tr class="form-group">
              <td>
                <label for="inventory">Inventory</label>
              </td>
            <td>
                     <select class="form-select form-control" id="inventory" formControlName="inventory" #inventory  [ngModel]="this.currItem?.inventory">
                      <option value="none" selected>None</option>
                  <option value="view" selected>View</option>
                  <option value="create" selected>Create</option>
                  <option value="edit" selected>Edit</option>
                  <option value="full" selected>Full</option>
                  
                </select>
              </td>
            </tr>
           
            </table>
            
            <!-- <button type="submit" class="btn btn-primary mt-3" (click)="closeBox.click()" [disabled]="workorderform.invalid">Submit</button> -->
            <button type="submit" class="btn btn-primary mt-3" style="margin-left: 45%;" (click)="closeBox2.click()" [disabled]="roleAndPermissionFormEdit.invalid" >Update</button>
          </form>
         
        </div>
      </div>
    </div>
  </div>
</div>