

<app-header></app-header>



<div class="loading" *ngIf="loading">
</div>

<div class="side-navbar" (mouseover)="onHover()" (mouseleave)="offHover()"
  [ngClass]="{'nav-list-open':hoverOverSidebar}">
  <ul class="nav-list">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list"
      viewBox="0 0 16 16" style="margin-left: 10px;">
      <path fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
    </svg>
    <hr>
    <li class="nav-list-item" *ngFor="let item of sideBarOption" [ngClass]="{'selected':(current==item.number)}"
      (click)="update(item.number)">

      <i class={{item.icon}} style="color:white;"></i>
      <span>

        {{item.name}}
      </span>

    </li>
    <!-- <hr style="margin: 0.5rem 0;"> -->

    <li class="free-trial-banner" style="margin-top: 400px; margin-bottom: 20px; position: absolute; bottom: 45px;">
      <span [attr.style]="currentSubscriptionMessageStyle">
        {{ currentSubcriptionMessage }}
      </span>
    </li>

    <li class="nav-list-item" style=" position: absolute; bottom: 0;" [routerLink]="['/setting-home']">
      <i class="bi bi-gear-fill" style="color:white;"></i>
      <span>Settings</span>
    </li>

    <!-- <li  class="nav-list-item" [routerLink]="['/setting-home']">
    <i class="bi bi-gear-fill" style="color:white;"></i>
    <span >Settings</span>
  </li> -->

  </ul>
</div>


<div class="content-area" [ngClass]="{'content-area-onhover':!hoverOverSidebar}">

  <div *ngIf="showAlert" class="alert" [ngClass]="'alert-' + alertType" role="alert"
    style="margin: 5px; position: fixed; width: 95%; z-index: 10000;">
    {{ alertMessage }}
    <!-- Optionally, add a close button -->
    <button type="button" class="btn-close" (click)="showAlert = false" aria-label="Close"
      style="float: right;"></button>
  </div>

  <div style="display: flex; flex-direction: column; width: calc(100vw);">
    <div class="back-button" style="padding: 0;">
      <div class="d-flex justify-content-between" style="padding: 3px 20px 5px 20px;">
        <div style="margin-right: 30px;display: flex; justify-content: center; align-items: center;">
          <a (click)="onBack()" style="margin-right: 20px; font-size: large;" id="asset-back">&larr; Back to Assets</a>
          <div class="v1"></div>
          <div style="margin: 0; font-size: larger; color: black;"><b
              style="margin-left: 20px;">{{assetDetails?.name|titlecase}}</b></div>
        </div>

        <!-- <div class="d-flex justify-content-around"> -->
        <div class="button-container">
          <button class="centered-button btn btn-primary submit" style="margin: 5px; padding: 7px 28px;"
            (click)="edit()">Edit</button>
          <!-- <button class="btn btn-primary" data-toggle="modal" data-target="#popup" style="margin: 5px;">Save</button> -->
        </div>

      </div>
    </div>
    <div class="d-flex justify-content-center" *ngIf="!loading" style="margin-top: 15px;">

      <!-- <div class="back-button">
        <a  (click)="onBack()" style="margin-right: 30px;"  >&larr; Back to Assets</a>
      </div> -->


      <div style="margin-top: 10px; color:  #74777a;">



        <div class="card mt-2" style="margin-bottom: 40px;">

          <div class="d-flex justify-content-around">
            <h1 style="display: flex; justify-content: center; margin-top: 10px; width: 95%;">Asset Details</h1>
            <i class="bi bi-qr-code"
              style="display: flex; flex-direction: row-reverse; width: 5%; float: right; margin-top: 15px;font-size: x-large;margin-right: 15px;cursor: pointer;"
              data-target="#qrPopUp" data-toggle="modal"></i>
          </div>

          <div class="d-flex justify-content-around" style="color: #717275; font-size: 16px;">
            <img src="../../../assets/asset_image.jpg" class="image" *ngIf="!assetDetails?.image"
              data-toggle="modal"><img src={{assetDetails.image}} class="image" data-toggle="modal"
              *ngIf="assetDetails?.image">

            <div style="margin-top: 30px;margin-left: 30px;">
              <div style="margin: 0px 2vw;">
                <label for="name" style="color: black; font-weight: bold;">Name<span
                    *ngIf="mandatoryFieldsMap.get('name')" class="text-danger">*</span></label>
                <!-- <input type="text"  id="name"   [(ngModel)]=" companyCustomer.name" disabled> -->
                <div style="margin: 10px;">
                  <p *ngIf="assetDetails?.name"
                    style="word-wrap: break-word; word-break: break-word; max-width: 20vw; white-space: normal;">
                    {{assetDetails.name|titlecase}}</p>
                  <p *ngIf="!assetDetails?.name">&nbsp; </p>
                  <hr style="width: 20vw;">
                </div>
              </div>

              <div style="margin: 0px 2vw;">
                <label for="name" style="color: black; font-weight: bold;">Serial Number<span
                    *ngIf="mandatoryFieldsMap.get('name')" class="text-danger">*</span></label>
                <!-- <input type="text"  id="name"   [(ngModel)]=" companyCustomer.name" disabled> -->
                <div style="margin: 10px;">
                  <p *ngIf="assetDetails?.serialNumber"
                    style="word-wrap: break-word; word-break: break-word; max-width: 20vw; white-space: normal;">
                    {{assetDetails.serialNumber}}</p>
                  <p *ngIf="!assetDetails?.serialNumber">&nbsp; </p>
                  <hr style="width: 20vw;">
                </div>
              </div>
              <div style="margin: 0px 2vw;">
                <label for="name" style="color: black; font-weight: bold;">Category<span
                    *ngIf="mandatoryFieldsMap.get('name')" class="text-danger">*</span></label>
                <!-- <input type="text"  id="name"   [(ngModel)]=" companyCustomer.name" disabled> -->
                <div style="margin: 10px;">
                  <p *ngIf="assetDetails?.category">{{assetDetails.category|titlecase}}</p>
                  <p *ngIf="!assetDetails?.category">&nbsp; </p>
                  <hr style="width: 20vw;">
                </div>
              </div>
            </div>
            <div style="margin-top: 30px;">
              <div style="margin: 0px 2vw;">
                <label for="name" style="color: black; font-weight: bold;">Customer<span
                    *ngIf="mandatoryFieldsMap.get('name')" class="text-danger">*</span></label>
                <!-- <input type="text"  id="name"   [(ngModel)]=" companyCustomer.name" disabled> -->
                <div style="margin: 10px;">
                  <p *ngIf="assetDetails?.customer">{{assetDetails.customer|titlecase}}</p>
                  <p *ngIf="!assetDetails?.customer">&nbsp; </p>
                  <hr style="width: 20vw;">
                </div>
              </div>



              <div style="margin: 0px 2vw;">
                <label for="name" style="color: black; font-weight: bold;">Location<span
                    *ngIf="mandatoryFieldsMap.get('name')" class="text-danger">*</span></label>
                <!-- Location Hierarchy Breadcrumb -->
                <div style="margin: 10px;">
                  <div *ngIf="getFullLocationPath()" class="location-hierarchy-container">
                    <!-- Breadcrumb Display -->
                    <div class="location-breadcrumb">
                      <ng-container *ngFor="let level of getLocationHierarchy(); let last = last">
                        <span class="breadcrumb-item">{{ level | titlecase }}</span>
                        <span *ngIf="!last" class="breadcrumb-separator">
                          <i class="bi bi-chevron-right"></i>
                        </span>
                      </ng-container>
                    </div>
                    
                    <!-- Full Path Fallback (for small screens) -->
                    <div class="location-fullpath" *ngIf="isLongHierarchy()">
                      <small style="color: #6c757d; display: block; margin-top: 8px;">
                        {{ getFullLocationPath() | titlecase }}
                      </small>
                    </div>
                  </div>
                  
                  <!-- Empty State -->
                  <div *ngIf="!getFullLocationPath()" style="color: #6c757d;">
                    <span>&mdash;</span>
                  </div>
                  
                  <hr style="width: 20vw;">
                </div>
              </div>





              <!-- <p class="card-text">Status<br><input type="text" value="{{assetDetails ? assetDetails.status : ''}}" class="status"  disabled></p> -->
              <div style="margin: 0px 2vw;">
                <label for="name" style="color: black; font-weight: bold;">Status<span
                    *ngIf="mandatoryFieldsMap.get('name')" class="text-danger">*</span></label>
                <!-- <input type="text"  id="name"   [(ngModel)]=" companyCustomer.name" disabled> -->
                <div style="margin: 10px;">
                  <p *ngIf="assetDetails?.status">
                    <span *ngIf="assetDetails.status=='active'">Active</span>
                    <span *ngIf="assetDetails.status=='inactive'">Inactive</span>
                    <span *ngIf="assetDetails.status=='outofservice'">Out of Service</span>
                  </p>
                  <p *ngIf="!assetDetails?.status">&nbsp; </p>
                  <hr style="width: 20vw;">
                </div>
              </div>

            </div>





          </div>
        </div>


        <!-- <div class="option d-flex flex-row bd-highlight mb-4"> -->
        <!-- <div class="option d-flex flex-row mb-3" style="color: black"> -->
        <div class="option d-flex flex-row bd-highlight " style="width: 100%; margin: 30px auto;color: black;">
          <span [ngClass]="{'selected-option':(currOption==1),'subTab':(currOption!=1)}" (click)="onClick(1)">Check In/Out</span>
          <span [ngClass]="{'selected-option':(currOption==6),'subTab':(currOption!=6)}" (click)="onClick(6)">Inspection</span>
          <span [ngClass]="{'selected-option':(currOption==2),'subTab':(currOption!=2)}" (click)="onClick(2)">Files</span>
          <!-- <span [ngClass]="{'selected-option':(currOption==3),'subTab':(currOption!=3)}" (click)="onClick(3)">Work Orders</span> -->
          <!-- <span [ngClass]="{'selected-option':(currOption==4),'subTab':(currOption!=4)}" (click)="onClick(4)">Parts</span> -->
          <span [ngClass]="{'selected-option':(currOption==5),'subTab':(currOption!=5)}" (click)="onClick(5)">Custom</span>
        </div>

        <div class="card mt-2" *ngIf="currOption==1">

          <div class="card-body">

            <div class="d-flex justify-content-between align-items-center">
              <div>
                <!-- <button class="btn btn-light" style="padding: 2px 5px; margin-right: 5px;">Current Status : </button> -->
                <label style="padding: 5px 5px; margin-right: 5px;">Current Status :</label> <span
                  [ngClass]="{'checkedIn-status':((checkInOut.length==0)||(checkInOut[0].status=='Checked In')),'checkedOut-status':((checkInOut.length>0)&&(checkInOut[0].status=='Checked Out'))}">{{(checkInOut.length==0)
                  ? 'Checked In': checkInOut[0].status}}</span>
              </div>
              <button data-target="#checkInOut"
                [ngClass]="{'danger-button':((checkInOut.length==0)||(checkInOut[0].status=='Checked In')),'btn btn-primary':((checkInOut.length>0)&&(checkInOut[0].status=='Checked Out'))}"
                data-toggle="modal">{{(checkInOut.length==0) ? 'Check Out': (checkInOut[0].status=='Checked In' ? 'Check Out':'Check In')}}</button>
                
            </div>

            <table class="table" id="asset-detial table" *ngIf="(checkInOut.length!=0)"
              style="margin-top: 10px;font-size: 15px;">
              <thead class="table-dark">
                <tr>

                  <th scope="col">Status</th>
                  <th scope="col">Date</th>
                  <th scope="col">Employee</th>
                  <th scope="col">Notes</th>
                  <th scope="col">Location</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of checkInOut[0].detailsList">

                  <td>{{item.status}}</td>

                  <td>{{ item.updateTime | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                  <td>{{item.employee|titlecase}}</td>
                  <td class="notes-cell">{{item.notes|titlecase}}</td>
                  <td>{{item.location|titlecase}}</td>

                </tr>

              </tbody>
            </table>

          </div>
        </div>

        <div class="card mt-2" *ngIf="currOption==6">

          <div class="card-body">

            <div class="d-flex justify-content-between align-items-center">
              
              <div class="ms-auto">

                  <button class="btn btn-success" data-toggle="modal" data-target="#exportModal">Download
            
                    <!-- <span class="download-icon">⬇</span>Export Excel -->
            
                  </button>
                  
                  <button class="btn btn-primary ms-2"  data-toggle="modal" data-target="#inspection-preview-popup">+ Inspection</button>

              </div>
              
            </div>
           
            <!-- <div style=" float: right;">
       
              <button class="btn btn-primary" style="float: right; margin: 5px;" data-toggle="modal" data-target="#inspection-preview-popup">+ Inspection</button>
 
              <button class="export-btn"  data-toggle="modal" data-target="#exportModal">
          
                <span class="download-icon">⬇</span>Export Excel
        
                </button>
            
                </div> -->
                  
        <table class="table" id="asset-detial table" style="margin-top: 10px;">
          <thead class="table-dark">
              <tr >
                 
                  <th scope="col">ID</th>
                  <th scope="col">Created Date</th>
                  <th scope="col">Modified Date</th>
                  <th scope="col">Inspection Template</th>
                  <th scope="col">Performed By</th>
                  <th scope="col">Notes</th>
                  <th scope="col">Due Date</th>
                  <th scope="col" class="text-center">Status</th>
                  <th class="text-center"> </th>
                 
   
                </tr>
          </thead>
          <tbody>
              <tr *ngFor="let instance of allInspectionInstance">
                 
                <td >{{instance.assetCategoryInspectionInstanceId}}</td>
                  <td>{{instance.createdAt| date: 'MM-dd-YYYY HH:mm:ss'}}</td>
                   <td>{{instance.updatedAt| date: 'MM-dd-YYYY HH:mm:ss'}}</td>
                 
                  <td>{{ instance.assetCategoryInspectionName  }}
                  </td>
                  <td>{{instance.actionPerformedBy|titlecase}}</td>
                  <td>{{instance.notes|titlecase}}</td>
                  <td>{{ (instance.dueDate || instance.inspectionDueDate) ? ((instance.dueDate || instance.inspectionDueDate) | date: 'MM/dd/yyyy') : '—' }}</td>
                  <td class="inspection-status-col">
                  <div class="inspection-status-cell">
                  <span
                    [ngClass]="{
                      'pending': instance.status === 'PENDING',
                      'completed': instance.status === 'COMPLETED',
                      'cancelled': instance.status === 'CANCELLED'
                    }"
                  >
                    {{ instance.status }}
                  </span>
                 
                  </div>
                </td>
                  
                  <td *ngIf="instance.status=='PENDING' || userRole === 'ADMIN';else emptyTd"> <i class="bi bi-file-pdf" style="color: #dc3545; cursor: pointer; font-size: 16px;" (click)="downloadInspectionPDF(instance)" title="Download Inspection PDF"></i><i class="bi bi-eye" data-target="#inspection-edit-popup" data-toggle="modal" (click)="mySelectedInspectionInstanceFunc(instance)"></i></td>
                  <ng-template #emptyTd>
                    <td> <i class="bi bi-file-pdf" style="color: #dc3545; cursor: pointer; font-size: 16px;" (click)="downloadInspectionPDF(instance)" title="Download Inspection PDF"></i><i class="bi bi-eye" data-target="#inspection-view-popup" data-toggle="modal" (click)="mySelectedInspectionInstanceFunc(instance)"></i></td>
                  </ng-template>
                  
                  
                  
                </tr>
               
          </tbody>
        </table>

        <mat-paginator [length]="totalLength" (page)="handleInspectionPageEvent($event)" [pageSize]="pageSize"
          [pageIndex]="pageIndex" [pageSizeOptions]="[5, 10, 20, 50]" aria-label="Select page"
          style="z-index: 0; height: auto; font-size: 15px;">
        </mat-paginator>
        
      </div>

        </div>

        <div class="card mt-2" *ngIf="currOption==2">
          <div class="card-body">
            <div class="file-upload-toolbar">
              <input type="file" (change)="fileUpload($event)" #imageFile multiple style="display:none">
              <button type="button" class="btn btn-primary file-upload-btn" (click)="imageFile.click()">
                Upload File(s)
              </button>
            </div>

            <div class="progress my-3" *ngIf="currentFile">
              <div
                class="progress-bar progress-bar-info progress-bar-striped"
                role="progressbar"
                attr.aria-valuenow="{{ progress }}"
                aria-valuemin="0"
                aria-valuemax="100"
                [ngStyle]="{ width: progress + '%' }"
              >
                Uploading {{ currentFile?.name }} ({{ formatFileSize(currentFile?.size) }}) - {{ progress }}%
              </div>
            </div>

            <div class="file-list-container">
              <table class="table" id="asset-detail-table" *ngIf="fileInfos?.length">
                <thead class="table-dark">
                  <tr >
                 
                    <th scope="col">File</th>
                    <th scope="col">Upload Date</th>
                 
                    <th scope="col">Uploaded By</th>
                    <th scope="col">Actions</th>
   
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of fileInfos">
                 
                    <td>{{item.fileName|titlecase}}</td>
                 
                    <td>{{ item.uploadDateTime | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                    <td>{{item.uploadedBy}}</td>
                    <td>
                 
                      <a (click)="download(item.id,item.fileName)" style="margin-right: 10px; cursor: pointer;"><i class="bi bi-file-earmark-arrow-down"></i></a>
                    <!-- <a (click)="itemDeleteDetails(item.id)" data-target="#popupDelete" data-toggle="modal" style="cursor: pointer;"><i class="bi bi-trash-fill delete"></i></a>-->
                  
                    </td>
                  
                  </tr>
               
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="card mt-2" *ngIf="currOption==3">
          <!-- <h1 style="display: flex; justify-content: center; margin-top: 10px;">WOs</h1> -->
          <div class="card-body">
            <table class="table" id="asset-table" *ngIf="workOrderList?.length">
              <thead class="table-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Description</th>
                  <th scope="col">Customer</th>
                  <th scope="col">Status</th>
                  <th scope="col">Priority</th>
                  <th scope="col">Assigned Technician</th>



                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of workOrderList">
                  <th scope="row">{{workOrderList.indexOf(item)+1}}</th>


                  <td style="color: black;"><b>{{item.description|titlecase}}</b></td>
                  <td>{{item.customer|titlecase}}</td>
                  <td>
                    <div class="onhold" *ngIf='(item.status=="onHold")'></div>
                    <div class="open" *ngIf='(item.status=="open")'></div>
                    <div class="inprogress" *ngIf='(item.status=="inProgress")'></div>
                    <div class="closed" *ngIf='(item.status=="closed")'></div>{{item.status|titlecase}}
                  </td>
                  <td>
                    <div style="border-radius: 4px;"
                      [ngClass]="{'low':(item.priority  =='Low'),'medium':(item.priority=='Medium'),'high':(item.priority=='High'),'none':(item.priority=='None')}">
                      {{item.priority}}</div>
                  </td>

                  <td>{{item.assignedTechnician|titlecase}}</td>




                </tr>

              </tbody>
            </table>





          </div>
        </div>
        <!-- <div class="card mt-2" *ngIf="currOption==4"> -->
          <!-- <h1 style="display: flex; justify-content: center; margin-top: 10px;">Parts</h1> -->
          <!-- <div class="card-body">Parts</div> -->
        <!-- </div> -->


        <div class="card mt-2" *ngIf="currOption==5">
          <!-- <h1 style="display: flex; justify-content: center; margin-top: 10px;">Custom Fields</h1> -->
          <div class="card-body">

            <div>
              <div *ngFor="let item of extraFieldName">
                <div *ngIf="!extraFieldString.includes(item.name) && showFieldsMap.get(item.name)">
                  <span>{{item.name|titlecase}}<span *ngIf="mandatoryFieldsMap.get(item.name) "
                      class="text-danger"> *</span></span>
                  <input id="value" type="{{item.type}}" [(ngModel)]="extraFieldValue[extraFieldName.indexOf(item)]"
                    disabled>

                </div>
              </div>

            </div>

            <div style="font-size: 16px; color: #717275;">
              <div *ngFor="let item of extraFields">
                <div *ngIf="showFieldsMap.get(item.name)">
                  <span style="color: black; font-weight: bold; font-size: 16px;">{{item.name|titlecase}}<span *ngIf="mandatoryFieldsMap.get(item.name) "
                      class="text-danger"> *</span></span>
                  <!-- <input id="value" type="{{item.type}}" [(ngModel)]="item.value" disabled> -->
                  <div style="margin: 10px;">
                    <p *ngIf="item?.value">{{item.value|titlecase}}</p>
                    <p *ngIf="!item?.value">&nbsp; </p>
                    <hr style="width: 20vw;">
                  </div>

                </div>
              </div>

            </div>

          </div>

        </div>



        <!-- <div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLongTitle">Do you want to update details for {{assetDetails.name}}!!</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeBox>
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="d-flex justify-content-center">
                    
                   
                    <button class="btn btn-primary close" data-dismiss="modal" aria-label="Close" (click)="onCheck()" (click)="closeBox.click()"  style="margin-right: 20px; margin: 10px;">Yes</button>
                    <button class="btn btn-danger close" data-dismiss="modal" aria-label="Close" (click)="closeBox.click()" style="margin: 10px;" >No</button>
                    
                   
                  </div>
                </div>
              </div>
            </div> -->
        <!-- <div class="modal fade" id="imageUploadModel1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLongTitle">Select Image To Upload</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeBox2>
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form class="d-flex justify-content-between">
                      <input type="file" (change)="imageUpload($event)" (click)="closeBox2.click()" #imageFile>
                      <button class="btn btn-danger" (click)="removeTheImage()" (click)="closeBox2.click()">Remove</button>
                    </form>
          
                   
                  </div>
                </div>
              </div>
            </div> -->
        <!-- <div class="modal fade" id="assetdeleteModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLongTitle">Do you want to delete Asset {{assetDetails.name}}!!</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeBox3>
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                    <button class="btn btn-primary" (click)="onDelete()" (click)="closeBox3.click()">DELETE</button>
                    <button class="btn btn-danger close" data-dismiss="modal" aria-label="Close" (click)="closeBox3.click()">CANCEL</button>
                    </form>
                   
                  </div>
                </div>
              </div>
            </div> -->

      </div>
      <!-- <div class="nav-button" >
           
            <button class="btn btn-primary" data-toggle="modal" data-target="#popup" >Save</button>
            
            
            <button class="btn btn-danger" data-toggle="modal" data-target="#assetdeleteModel">Delete</button>
           
         
          </div> -->

    </div>
  </div>


</div>
<!-- <div class="modal fade" id="popup2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header d-flex justify-content-center">
            Successfully Updated
            
          </div>
          <div class="d-flex justify-content-center">
          <app-tick-animation></app-tick-animation>
           
            
            
           
          </div>
        </div>
      </div>
    </div> -->

<!-- Check In/Out -->

<div class="modal fade" id="checkInOut" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="padding: 13px 15px;">
        <h2 class="modal-title" style="margin: 0; display: flex; justify-content: center;" id="exampleModalLongTitle">
          Check In/Out Details</h2>
        <button type="button" class="btn btn-light btn-sm ms-auto" data-dismiss="modal" aria-label="Close" style="border-radius: 10px;" #closeBox3>
          <b class="bi bi-x-lg"></b>
        </button>
      </div>
      <div class="modal-body">
        <!-- <form > -->

        <div>
          <label>Employee<span class="text-danger"> *</span></label>
          <select class="form-select form-control" id="technician" #employeeName [(ngModel)]="selectedEmpName" name="technician">

            <option value="{{technician.firstName}} {{technician.lastName}}"
              *ngFor="let technician of technicalUserList">{{technician.firstName}} {{technician.lastName}}</option>

          </select>
        </div>
        <br>

        <div>
          <label>Notes<span class="text-danger"> *</span></label>
          <textarea id="textArea" class="form-control" #notes></textarea>
        </div>
        <br>

        <div>
          <label>Location</label>
          <input type="text" class="form-control" #location>
        </div>

        <div style="display:flex; justify-content:center; margin-top: 15px;">

          <button class="btn btn-light" (click)="closeBox3.click()" (click)="employeeName.value=''"
            (click)="notes.value=''" (click)="location.value=''"
            style="margin: 10px; border: 1px solid #c0c0c0; width: 100px; margin-right: 30px;">Cancel</button>
          <button class="btn btn-primary" (click)="handleSubmit(employeeName.value,notes.value,location.value)"
            (click)="closeBox3.click()" (click)="employeeName.value=''" (click)="notes.value=''"
            (click)="location.value=''" style="margin: 10px; width: 100px;">Submit</button>
        </div>
        <!-- </form> -->

      </div>
    </div>
  </div>
</div>

<!-- Deleting an attachment -->

<div class="modal fade" id="popupDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="padding: 13px 15px;">
        <h2 class="modal-title" style="margin: 0; display: flex; justify-content: center;">Confirm Delete</h2>
        <button type="button" class="btn btn-light btn-sm ms-auto" data-dismiss="modal" aria-label="Close"
          style="border-radius: 10px;" #closeBox4>
          <b class="bi bi-x-lg"></b>
        </button>
      </div>
      <div class="d-flex justify-content-center">
        <div class="modal-body">

          <h3>Are you sure you want to delete this file '<strong></strong>'?</h3>

          <div class="d-flex justify-content-center" style="margin-top: 15px;">
            <button class="btn btn-light" data-dismiss="modal"
              style="margin: 10px; border: 1px solid #c0c0c0; width: 100px; margin-right: 30px;" aria-label="Close"
              (click)="closeBox4.click()">Cancel</button>
            <button class="btn btn-danger" (click)="deleteFile()" style="margin: 10px; width: 100px"
              (click)="closeBox4.click()">Delete</button>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<!-- View/Download QR Code -->

<div class="modal fade" id="qrPopUp" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width: 540px; width: 100%;">
    <div class="modal-content">
      <div class="modal-header" style="padding: 13px 15px;">
        <h2 class="modal-title" style="margin: 0; display: flex; justify-content: center;">Download QR</h2>
        <button type="button" class="btn btn-light btn-sm ms-auto" data-dismiss="modal" aria-label="Close" style="border-radius: 10px;" #closeBox4>
          <b class="bi bi-x-lg"></b>
        </button>
      </div>
      <div class="d-flex ">
        <div class="modal-body justify-content-around">

          <div class="d-flex justify-content-around qr">
           

            <div class="qr first" id="myqr" *ngIf="qr?.type=='1'">
              <div class="inside" style="width: 200px; margin: 0 auto;">
                  <p style="word-break: break-word; overflow-wrap: break-word; white-space: normal; text-align: center; font-size: 10px; margin: 0; padding-top: 5px; line-height: 1.2;">{{qr.custom}}</p>
                  <qrcode [qrdata]="qrData" [width]="200" [errorCorrectionLevel]="'M'" style="display: flex; justify-content: center;"></qrcode>
                  <p style="word-break: break-word; overflow-wrap: break-word; white-space: normal; text-align: center; font-size: 10px; margin: 0; line-height: 1.2;">{{qr.optional}}</p>
              </div>
          </div>
            <div class="qr second " *ngIf="qr?.type=='2'" id="myqr" style="display: flex;">
  <div class="inside d-flex justify-content-around">
    <div style="margin-top: auto; flex-shrink: 0; width: 200px;">
      <qrcode [qrdata]="qrData" [width]="200" [errorCorrectionLevel]="'M'" style="margin: auto 0px;"></qrcode>
      <p style="word-break: break-word; overflow-wrap: break-word; white-space: normal; font-size: 10px; margin: 0; line-height: 1.2; text-align: center; width: 200px; box-sizing: border-box;">{{qr.custom}}</p>
    </div>
    <div style="margin: auto; flex: 1; min-width: 90px; max-width: 160px; word-break: break-word; overflow-wrap: break-word; padding: 0 10px;">
      <p style="font-family: Copperplate Gothic Light; font-weight: bolder; text-align: center; margin: 0; margin-bottom: 8px; font-size: 11px;">AssetYug</p>
      <p style="word-break: break-word; overflow-wrap: break-word; font-size: 11px; margin: 0; margin-bottom: 4px; line-height: 1.3; text-align: center;">Serial#: <b>{{ assetDetails.serialNumber }}</b></p>
      <p style="word-break: break-word; overflow-wrap: break-word; font-size: 10px; margin: 0; line-height: 1.2; text-align: center;">{{ qr.optional }}</p>
    </div>
  </div>
</div>


          </div>
          <div class="d-flex justify-content-center" style="margin-top: 15px;">
            <div>
              <label>Please Select Size </label>
              <select style="margin: 10px; margin-right: 80px;" [(ngModel)]="qrSize" #size>
                <option value="3">3 x 3</option>
                <option value="5">5 x 5</option>
                <option value="7">7 x 7</option>
              </select>
            </div>
           <button
                (click)="downloadQR()"
                class="btn btn-success"
                [disabled]="qrDownloading"
                style="float: right; align-self: center; min-width: 100px;">
                <span *ngIf="!qrDownloading">Download</span>
                <span *ngIf="qrDownloading">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="margin-right: 6px;"></span>
                  Downloading...
                </span>
              </button>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<!-- Creating an Inspection -->

<div class="modal fade" id="inspection-preview-popup" tabindex="-1" role="dialog" aria-labelledby="addInspectionTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg inspection-steps-dialog" role="document">
    <div class="modal-content" style="max-height: 90vh;">
      <div class="modal-header" style="padding: 13px 15px;">
        <h2 class="modal-title" id="addInspectionTitle" style="margin: 0; display: flex; justify-content: center;">Add Inspection</h2>
        <button type="button" class="btn btn-light btn-sm ms-auto" data-dismiss="modal" aria-label="Close" style="border-radius: 10px;" #closeBox>
          <b class="bi bi-x-lg"></b>
        </button>
      </div>
 
        <div class="modal-body" style="overflow-y: auto;">
  
           <div class="inspection-dropdown-wrap">
            <ng-multiselect-dropdown
              [placeholder]="'Inspection List'"
              [settings]="dropdownSettings"
              [data]="dropdownList"
              [(ngModel)]="selectedItems"
              (onSelect)="onItemSelect($event)"
              (onSelectAll)="onSelectAll($event)"
              (onDeSelect)="onItemDeSelect($event)">
            </ng-multiselect-dropdown>
          </div>
       
          <div *ngIf="selectedItems.length > 0">
            <div *ngFor="let myStep of stepObject" class="inspection-template-block">
              <h3 class="inspection-template-title">{{ myStep.inspectionName }}</h3>
            <div class="table-responsive inspection-table-wrap">
            <table class="table table-bordered inspection-steps-table text-center">
              <thead class="table-dark">
                  <tr >
                      <th scope="col" style="width: 15%;">#Step</th>
                      <th scope="col">Name</th>
                      <th scope="col">Value</th>
                    </tr>
              </thead>
              <tbody>
                <tr *ngFor="let step of myStep.stepValues; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{ step.name }}</td>
                  <td>
                    <ng-container *ngIf="step.type === 'CHECKBOX'; else elseBlock">
                        <mat-checkbox  [color]="checkBoxColor"  [(ngModel)]="step.value" ></mat-checkbox>
                    </ng-container>
                    
                    <ng-template #elseBlock>
                      <input 
                      [type]="step.type || 'TEXT'" 
                      class="form-control"
                     [(ngModel)]="step.value"
                    />
                    </ng-template>
                    
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
            </div>
            <div class="inspection-meta-grid">
              <div>
                <label>Due Date</label>
                <input type="date" class="form-control" [(ngModel)]="dueDateInput">
              </div>
              <div>
                <label>Performed By</label>
                <select class="form-select form-control" [(ngModel)]="inspectionInstance.actionPerformedBy" [ngModelOptions]="{standalone: true}">
                  <option value="{{technician.firstName}} {{technician.lastName}}" *ngFor="let technician of technicalUserList">{{technician.firstName}} {{technician.lastName}}</option>
                </select>
              </div>
              <div>
                <label>Notes</label>
                <input type="text" class="form-control" [ngModel]="inspectionInstance.notes" (change)="addNote($event)">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer inspection-steps-footer">
          <button type="button" class="btn btn-light" style="border: 1px solid #c0c0c0;" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="saveInpectionValue()" (click)="closeBox.click()" [disabled]="selectedItems.length==0">Submit</button>
          <button type="button" class="btn btn-primary" (click)="tempSave()" (click)="closeBox.click()" [disabled]="selectedItems.length==0">Save changes</button>
        </div>
    </div>
  </div>
</div>

<!-- Editing an Inspection -->

<div class="modal fade" id="inspection-edit-popup" tabindex="-1" role="dialog" aria-labelledby="inspectionEditTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg inspection-steps-dialog" role="document">
    <div class="modal-content" style="max-height: 90vh;">
      <div class="modal-header" style="padding: 13px 15px;">
        <h2 class="modal-title" id="inspectionEditTitle" style="margin: 0; display: flex; justify-content: center;">{{selectedInspectionInstance?.assetCategoryInspectionName }} Inspection Steps</h2>

        <div class="d-flex align-items-center ms-auto" style="gap: 6px;">
        <button
          mat-icon-button
          [matMenuTriggerFor]="inspectionEditMenu"
          type="button"
          class="btn-sm"
          *ngIf="selectedInspectionInstance?.status!='CANCELLED'"
          aria-label="More actions"
          style="border-radius: 10px;">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #inspectionEditMenu="matMenu" panelClass="inspection-menu-panel">
          <button
            mat-menu-item
            data-dismiss="modal"
            (click)="cancelInspection()"
            *ngIf="userRole=='ADMIN'">
            Cancel Inspection
          </button>
          <button
            mat-menu-item
            (click)="clearSavedData(); closeBox5.click()"
            *ngIf="selectedInspectionInstance?.status!='CANCELLED'">
            Clear
          </button>
        </mat-menu>

        <button type="button" class="btn btn-light btn-sm ms-auto" data-dismiss="modal" aria-label="Close" style="border-radius: 10px;" (click)="clearData()" #closeBox5>
          <b class="bi bi-x-lg"></b>
        </button>
      </div>
      </div>
      <div class="modal-body" style="overflow-y: auto;">
          <div class="inspection-dropdown-wrap">
          <ng-multiselect-dropdown
  [placeholder]="'Inspection List'"
  [settings]="dropdownSettings"
  [data]="dropdownList"
  [(ngModel)]="selectedItems"
  (onSelect)="onItemSelect($event)"
  (onSelectAll)="onSelectAll($event)"
  (onDeSelect)="onItemDeSelect($event)"
>
</ng-multiselect-dropdown>
          </div>
          <div *ngIf="selectedItems.length > 0">
            <div *ngFor="let myStep of stepObject" class="inspection-template-block">
              <h3 class="inspection-template-title">{{ myStep.inspectionName }}</h3>
            <div class="table-responsive inspection-table-wrap">
            <table class="table table-bordered inspection-steps-table text-center">
              <thead class="table-dark">
                  <tr >
                      <th scope="col" style="width: 15%;">#Step</th>
                      <th scope="col">Name</th>
                      <th scope="col">Value</th>
                    </tr>
              </thead>
              <tbody>
                <tr *ngFor="let step of myStep.stepValues; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{ step.name }}</td>
                  <td>
                    <ng-container *ngIf="step.type === 'CHECKBOX'; else elseBlock">
                        <mat-checkbox  [color]="checkBoxColor" [checked]="step?.value=='true'"  (change)="handleStepCheckox($event.checked,i,step.type)" ></mat-checkbox>
                    </ng-container>
                    
                    <ng-template #elseBlock>
                      <input 
                      [type]="step.type || 'TEXT'" 
                      class="form-control"
                     [(ngModel)]="step.value"
                    />
                    </ng-template>
                    
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
            </div>
            <div class="inspection-meta-grid">
              <div>
                <label>Due Date</label>
                <input type="date" class="form-control" [(ngModel)]="dueDateInput">
              </div>
              <div>
                <label>Notes</label>
                <input type="text" class="form-control" [ngModel]="inspectionInstance.notes" (change)="addNote($event)">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer inspection-steps-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clearData()">Close</button>
          <button type="button" class="btn btn-primary" (click)="saveInpectionValue()" (click)="closeBox5.click()"  *ngIf="selectedInspectionInstance?.status!='CANCELLED'">Submit</button>
          <button type="button" class="btn btn-primary" (click)="tempSave()" (click)="closeBox5.click()"  *ngIf="selectedInspectionInstance?.status!='CANCELLED'">Save changes</button>
        </div>
      <!-- <div class="d-flex justify-content-center"> -->
        <!-- <div class="modal-body"> -->
          <!-- <select  id="inspection" [(ngModel)]="currentInspection" (change)="inspectionChanged()">
            <option [ngValue]="inspection" *ngFor="let inspection of allInspection">{{inspection.name}}</option>
            
          </select> -->
          <!-- <div > -->
            
              
             
                <!-- <tr *ngFor="let step of selectedInspectionInstance?.stepValues; let i = index" style="height:50px">
                  <td>{{ ParseInt(step.inspectionStepId) + 1 }}</td>

                  <td>{{ step.name }}</td>
                  <td>
                    <ng-container *ngIf="step.type === 'CHECKBOX'; else elseBlock">
                      
                     

                        <mat-checkbox  [color]="checkBoxColor"   [checked]="step.value" [ariaDisabled]="true" ></mat-checkbox>

                    </ng-container>
                    
                    <ng-template #elseBlock>
                      <input 
                      [type]="step.type || 'TEXT'"                      
                      [value]="step.value"
                      [disabled]="true"
                    />
                    </ng-template>
                    
                  </td>
                </tr> -->
                
                
                <!-- <tr *ngFor="let step of selectedInspectionInstance?.stepValues; let i = index" style="height:50px">
                  <td>{{ i + 1 }}</td>
                
                  <td>{{ step.name }}</td>
                
                  <td>
                    <ng-container *ngIf="step.type === 'CHECKBOX'; else elseBlock">
                      <mat-checkbox 
                        [color]="checkBoxColor" 
                        [(ngModel)]="step.value">
                      </mat-checkbox>
                    </ng-container>
                
                    <ng-template #elseBlock>
                      <input 
                        [type]="step.type || 'text'"                      
                        [(ngModel)]="step.value"
                      />
                    </ng-template>
                  </td>
                </tr> -->



                <!-- <div *ngFor="let myStep of selectedInspectionInstance?.inspectionTemplates">
              <h1>{{ myStep.inspectionName }}</h1>
            <table class="table" id="asset-detial table" >
              <thead class="table-dark text-center">
                  <tr >
                     
                      
                      <th scope="col">#Step</th>
                     
                      <th scope="col">Name</th>
                      <th scope="col">Value</th>
                     
       
                    </tr>
              </thead>
              <tbody>
                <tr *ngFor="let step of myStep.stepValues; let i = index" style="height:50px">
                  <td>{{i+1}}</td>
       
                   <td> {{step.name}}</td>
              
        
                  <td>
                    <ng-container *ngIf="step.type === 'CHECKBOX' && step.value!=null; else elseBlock">
                      
                        <input type="checkbox" [checked]="step.value === 'true'" (change)="step.value = $event.target.checked">
                      
                    </ng-container>
                    
                    <ng-template #elseBlock>
                      <input 
                      [type]="step.type || 'TEXT'" 
                     
                     
                     [(ngModel)]="step.value"
                    />
                    </ng-template>
                    
                  </td>
                </tr>
                
                
                   
              </tbody>
            </table>
            </div> -->
             
            
           
            <!-- <div *ngIf="selectedInspectionInstance">
      
               Notes: <input type="text" [ngModel]="selectedInspectionInstance.notes" (change)="updateNotedData($event.target.value)">
            </div>
          </div>
        </div> -->
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="updateInspectionInstance()" data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clearSteps()">Close</button>
        </div> -->


        
        
    <!-- </div> -->
  </div>
</div>
</div>


<div class="modal fade" id="inspection-view-popup" tabindex="-1" role="dialog" aria-labelledby="inspectionViewTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg inspection-steps-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header inspection-steps-header">
        <h2 class="modal-title" id="inspectionViewTitle">
          {{ selectedInspectionInstance?.assetCategoryInspectionName }} Inspection Steps
        </h2>
        <button
          type="button"
          class="btn btn-light btn-sm"
          data-dismiss="modal"
          aria-label="Close"
          style="border-radius: 10px; border: 1px solid #c0c0c0; --bs-btn-bg: white"
          (click)="clearData()"
          #closeBox5>
          <i class="bi bi-x-lg"></i>
        </button>
      </div>

      <div class="modal-body inspection-steps-body">
        <div class="inspection-dropdown-wrap">
          <ng-multiselect-dropdown
            [placeholder]="'Inspection List'"
            [settings]="dropdownSettings"
            [data]="selectedItems"
            [(ngModel)]="selectedItems"
            [disabled]="true">
          </ng-multiselect-dropdown>
        </div>

        <div *ngIf="selectedItems.length > 0">
          <div *ngFor="let myStep of stepObject" class="inspection-template-block">
            <h3 class="inspection-template-title">{{ myStep.inspectionName }}</h3>
            <div class="table-responsive inspection-table-wrap">
              <table class="table table-bordered inspection-steps-table text-center">
                <thead class="table-dark">
                  <tr>
                    <th scope="col">#Step</th>
                    <th scope="col">Name</th>
                    <th scope="col">Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let step of myStep.stepValues; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ step.name }}</td>
                    <td>
                      <ng-container *ngIf="step.type === 'CHECKBOX'; else viewStepValue">
                        <mat-checkbox
                          [color]="checkBoxColor"
                          [checked]="step?.value === true || step?.value === 'true'"
                          [disabled]="true">
                        </mat-checkbox>
                      </ng-container>
                      <ng-template #viewStepValue>
                        <input
                          [type]="step.type || 'TEXT'"
                          [ngModel]="step.value"
                          class="form-control"
                          [disabled]="true" />
                      </ng-template>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="inspection-meta-grid">
            <div class="inspection-meta-item">
              <label class="inspection-meta-label">Due Date</label>
              <input
                type="text"
                class="form-control"
                [value]="(selectedInspectionInstance?.dueDate || selectedInspectionInstance?.inspectionDueDate) ? ((selectedInspectionInstance?.dueDate || selectedInspectionInstance?.inspectionDueDate) | date:'MM/dd/yyyy') : 'N/A'"
                disabled />
            </div>
            <div class="inspection-meta-item">
              <label class="inspection-meta-label">Notes</label>
              <input
                type="text"
                class="form-control"
                [ngModel]="inspectionInstance.notes"
                [disabled]="true" />
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer inspection-steps-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clearData()">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Export Inspection Data -->

<div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="padding: 13px 15px;">
        <h2 class="modal-title" style="margin: 0; display: flex; justify-content: center;" id="exampleModalLongTitle">Export Inspections</h2>
        <button type="button" class="btn btn-light btn-sm ms-auto" data-dismiss="modal" aria-label="Close" style="border-radius: 10px;" #exportCloseBox>
          <b class="bi bi-x-lg" ></b>
        </button>
      </div>

      <div class="modal-body">
    
        <div style="display: flex; align-items: center; gap: 8px;margin: 10px 0px;">
          <input type="radio" id="inspection-overview" style="width: auto;" name="exportType" value="inspection-overview" checked  (change)="inspectionExportType='inspection-overview'">
          <label for="inspection-overview">Export Inspection Overview</label>
        </div>
               
        <div style="display: flex; align-items: center; gap: 8px; margin: 10px 0px;">
          <input type="radio" id="inspection-details" style="width: auto;" name="exportType" value="inspection-details"  (change)="inspectionExportType='inspection-details'">
          <label for="inspection-details">Export Inspection Details</label>
        </div>

      </div>
       
      <div class="modal-footer d-flex justify-content-center">
          
        <button class="btn btn-light" (click)="exportCloseBox.click()" style="margin: 10px; border: 1px solid #c0c0c0; width: 100px; margin-right: 30px;">Close</button>
        <button type="submit" class="btn btn-primary" (click)="exportInspectionData()" style="margin: 10px; width: 100px">Export</button>
          
      </div>
    </div>
  </div>
</div>