<ul class="nav justify-content-center header">
  <div class="header-centre">
    
    <h1>AssetYug</h1>
  </div>
      <li class="nav-item">
        <!-- <a class="nav-link navoption dropdown-toggle  btn-group"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Product</a> -->
        <!-- <div class="dropdown">
          <button class="dropbtn" style="color: black;">Dropdown
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <div class="header">
              <h2>Mega Menu</h2>
            </div>
            <div class="row">
              <div class="column">
                <h3>Category 1</h3>
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
              <div class="column">
                <h3>Category 2</h3>
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
              <div class="column">
                <h3>Category 3</h3>
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </div>
          </div>
        </div> -->

        <!-- <div class="dropdown-menu" style="width: 100%; float: left;">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-menu"></div>
          <a class="dropdown-item" href="#">Separated link</a>
          <a class="dropdown-item" style="width: 33%">Product</a>
          <a class="dropdown-item" style="width: 33%">Features</a>
          
        </div> -->

    
      </li>
      <li class="nav-item ">
        <a class="nav-link navoption" href="#">Solution</a>
      </li>
      <li class="nav-item ">
          <a class="nav-link navoption" href="#">Resources</a>
      </li>
      <li class="nav-item">
          <a class="nav-link navoption" href="#">Pricing</a>
      </li>
      <i class="bi bi-search" style="padding-top: 19px;"></i>
      <li class="nav-item"  style="padding-right: 5px;">
          <!-- <a class="nav-link navoption" href="/login">Log in</a> -->
          <a class="nav-link navoption" [routerLink]="['login']">Log in</a>
      </li>
    <button class="btn btn-danger" style="border-radius: 20px; font-weight: bold; height: 40px; padding: 0 15px; background-color: #DE1824;"><a style="text-decoration: none; color: aliceblue;"   [routerLink]="['register']">Start a Free Trial</a></button>
</ul>


