form{
    width: 500px;
    padding: 10px 10px;
    
    margin-top: 50px;
    /* border: 1px solid grey; */
    
    
}
.alert{
  margin: 5px;
}
.register{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    border: 1px solid lightgray;
    margin: 30px auto;
    border-radius: 10px;
    width: 600px;
    font-family: Arial, sans-serif;
    z-index: 1000;
    position: relative;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* margin-top: calc(50vh - 400px); */

}
h2{
    display: flex;
    justify-content: center;
    
}
/* button{
    width: 100%;
    margin-top: 10px;
} */
.header{
    background-color: #12232E;
    color: white;
    text-align: center;
}
img{
    height: 48px;
}
.header-centre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1em;
}
.header-centre h1{
    display: block;
    font-size: 2em;
    font-weight: bold;
    padding-left: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
}
form{
    border: 0px;
}

/* button{
    background-color: #013365 ;
    height: 40px;
    color: white;
    margin-top: 30px;
    
} */
a{
    text-decoration: none; color: #2C1376;  font-weight: bolder;
    
}
#reg{
    
        display: flex;
        justify-content: center;
      
        font-size: 2em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    
    
}
/* ::ng-deep.mat-form-field{
    background-color: gray !important;
  } */
  mat-form-field {
    mat-error {
      color: inherit; /* Disable the default red color */
    }
  }
.modal button{
    background-color: yellow;
    color: black;
}
.modal{
    margin-top: 300px;
}
/* .form-group{
    height: 60px;
} */
.custom-footer {
    text-align: center;
    font-family: 'Arial', sans-serif;
    width: 100%;
    font-size: 14px;
    color: #4a148c; /* Purple color for links */
    padding: 20px 0;
    /* margin: 30px auto; */
    position: relative;
    bottom: 0px;

  }
  
  .custom-footer a {
    color: #4a148c;
    text-decoration: none;
    font-weight: bold;
  }
  
  .custom-footer a:hover {
    text-decoration: underline;
  }
  
  .custom-footer p {
    margin: 5px 0;
    line-height: 1.5;
  }
  .copyright{
    color: black;
  }
  input{
    text-decoration: none;
  }
  ::ng-deep .mat-form-field-infix input {
    box-shadow: none !important; /* Removes the shadow */
    outline: none !important;    /* Removes the blue outline */
    border: none !important;     /* Removes any border */
  }
  
  ::ng-deep .mat-form-field-infix {
    background-color: transparent !important; /* Removes white background */
  }
  ::ng-deep .mat-input-element:focus {
    outline: none !important; /* Remove the focus outline */
    box-shadow: none !important; /* Remove any focus shadow */
  }
  